<template>
  <router-link
    :to="{ name: 'tehila:event', params: { id: event.id } }"
    class="event-row"
  >
    <div class="event-date">
      <div>{{ formattedEventDate }}</div>
      <div>{{ eventWeekDay }}</div>
    </div>
    <event-icon class="event-icon" :event_type="this.event.event_type" />
    <div class="event-description">
      <span>{{ event_type }}</span>
      <br />{{ event.description }}
    </div>
    <div class="event-stream">
      <a v-if="event.link" class="button is-small" :href="event.link">
        Stream
        <img
          src="@/assets/icons/icons8-external-link.svg"
          alt="external link"
        />
      </a>
    </div>
  </router-link>
</template>

<script>
import EventIcon from "@/components/EventIcon"

export default {
  components: { EventIcon },
  props: ['event'],
  computed: {
    event_type() {
      if (this.event.event_type === 'SERVICE') {
        return 'Dienst'
      } else if (this.event.event_type === 'PRACTICE') {
        return 'Oefensessie'
      } else {
        return ''
      }
    },
    eventDate() {
      return new Date(Date.parse(this.event.date))
    },
    formattedEventDate() {
      if (this.eventDate.getFullYear() !== (new Date()).getFullYear()) {
        return this.eventDate.toLocaleDateString("nl-NL", { month: "long", day: "numeric", year: "numeric" })
      }
      return this.eventDate.toLocaleDateString("nl-NL", { month: "long", day: "numeric" })
    },
    eventWeekDay() {
      return this.eventDate.toLocaleDateString("nl-NL", { weekday: "long", hour: 'numeric', minute: 'numeric' })
    },
  }
}
</script>

<style lang="sass" scoped>
.event-row
  display: flex
  margin: 1.4em 0
  flex-wrap: wrap
  align-items: center
.event-date
  text-align: center
  width: 10em
  div:nth-child(2)
    color: grey
  div:first-child
    color: black
    font-weight: bold
.event-icon
  margin-right: 1em
.event-description
  margin-right: 1em
  flex-grow: 1
  > span
    font-style: italic
</style>