<template>
  <div class="box">
    <h2 class="subtitle mb-2">Bandleden</h2>
    <div
      v-for="member in bandmembers"
      class="bandmember"
    >
      <span>{{ member.name }}</span>
      <button
        :data-testid="`open-member-${member.id}`"
        type="button"
        class="button is-small"
        @click="openModal(member)"
      >
        <img
          src="@/assets/icons/icons8-search.svg"
          alt="Open"
        />
      </button>
    </div>
    <hr />
    <div v-if="invites.length > 0">
      <h3 class="mb-2 has-text-weight-bold">Verstuurde uitnodigingen</h3>
      <div
        v-for="invite in invites"
        class="bandmember"
      >
        <span>{{ invite.invitee.name }}
          <span class="is-size-7">(uitgenodigd door {{ invite.sender.name }} op {{
            $filters.dutchDate(invite.created_time)
          }})</span>
        </span>
        <button
          type="button"
          class="delete"
          @click="deleteInvite(invite.id)"
        >a</button>
      </div>
    </div>
    <button
      type="button"
      class="button is-small"
      @click="inviteModalActive = true"
    >Nieuw lid uitnodigen</button>
    <Modal
      v-if="selectedMember"
      :active="removeModalActive"
      @close="removeModalActive = false"
    >
      <form
        class="box"
        @submit.prevent
      >
        <h3 class="subtitle">{{ selectedMember.name }}<span
            class="is-size-6"
            v-if="selectedMember.name === user.username"
          > (jij)</span></h3>
        <div>
          <a
            v-if="selectedMember.email"
            :href="`mailto:${selectedMember.email}`"
          >{{ selectedMember.email }}</a>
        </div>
        <div
          class="buttons mt-5"
          v-if="bandmembers.length > 1"
        >
          <ButtonWithConfirm
            @confirm="remove"
            buttonClass="button is-danger is-outlined is-small"
            buttonText="Verwijder als lid"
            :confirmText="`Weet je zeker dat je ${selectedMember.name} wil verwijderen?`"
            confirmButtonText="Ja"
            cancelButtonText="Nee"
          />
        </div>
      </form>
    </Modal>
    <Modal
      :active="inviteModalActive"
      @close="inviteModalActive = false"
    >
      <form
        class="box"
        @submit.prevent="inviteMember"
      >
        <h3 class="subtitle">Nodig nieuw lid uit</h3>
        <p>Vraag de username van het nieuwe lid, en vul deze hier in</p>
        <TextInput
          :error="inviteErrors"
          label="Username"
          v-model="inviteName"
        />
        <button
          type="submit"
          class="button is-info"
        >Uitnodiging versturen</button>
      </form>
    </Modal>
  </div>
</template>

<script>
import { Modal, ButtonWithConfirm, TextInput } from '@/shared-vue'
import { mapState } from 'vuex'

export default {
  components: {
    Modal,
    ButtonWithConfirm,
    TextInput
  },
  data() {
    return {
      bandmembers: [],
      invites: [],
      removeModalActive: false,
      selectedMember: null,
      inviteModalActive: false,
      inviteName: '',
      inviteErrors: []
    }
  },
  computed: {
    ...mapState({
      band: state => state.tehila.selectedBand,
      user: state => state.auth.user
    }),
  },
  watch: {
    band() {
      this.getData()
    }
  },
  created() {
    this.getData()
  },
  methods: {
    getData() {
      if (this.band === null) {
        return
      }
      this.$api.get(`api/bands/${this.band.id}/`, data => {
        this.bandmembers = data.bandmembers
        this.invites = data.send_invites
      })
    },
    openModal(member) {
      this.selectedMember = member
      this.removeModalActive = true
    },
    remove() {
      this.$api.put('api/bandmembers/remove/', {
        band: this.band.id,
        bandmember: this.selectedMember.id
      }, _ => {
        this.bandmembers = this.bandmembers.filter(bm => bm.id != this.selectedMember.id)
        this.removeModalActive = false
        if (this.selectedMember.name === this.user.name) {
          this.$store.dispatch('tehila/setBand', null).then(() => {
            this.$router.push({ name: 'tehila:home' })
          })
        }
      })
    },
    inviteMember() {
      this.inviteErrors = []
      if (!this.inviteName) {
        this.inviteErrors.push('Vul een naam in')
        return
      }
      this.$api.put('api/bandmembers/invite/', {
        band: this.band.id,
        invitee: this.inviteName
      }, invite => {
        this.invites.push(invite)
        this.inviteModalActive = false
      })
    },
    deleteInvite(invite_id) {
      this.$api.deleteWithData(`api/bandmembers/invite/`, {
        band: this.band.id,
        id: invite_id
      }, _ => {
        this.invites = this.invites.filter(iv => iv.id != invite_id)
      })
    }
  }
}
</script>

<style scoped>
.bandmember {
  display: flex;
  gap: 1em;
  align-items: center;
  margin-bottom: 0.5em;
}

.bandmember>span {
  flex-grow: 1;
}

.bandmember>button {
  flex-basis: 3.5em;
  flex-grow: 0;
  flex-shrink: 0;
}
</style>