<template>
  <div>
    <NavBar
      class="is-dark no-print"
      :has-badge="invites.length !== 0"
    >
      <template v-slot:brand>
        <RouterLink
          class="navbar-item title"
          style="margin-bottom: 0"
          :to="{ name: 'tehila:home' }"
        >
          Tehila
        </RouterLink>
      </template>
      <template
        v-slot:start
        v-if="user"
      >
        <RouterLink
          v-if="selectedBand !== null"
          class="navbar-item"
          :to="{ name: 'tehila:calendar' }"
        >Agenda</RouterLink>
        <RouterLink
          v-if="selectedBand !== null"
          class="navbar-item"
          :to="{ name: 'tehila:internal-repertoire' }"
        >Repertoire</RouterLink>
        <RouterLink
          v-if="selectedBand !== null"
          class="navbar-item"
          :to="{ name: 'tehila:recorder' }"
        >Recorder</RouterLink>
        <RouterLink
          v-if="selectedBand !== null"
          class="navbar-item"
          :to="{ name: 'tehila:band-stats' }"
        >Stats</RouterLink>
        <RouterLink
          v-if="invites.length !== 0"
          class="navbar-item badge"
          :to="{ name: 'tehila:invites' }"
        >Uitnodigingen</RouterLink>
        <a
          v-if="unreadMessages !== 0"
          class="navbar-item badge"
          href="/admin/sites/contactform/"
        >Berichten</a>
        <div
          v-if="user.tehila && user.tehila.bands.length > 1"
          class="navbar-item has-dropdown is-hoverable"
        >
          <a
            v-if="selectedBand"
            class="navbar-link"
          >{{ selectedBand.name }}</a>
          <div class="navbar-dropdown">
            <a
              v-for="band in user.tehila.bands"
              :key="band.id"
              class="navbar-item"
              @click="changeBand(band, true)"
            >{{ band.name }}</a>
          </div>
        </div>
        <div class="navbar-item">
          <button
            type="button"
            class="button is-small"
            @click="feedbackOpen = true"
          >Feedback</button>
        </div>
      </template>
      <template
        v-slot:end
        v-if="authenticated"
      >
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">Instellingen</a>
          <div class="navbar-dropdown">
            <RouterLink
              class="navbar-item"
              :to="{ name: 'accounts:home' }"
            >Account</RouterLink>
            <RouterLink
              v-if="selectedBand !== null"
              class="navbar-item"
              :to="{ name: 'tehila:band-settings' }"
            >Band/kerk instellingen</RouterLink>
            <template v-if="user.superuser">
              <hr class="navbar-divider" />
              <div class="navbar-item has-text-weight-bold">Superuser</div>
              <RouterLink
                class="navbar-item"
                :to="{ name: 'tehila:collections' }"
              >Songs</RouterLink>
              <RouterLink
                class="navbar-item"
                :to="{ name: 'tehila:tag-manager' }"
              >Tags</RouterLink>
              <a
                class="navbar-item"
                :href="`${backendUrl}admin`"
              >Django Admin</a>
              <a
                class="navbar-item"
                :href="`${backendUrl}beamer/login/`"
              >Beamer Texts</a>
            </template>
            <hr class="navbar-divider" />
            <a
              class="navbar-item"
              href="/docs/"
            >Handleiding</a>
            <a
              class="navbar-item"
              :href="backendUrl"
            >Tehila homepage</a>
          </div>
        </div>
        <div class="navbar-item">
          <a
            class="button"
            @click="logout"
          >Log out</a>
        </div>
      </template>
    </NavBar>

    <RouterView v-if="$route.name === 'accounts:add-new-device'" />

    <LoginPopup v-else-if="!authenticated">
      <template v-slot:disclaimer>Lees <a
          href="/disclaimer/"
          target="_blank"
        >Privacy en disclaimer</a></template>
    </LoginPopup>

    <div
      v-else-if="user.tehila === null"
      class="section"
    >
      <div class="box content">
        <h2>Tehila</h2>
        <p>Welkom {{ user.username }}</p>
        <button
          type="button"
          @click="createBandMember"
          class="button is-primary"
        >
          Start!
        </button>
      </div>
    </div>

    <RouterView v-else-if="$route.name === 'accounts:home' || $route.name === 'tehila:invites'" />

    <div
      style="background-color: #eee"
      v-else-if="user.tehila.bands.length === 0"
      class="section"
    >
      <div class="box content">
        <h2>Tehila</h2>
        <p>Welkom {{ user.username }}</p>
        <p>
          Je zit nog niet in een band, vraag aan een ander lid van je band om je toe te voegen. Of vul het formulier in
          op de <a href="/">home pagina</a> om een nieuwe band te laten aanmaken.
        </p>
      </div>
    </div>

    <div
      v-else-if="selectedBand === null"
      class="section"
    >
      <div class="box content">
        <h2>Tehila</h2>
        <h4>Een band management systeem van Project Sunset</h4>
        <p>Selecteer een band</p>
        <div class="buttons">
          <button
            type="button"
            class="button is-primary"
            v-for="band in user.tehila.bands"
            :key="band.id"
            @click="changeBand(band, false)"
          >
            {{ band.name }}
          </button>
        </div>
      </div>
    </div>

    <RouterView v-else />

    <FeedbackForm
      :open="feedbackOpen"
      @close="feedbackOpen = false"
    />

    <footer class="footer no-print">
      <div class="content has-text-centered has-text-light">
        <p>Made by Bob Luursema</p>
        <a href="https://icons8.com/">Icons from Icons8</a>
      </div>
    </footer>
  </div>
</template>

<script>
import { mapState } from "vuex"
import { NavBar, LoginPopup } from "@/shared-vue"
import FeedbackForm from './FeedbackForm.vue'

export default {
  components: {
    NavBar,
    LoginPopup,
    FeedbackForm
  },
  data() {
    return {
      feedbackOpen: false,
      unreadMessages: 0,
    }
  },
  computed: {
    ...mapState({
      authenticated: state => state.auth.authenticated,
      user: state => state.auth.user,
      selectedBand: state => state.tehila.selectedBand,
      invites: state => state.tehila.invites.data
    }),
    backendUrl() {
      return import.meta.env.VITE_APP_API_URL
    },
  },
  watch: {
    user() {
      this.checkSingleBand()
      this.checkInvites()
      this.checkMessages()
    },
    $route() {
      document.activeElement.blur()
    }
  },
  created() {
    this.checkSingleBand()
    this.checkInvites()
    this.checkMessages()
  },
  methods: {
    checkSingleBand() {
      if (this?.user?.tehila?.bands.length === 1) {
        this.$store.dispatch('tehila/setBand', this.user.tehila.bands[0])
      }
    },
    checkInvites() {
      if (!this.authenticated) {
        return
      }
      this.$store.dispatch('tehila/invites/get')
    },
    checkMessages() {
      if (!this.authenticated || !this.user.superuser) {
        return
      }
      this.$api.get('contact/unread/', response => {
        this.unreadMessages = response.unread_messsages
      })
    },
    createBandMember() {
      this.$api.post(
        'api/bandmembers/',
        { bands: [] },
        _ => {
          this.$store.dispatch("auth/refreshUserData")
        })
    },
    changeBand(band, refresh) {
      this.$store.dispatch('tehila/setBand', band).then(() => {
        if (refresh) {
          if (this.$route.name !== 'tehila:home') {
            this.$router.push({ name: 'tehila:home' })
          } else {
            this.$router.go()
          }
        }
      })
    },
    logout() {
      this.$store.dispatch('tehila/setBand', null)
      this.$store.dispatch('auth/logout')
      setTimeout(() => {
        window.location.href = window.location.origin
      }, 0)
    }
  }
}
</script>

<style scoped>
.badge::after {
  content: '';
  background-color: hsl(348, 100%, 61%);
  width: 10px;
  height: 10px;
  border-radius: 12px;
  position: relative;
  top: -4px;
  right: 2px;
  display: inline-block;
}
</style>