<template>
  <div class="box">
    <select-input
      label="Collection"
      :options="collections.data"
      optionValue="id"
      optionName="title"
      v-model="selectedCollection"
      :can-empty="true"
    ></select-input>
    <div>
      <song-card
        v-for="song in songsPage"
        :key="song.id"
        :songId="song.id"
        :title="song.title"
        :extraText="song.number ? '(' + song.number + ')' : ''"
        :showRecordings="false"
      ></song-card>
    </div>
    <pagination
      style="margin-top: 0.5em"
      class="is-centered"
      :number-of-pages="Math.ceil(songs.length / pagesize)"
      :current-page="page"
      @select-page="page = $event"
    />
  </div>
</template>

<script>
import { SelectInput, NumberInput, Pagination } from '@/shared-vue'
import SongCard from "@/components/SongCard/SongCard.vue"
import { mapState } from "vuex"

export default {
  components: {
    SelectInput,
    SongCard,
    NumberInput,
    Pagination
  },
  created() {
    this.$api.get('api/collections/null/songs/',
      response => {
        this.songs = response.data
      },
      true)
  },
  watch: {
    selectedCollection(newValue) {
      this.$api.get(`api/collections/${newValue}/songs/`,
        response => {
          this.page = 0
          this.songs = response.data
        },
        true)
    }
  },
  data() {
    return {
      selectedCollection: null,
      songs: [],
      page: 0,
      pagesize: 10
    }
  },
  methods: {
    findCollection(song) {
      for (let collection of song.collections) {
        if (collection.collection.id === this.selectedCollection) {
          return collection
        }
      }
      return { number: null }
    }
  },
  computed: {
    ...mapState({
      collections: state => state.tehila.collections,
    }),
    songsPage() {
      return this.songs.slice(this.page * this.pagesize, this.page * this.pagesize + this.pagesize)
    },
    songConfig() {
      return {
        url: "api/songs/",
        fields: {
          title: { label: "Title", type: "text", default: "" },
          release_year: { label: "Release Year", type: "number", default: 0 },
          collections: {
            label: "Collections",
            type: "throughModel",
            default: [],
            modelFields: {
              collection: {
                label: "Collection",
                type: "select",
                default: {
                  id: null
                },
                options: this.collections.data,
                optionValue: "object",
                optionName: "title"
              },
              number: { label: "Number", type: "text", default: "" }
            }
          }
        }
      }
    },
  }
}
</script>