<template>
  <span class="switch-button">
    <img
      src="@/assets/icons/icons8-edit.svg"
      alt="Edit"
    />
    <toggle-switch
      aria-label="toggle edit"
      v-model="localValue"
      :html-id="htmlId"
    />
  </span>
</template>

<script>
import { ToggleSwitch } from '@/shared-vue'

export default {
  components: {
    ToggleSwitch
  },
  props: ["modelValue", "htmlId"],
  computed: {
    localValue: {
      get() {
        return this.modelValue
      },
      set(newValue) {
        this.$emit("update:modelValue", newValue)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.switch-button {
  margin-right: 0.5rem;
  display: inline;

  img {
    margin-right: 0.3rem;
  }
}
</style>