<template>
  <img
    :src="image"
    :alt="imageAlt"
  />
</template>

<script>
import serviceImage from "@/assets/icons/icons8-christian-music-50.png"
import practiceImage from "@/assets/icons/icons8-sheet-music-50.png"

export default {
  props: ['event_type'],
  computed: {
    image() {
      if (this.event_type === 'SERVICE') {
        return serviceImage
      } else if (this.event_type === 'PRACTICE') {
        return practiceImage
      } else {
        return ''
      }
    },
    imageAlt() {
      if (this.event_type === 'SERVICE') {
        return "church service"
      } else if (this.event_type === 'PRACTICE') {
        return "band practice"
      } else {
        return ''
      }
    }
  }
}
</script>