<template>
  <Modal
    :active="open"
    @close="close"
  >
    <form
      class="box content"
      @submit.prevent="send"
    >
      <h3>Feedback voor Tehila</h3>
      <div v-if="response === null">
        <p>Werkt er iets niet? Of wil je een verbetering voorstellen?</p>
        <TextAreaInput
          label="Bericht"
          v-model="message"
          required
        />
        <button
          class="button is-primary"
          type="submit"
        >Versturen</button>
      </div>
      <div
        v-else-if="response === 'error'"
        id="error-notification"
        class="notification is-danger mt-3"
      >Er is een fout gebeurd! Probeer het later opnieuw.</div>
      <div
        v-else-if="response === 'ok'"
        id="ok-notification"
        class="notification is-success mt-3"
      >Je bericht is verstuurd!</div>
    </form>
  </Modal>
</template>

<script>
import { TextAreaInput, Modal } from '@/shared-vue'
import { mapState } from 'vuex'

export default {
  props: {
    open: {
      type: Boolean
    }
  },
  components: {
    TextAreaInput,
    Modal,
  },
  data() {
    return {
      message: '',
      response: null
    }
  },
  computed: {
    ...mapState({
      user: state => state.auth.user
    })
  },
  methods: {
    close() {
      if (this.response !== null) {
        this.response = null
        this.message = ''
      }
      this.$emit('close')
    },
    send() {
      this.$api.post('contact/', {
        name: this.user.username,
        email: this.user.email,
        message: this.message
      }, okResponse => {
        this.response = 'ok'
      },
        false,
        errResponse => {
          this.response = 'error'
        })
    }
  }
}
</script>