<template>
  <div
    v-if="src"
    class="fixed-player"
  >
    <div class="header">
      {{ title }}
      <button
        type="button"
        @click="$store.dispatch('tehila/closeRecording')"
        style="float: right; margin-right: 1rem"
        class="delete"
      ></button>
    </div>
    <div class="player">
      <audio
        ref="audio"
        preload="none"
        controls
      >
        <source
          :src="src"
          :type="audioType"
        />
      </audio>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  computed: {
    audioType() {
      if (this.src) {
        return this.src.slice(-3) === "mp3" ? "audio/mpeg" : "audio/ogg"
      }
      return null
    },
    src() {
      if (this.recording !== null) {
        return this.recording.recording.audio
      }
      return null
    },
    title() {
      if (this.recording !== null) {
        return `${this.recording.song.title} (${this.recording.recording.date})`
      }
      return null
    },
    ...mapState({
      recording: state => state.tehila.playRecording
    })
  },
  watch: {
    src(newSrc) {
      if (newSrc !== null) {
        this.$nextTick(() => {
          this.$refs.audio.load()
          this.$refs.audio.play()
        })
      }
    }
  },
}
</script>

<style scoped>
.fixed-player {
  background-color: lightblue;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 0 1em -0.125em rgba(10, 10, 10, 0.4);
}

.header {
  margin-left: 1rem;
  margin-top: 0.3rem;
}

.player {
  display: flex;
  justify-content: center;
  margin: 0.5rem;
}

.player>audio {
  width: 100%;
}
</style>