<template>
  <div class="recorder box">
    <h1 class="subtitle">Local Recorder</h1>
    <p>
      Met deze local recorder had ik er last van dat het leek alsof er een gate
      op de opname zat, het geluid viel soms weg als het zachter was.
    </p>
    <canvas
      ref="frequencyGraph"
      width="300"
      height="120"
    ></canvas>
    <record-button
      :is-recording="isRecording"
      @toggle="toggleRecord"
    />
    <audio
      style="margin: 2rem 0rem"
      controls
      :src="audioUrl"
      type="audio/webm"
    />
  </div>
</template>

<script>
import RecordButton from './RecordButton.vue'

export default {
  components: {
    RecordButton
  },
  data() {
    return {
      isRecording: false,
      mediaRecorder: null,
      chunks: [],
      audioUrl: null,
      analyser: null,
      dataArray: null,
      canvasCtx: null,
      cvWidth: 0,
      cvHeight: 0,
      bufferLengthAlt: null,
      drawVisual: null
    }
  },
  computed: {
    isNotRecording() {
      return !this.isRecording
    }
  },
  mounted() {
    this.$refs.frequencyGraph.width = Math.min(innerWidth - 50, 300)
    this.canvasCtx = this.$refs.frequencyGraph.getContext('2d')
    this.cvWidth = this.$refs.frequencyGraph.width
    this.cvHeight = this.$refs.frequencyGraph.height
    this.canvasCtx.fillStyle = 'rgb(0, 0, 0)'
    this.canvasCtx.fillRect(0, 0, this.cvWidth, this.cvHeight)
  },
  methods: {
    toggleRecord() {
      if (this.isRecording) {
        this.stop()
      } else {
        this.record()
      }
    },
    stop() {
      this.mediaRecorder.stop()
    },
    record() {
      navigator.mediaDevices.getUserMedia({ audio: true }).then(stream => {
        let audioCtx = new AudioContext()
        let source = audioCtx.createMediaStreamSource(stream)
        this.analyser = audioCtx.createAnalyser()
        this.analyser.fftSize = 256
        source.connect(this.analyser)
        this.bufferLengthAlt = this.analyser.frequencyBinCount
        this.dataArray = new Uint8Array(this.bufferLengthAlt)
        this.canvasCtx.clearRect(0, 0, this.cvWidth, this.cvHeight)

        this.mediaRecorder = new MediaRecorder(stream)
        this.mediaRecorder.ondataavailable = this.dataavailable
        this.mediaRecorder.onstart = this.started
        this.mediaRecorder.onstop = this.stopped
        this.mediaRecorder.start()
      }).catch(err => {
        this.$notify({
          style: 'error',
          text: `${err.name}: ${err.message}`
        })
        throw err
      })
    },
    started() {
      this.isRecording = true
      this.nextFrame()
    },
    dataavailable(event) {
      this.chunks.push(event.data)
    },
    stopped() {
      this.isRecording = false
      cancelAnimationFrame(this.drawVisual)
      this.canvasCtx.fillStyle = 'rgb(0, 0, 0)'
      this.canvasCtx.fillRect(0, 0, this.cvWidth, this.cvHeight)
      let blob = new Blob(this.chunks, { type: this.chunks[0].type })
      if (this.audioUrl !== null) {
        window.URL.revokeObjectURL(this.audioUrl)
      }
      this.audioUrl = window.URL.createObjectURL(blob)
      this.$emit('recording-done', { blob, audioUrl: this.audioUrl })
      this.chunks = []
    },
    nextFrame() {
      this.drawVisual = requestAnimationFrame(this.nextFrame)
      this.analyser.getByteFrequencyData(this.dataArray)
      this.canvasCtx.fillStyle = 'rgb(0, 0, 0)'
      this.canvasCtx.fillRect(0, 0, this.cvWidth, this.cvHeight)
      let barWidth = (this.cvWidth / this.bufferLengthAlt) * 2.5
      let barHeight
      let x = 0
      for (let i = 0; i < this.bufferLengthAlt; i++) {
        barHeight = (this.dataArray[i] / 255) * this.cvHeight
        this.canvasCtx.fillStyle = 'rgb(' + (barHeight + 100) + ',50,50)'
        this.canvasCtx.fillRect(x, this.cvHeight - barHeight, barWidth, barHeight)
        x += barWidth + 1
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.recorder {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 1em;
}
</style>