<template>
  <div class="recording">
    <div>
      <h5>
        <template v-if="title">{{ title }}</template>
        <template v-else>{{
          $filters.dutchDate(recording.date)
          }}</template>
      </h5>
      <p
        v-if="recording.description && recording.description !== 'null'"
        class="is-size-7"
      >
        {{ recording.description }}
      </p>
    </div>
    <div
      class="buttons"
      style="margin-bottom: 0"
    >
      <button
        type="button"
        class="button is-small"
        @click="$emit('play-recording')"
      >
        Play
      </button>
      <EllipsisDropdown>
        <div class="dropdown-item">
          <button
            type="button"
            class="button is-small"
            @click.stop="formActive = true"
            aria-label="toggle edit"
          >
            <img
              src="@/assets/icons/icons8-edit.svg"
              alt="Edit"
            />
          </button>
        </div>
        <div
          v-if="!isPublic"
          class="dropdown-item"
        >
          <button
            type="button"
            class="button is-small"
            @click="setAsPublic"
          >
            Zet op repertoire
          </button>
        </div>
        <div
          v-else
          class="dropdown-item"
        >
          <button
            type="button"
            class="button is-small"
            @click="removeAsPublic"
          >
            Verwijder van repertoire
          </button>
        </div>
        <div class="dropdown-item">
          <ButtonWithConfirm
            @confirm="deleteRecording"
            button-class="button is-small is-danger is-outlined"
            confirm-text="Weet je zeker dat je deze opname wil verwijderen?"
            confirm-button-text="Ja"
            cancel-button-text="Nee"
            buttonText="Verwijder"
          />
        </div>
      </EllipsisDropdown>
    </div>
    <modal
      :active="formActive"
      @close="formActive = false"
    >
      <model-form
        @close="formActive = false"
        :close-button="true"
        modelName="Opname"
        v-model="localRecording"
        :config="formConfig"
        :canDelete="false"
        @submit-form="updatedRecording"
        :loading-screen-on-save="true"
        :partial-update="true"
      ></model-form>
    </modal>
  </div>
</template>

<script>
import { ButtonWithConfirm, ModelForm, Modal, EllipsisDropdown } from "@/shared-vue"

export default {
  components: {
    ButtonWithConfirm,
    Modal,
    ModelForm,
    EllipsisDropdown
  },
  props: ['recording', 'bandSongId', 'title', 'isPublic'],
  data() {
    return {
      formActive: false,
      localRecording: null,
    }
  },
  created() {
    this.localRecording = JSON.parse(JSON.stringify(this.recording))
    delete this.localRecording.audio
    delete this.localRecording.bandsong
  },
  watch: {
    recording(newRecording) {
      this.localRecording = JSON.parse(JSON.stringify(newRecording))
      delete this.localRecording.audio
      delete this.localRecording.bandsong
    }
  },
  computed: {
    audioType() {
      return this.recording.audio.slice(-3) === "mp3" ? "audio/mpeg" : "audio/ogg"
    },
    formConfig() {
      return {
        url: "api/recordings/",
        fields: {
          date: { label: "Datum", type: "date" },
          bandsong: { label: "bandsong", type: "hidden" },
          description: { label: "Omschrijving", type: "text" }
        }
      }
    }
  },
  methods: {
    setAsPublic() {
      this.$api.patch(
        `api/bandsongs/${this.bandSongId}/`,
        {
          public_recording: this.recording.id
        },
        response => {
          this.$store.commit('tehila/bandSongs/setSingle', response)
        }
      )
    },
    removeAsPublic() {
      this.$api.patch(
        `api/bandsongs/${this.bandSongId}/`,
        {
          public_recording: null
        },
        response => {
          this.$store.commit('tehila/bandSongs/setSingle', response)
        }
      )
    },
    updatedRecording(data) {
      this.formActive = false
      this.$emit('updated', data)
    },
    deleteRecording() {
      this.$api.delete(
        `api/recordings/${this.recording.id}/`,
        response => {
          this.$store.dispatch('tehila/bandSongs/getSingle', this.bandSongId)
          this.$emit('deleted')
        }
      )
    }
  }
}
</script>

<style scoped>
.recording {
  border-bottom: 1px solid gray;
  padding: 0.3rem;
  display: flex;
  gap: 1em;
  justify-content: space-between;
}

@media only screen and (max-width: 650px) {
  .recording {
    flex-direction: column;
  }
}

.recording:first-child {
  border-top: 1px solid gray;
  margin-top: 0.5em;
}
</style>