<template>
  <div class="control-wrapper">
    <div
      v-if="isRecording"
      class="recording-arm"
    ></div>
    <div
      v-if="isProcessing"
      class="processing-arm"
    ></div>
    <button
      type="button"
      class="control-button"
      :class="{ 'record-button': !isRecording, 'stop-button': isRecording }"
      @click="$emit('toggle')"
    ></button>
  </div>
</template>

<script>
export default {
  props: {
    isRecording: Boolean,
    isProcessing: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style scoped>
.control-wrapper {
  height: 7rem;
  width: 7rem;
  border-radius: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: grey;
  margin-top: 1rem;
}

.control-button {
  position: absolute;
  background-color: rgb(241, 0, 0);
  border: none;
  box-shadow: 0 0 5px 1px;
  outline: none;
}

.record-button {
  border-radius: 2.5rem;
  width: 5rem;
  height: 5rem;
}

@keyframes rotate {
  100% {
    transform: rotateZ(360deg);
  }
}

.recording-arm {
  position: absolute;
  background: rgb(241, 0, 0);
  height: 7rem;
  width: 0.5rem;
  animation: rotate 2s infinite linear;
}

.processing-arm {
  position: absolute;
  background: rgb(0, 0, 0);
  height: 7rem;
  width: 0.5rem;
  animation: rotate 2s infinite linear;
}

.stop-button {
  border-radius: 0.8rem;
  width: 3.5rem;
  height: 3.5rem;
}
</style>