<template>
  <div>
    <div class="filters">
      <SearchBox
        @search="setSearchTerm"
        label="Zoek op titel"
        :is-searching="isSearching"
        html-id="titel-search"
      ></SearchBox>
      <SearchBox
        @search="searchLyrics"
        label="Zoek in liedtekst"
        :is-searching="isTextSearching"
        html-id="lyrics-search"
      ></SearchBox>
      <div>
        <SelectInput
          v-model="selectedCollection"
          label="Zoek op liedboek"
          :options="collectionOptions"
          optionValue="title"
          optionName="title"
          :canEmpty="true"
        ></SelectInput>
      </div>
      <div>
        <SelectInput
          v-model="tagFilter"
          label="Zoek op tag"
          :options="tags.data"
          optionValue="name"
          optionName="name"
          :canEmpty="true"
        ></SelectInput>
      </div>
      <div v-if="!external">
        <SelectInput
          v-model="sortBy"
          label="Sorteer op"
          :options="[
            { id: 0, name: 'Laatst gespeeld' },
            { id: 1, name: 'Aantal keer gespeeld' },
          ]"
          optionValue="name"
          optionName="name"
          :canEmpty="true"
        ></SelectInput>
      </div>
    </div>
    <hr />
    <div>
      <p v-if="filteredData.length === 0">Geen nummers gevonden</p>
      <SongCard
        style="margin: 0.4em 0"
        :key="row.id"
        v-for="row in filteredData"
        :song-id="row.id"
        :title="row.title"
        :count="row.count"
        :last-played="row.last_played"
        :selectedCollection="selectedCollection"
        :extraText="extraText(row)"
        :songTags="row.tags"
        :has-public-audio="!!row.audio_url"
      ></SongCard>
    </div>
  </div>
</template>

<script>
import { SearchBox, SelectInput } from "@/shared-vue"
import { mapState } from "vuex"
import SongCard from "./SongCard/SongCard"
import MatchScore from "@/match-score/match_score"

let matchScore = null

export default {
  props: {
    data: Array,
    external: Boolean
  },
  components: {
    SearchBox,
    SelectInput,
    SongCard,
  },
  data() {
    return {
      isSearching: false,
      isTextSearching: false,
      selectedCollection: null,
      searchTerm: null,
      sortBy: null,
      selectedRecording: null,
      tagFilter: null,
      lyricFilter: null,
    }
  },
  created() {
    this.$store.dispatch('tehila/collections/get')
    this.$store.dispatch('tehila/tags/get')
    MatchScore().then(wasm => {
      matchScore = wasm.cwrap('match_score', 'number', ['string', 'string'])
      matchScore('hallel', 'halleluja')
    })
  },
  computed: {
    ...mapState({
      collections: state => state.tehila.collections,
      tags: state => state.tehila.tags
    }),
    collectionOptions() {
      let newOptions = [...this.collections.data]
      newOptions.push({ title: 'Niet in een bundel' })
      return newOptions
    },
    filteredData() {
      return this.sorted(this.data.filter(song => {
        let lyricMatches = true
        if (this.lyricFilter !== null) {
          lyricMatches = this.lyricFilter.includes(song.id)
        }
        let titleMatches = true
        if (this.searchTerm !== null && this.searchTerm !== "") {
          titleMatches = matchScore(this.searchTerm, song.title) >= 0
        }
        let collectionMatches = true
        if (this.selectedCollection !== null && this.selectedCollection !== "") {
          if (this.selectedCollection === 'Niet in een bundel') {
            collectionMatches = song.collections.length === 0
          } else {
            collectionMatches = song.collections.map(c => c.collection).includes(this.selectedCollection)
          }
        }
        let tagMatches = true
        if (this.tagFilter !== null) {
          tagMatches = false
          for (let tag of song.tags) {
            if (tag.name === this.tagFilter) {
              tagMatches = true
              break
            }
          }
        }
        return titleMatches && collectionMatches && tagMatches && lyricMatches
      }))
    },
    playerSrc() {
      if (this.selectedRecording) {
        return this.selectedRecording.recording.audio
      }
      return null
    },
    playerTitle() {
      if (this.selectedRecording) {
        if (this.selectedRecording.recording.date) {
          return `${this.selectedRecording.song.title} (${this.selectedRecording.recording.date})`
        }
        return this.selectedRecording.song.title
      }
      return null
    }
  },
  methods: {
    scoreMatch(songTitle) {
      if (songTitle === null || this.searchTerm === null) {
        return 0
      }
      return matchScore(this.searchTerm, songTitle)
    },
    selectRecording(selection) {
      if (this.selectedRecording === null) {
        this.selectedRecording = selection
      }
      else if (selection.recording.id === this.selectedRecording.recording.id) {
        this.$refs.player.$refs.audio.currentTime = 0
        this.$refs.player.$refs.audio.play()
      } else {
        this.selectedRecording = selection
      }
    },
    extraText(row) {
      if (this.sortBy === 'Laatst gespeeld') {
        return `Laatst gespeeld: ${row.last_played.substring(0, 10)}`
      } else if (this.sortBy === 'Aantal keer gespeeld') {
        return `Aantal keer gespeeld: ${row.count}`
      } else {
        return ''
      }
    },
    setSearchTerm(searchTerm) {
      this.searchTerm = searchTerm.toLowerCase()
    },
    searchLyrics(searchTerm) {
      if (searchTerm.length < 3) {
        this.lyricFilter = null
        return
      }
      this.isTextSearching = true
      this.$api.get(
        `api/songs/text-search/?query=${encodeURIComponent(searchTerm)}`,
        response => {
          this.lyricFilter = response.results.map(song => song.id)
          this.isTextSearching = false
        },
        false,
        errResponse => {
          this.isTextSearching = false
        })
    },
    sorted(data) {
      if (this.sortBy === null) {
        return this.sortedDefault(data)
      } else if (this.sortBy === 'Laatst gespeeld') {
        return data.sort((a, b) => {
          if (a.last_played < b.last_played) {
            return -1
          } else if (a.last_played > b.last_played) {
            return 1
          }
          return 0
        })
      } else if (this.sortBy === 'Aantal keer gespeeld') {
        return data.sort((a, b) => {
          if (a.count < b.count) {
            return -1
          } else if (a.count > b.count) {
            return 1
          }
          return 0
        })
      }
    },
    sortedDefault(data) {
      return data.sort((a, b) => {
        if (this.searchTerm !== null && this.searchTerm !== '') {
          const scoreA = this.scoreMatch(a.title)
          const scoreB = this.scoreMatch(b.title)
          if (scoreA < scoreB) {
            return 1
          } else if (scoreA > scoreB) {
            return -1
          }
          return 0
        }
        if (this.selectedCollection === null || this.selectedCollection === "" || this.selectedCollection === "Niet in een bundel" || this.selectedCollection === 'Hillsong' || this.selectedCollection === 'Sela') {
          if (a.title < b.title) {
            return -1
          } else if (a.title > b.title) {
            return 1
          }
          return 0
        } else {
          let aNumber = a.collections.find(c => c.collection === this.selectedCollection).number
          let bNumber = b.collections.find(c => c.collection === this.selectedCollection).number
          if (aNumber < bNumber) {
            return -1
          } else if (aNumber > bNumber) {
            return 1
          }
          return 0
        }
      })
    }
  },
}
</script>

<style scoped>
.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
</style>