<template>
  <div class="box recorder">
    <h1 class="subtitle">
      Server Recorder<span v-if="serverName"> - {{ serverName }}</span>
    </h1>
    <p v-if="!url">Geen server gevonden in het netwerk</p>
    <div class="field has-addons">
      <div class="control">
        <input
          v-model="url"
          class="input is-small"
          type="text"
        />
      </div>
      <div class="control">
        <button
          type="button"
          class="button is-info is-small"
          @click="getDevices"
        >
          Get devices
        </button>
      </div>
    </div>
    <template v-if="selectedDevice !== null">
      <select-input
        v-model="selectedDevice"
        :options="deviceOptions"
      />
      <div v-if="error">{{ error }}</div>
      <record-button
        :is-recording="recordingActive"
        @toggle="toggle"
        :is-processing="isProcessing"
      />
      <audio
        style="margin: 2rem 0rem"
        controls
        :src="audioUrl"
        type="audio/webm"
      />
    </template>
  </div>
</template>

<script>
import { TextInput, SelectInput } from '@/shared-vue'
import RecordButton from '@/components/RecordButton'

export default {
  components: {
    TextInput,
    SelectInput,
    RecordButton
  },
  data() {
    return {
      serverName: null,
      url: "",
      devices: [],
      selectedDevice: null,
      recordingActive: false,
      error: null,
      audioUrl: null,
      isProcessing: false,
    }
  },
  created() {
    this.$api.get('api/recorder-server/', servers => {
      if (servers.length > 0) {
        this.$notify({ loading: true })
      }
      for (let server of servers) {
        const aborter = new AbortController()
        const timeout = setTimeout(() => aborter.abort(), 2000)
        fetch(`${server.url}/devices`, { signal: aborter.signal }).then(response => {
          clearTimeout(timeout)
          return response.json()
        }).then(response => {
          this.url = server.url
          this.serverName = server.name
          this.devices = response
          if (response.includes(server.default_device)) {
            this.selectedDevice = server.default_device
          }
          this.$notify({ loading: false })
        }).catch(err => {
          clearTimeout(timeout)
          this.$notify({ loading: false })
        })
      }
    })
  },
  computed: {
    deviceOptions() {
      return this.devices.map(device => {
        return {
          name: device,
          value: device,
        }
      })
    }
  },
  methods: {
    toggle() {
      if (this.recordingActive) {
        this.stopRec()
      } else {
        this.startRec()
      }
    },
    _fetch(url, options) {
      this.error = null
      return fetch(url, options).then(response => {
        if (!response.ok) {
          response.text().then(text => {
            this.error = text
          })
          return
        }
        return response
      }).catch(err => {
        this.$notify({
          style: 'error',
          text: err,
          duration: 5000
        })
      })
    },
    getDevices() {
      this.serverName = null
      this._fetch(`${this.url}/devices`, {}).then(response => {
        return response.json()
      }).then(json => {
        this.devices = json
        this.selectedDevice = this.devices[0]
      })
    },
    startRec() {
      this.isProcessing = true
      this._fetch(`${this.url}/start-rec?deviceName=${this.selectedDevice}`, { method: 'post' }).then(response => {
        this.isProcessing = false
        this.recordingActive = true
      })
    },
    stopRec() {
      this.recordingActive = false
      this.isProcessing = true
      this._fetch(`${this.url}/stop-rec`, { method: 'post' }).then(response => {
        return response.blob()
      }).then(blob => {
        if (this.audioUrl !== null) {
          window.URL.revokeObjectURL(this.audioUrl)
        }
        this.audioUrl = window.URL.createObjectURL(blob)
        this.$emit('recording-done', { blob, audioUrl: this.audioUrl })
        this.isProcessing = false
      }).catch(err => {
        this.isProcessing = false
        throw err
      })
    }
  }
}
</script>

<style scoped>
.recorder {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 1em;
}
</style>