<template>
  <div>
    <div class="ss-header">
      <h3
        v-if="title"
        class="subtitle"
      >{{ title }}</h3>
      <button
        v-if="closeButton"
        class="delete"
        @click="$emit('close')"
      ></button>
    </div>
    <div>
      <SearchBox
        @search="search"
        label="Zoek op titel of nummer uit een bundel"
        :is-loading="isSearching"
        html-id="song-search"
      />
      <table
        class="table"
        :class="{ 'grey-out': isSearching }"
        style="width: 100%"
        aria-label="song search results"
      >
        <thead>
          <tr>
            <th
              scope="col"
              colspan="2"
            >
              Resultaten
              <span
                v-if="songs.searchResults.count"
                class="is-size-7 has-text-weight-normal"
              >({{ songs.searchResults.count }} nummers gevonden)</span>
            </th>
          </tr>
        </thead>
        <tbody v-if="searchResults.length > 0">
          <tr
            v-for="(song, index) in searchResults"
            :key="song.id"
            :id="`song-search-result-${index}`"
          >
            <td v-if="song">
              <div>
                <p>{{ song.title }}</p>
                <p
                  v-for="songInCollection in song.collections"
                  :key="songInCollection.collection.id"
                  style="font-size: 0.8rem"
                >
                  {{ songInCollection.collection.title }}
                  {{ songInCollection.number }}
                </p>
              </div>
            </td>
            <td v-if="song">
              <p v-if="exclude.includes(song.id)">Toegevoegd</p>
              <button
                type="button"
                v-else
                class="button"
                @click="selectSong(song, false)"
              >
                {{ buttonText }}
              </button>
            </td>
          </tr>
        </tbody>
        <tbody v-else>
          <tr>
            <td>Geen resultaten</td>
          </tr>
        </tbody>
      </table>
      <button
        type="button"
        v-if="!formActive"
        class="button is-small"
        @click="formActive = true"
      >
        Nieuw lied aanmaken
      </button>
      <div v-else>
        <ModelForm
          :close-button="true"
          @close="formActive = false"
          @submit-form="selectSong($event, true)"
          modelName="Song"
          :config="songConfig"
          v-model="formModel"
          api-store="tehila/songs"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { ModelForm, SearchBox } from "@/shared-vue"
import { mapState } from "vuex"

export default {
  components: {
    ModelForm,
    SearchBox
  },
  props: {
    exclude: {
      type: Array,
      default: () => []
    },
    title: String,
    buttonText: String,
    closeButton: {
      type: Boolean,
      default: false,
    }
  },
  data() {
    return {
      formModel: {
        title: null,
        release_year: null,
        collections: [],
      },
      isSearching: false,
      formActive: false,
    }
  },
  created() {
    this.$store.dispatch("tehila/collections/get")
  },
  computed: {
    ...mapState({
      songs: state => state.tehila.songs,
      collections: state => state.tehila.collections
    }),
    songConfig() {
      return {
        url: "api/songs/",
        fields: {
          title: { label: "Titel", type: "text", default: "" },
          release_year: { label: "Release jaar", type: "number", default: null },
          source: { label: "Artiest, bundel, collectie", type: 'text', default: null }
        }
      }
    },
    searchResults() {
      if (!this.songs.searchResults.data) {
        return []
      }
      return this.songs.searchResults.data.slice(0, 10)
    }
  },
  methods: {
    search(searchTerm) {
      this.isSearching = true
      if (searchTerm === "") {
        this.$store.commit('tehila/songs/setSearchResults', [])
        this.isSearching = false
      } else {
        this.$api.get(`api/songs/search/?query=${searchTerm}`,
          response => {
            this.$store.commit('tehila/songs/setSearchResults', response)
            this.isSearching = false
          })
      }
    },
    selectSong(thing, created) {
      let song = thing.id === undefined ? thing.data : thing
      this.formActive = false
      this.$emit("select-song", { song, created })
    }
  }
}
</script>

<style lang="scss" scoped>
.grey-out {
  opacity: 0.5;
}

.ss-header {
  display: flex;
  justify-content: space-between;
}

.subtitle {
  margin-bottom: 1.5rem;
}
</style>
