<template>
  <div
    class="box"
    v-if="todos"
  >
    <h3 style="font-size: 1.2em; font-weight: 600">Openstaande taken</h3>
    <p v-if="hasOpenTasks">
      Dit zijn nummers op de repertoirelijst die nog geen tags, lyrics of jaar
      hebben.</p>
    <p v-else>Geen openstaande taken</p>
    <template v-if="todos.add_tags.length > 0">
      <hr />
      <div
        class="task-title"
        @click="tagsListOpened = !tagsListOpened"
      >
        <h4>Tags toevoegen ({{ todos.add_tags.length }})</h4>
        <a class="icon">
          <i
            v-if="tagsListOpened"
            aria-hidden="true"
            class="arrow up"
          ></i>
          <i
            v-else
            aria-hidden="true"
            class="arrow down"
          ></i>
        </a>
      </div>
      <div v-if="tagsListOpened">
        <SongCard
          v-for="song in todos.add_tags"
          :key="song.id"
          :song-id="song.id"
          :title="song.title"
          submit-text="Klaar"
          @submit-song="submitTagTask"
        />
      </div>
    </template>
    <template v-if="todos.add_lyrics.length > 0">
      <hr />
      <div
        class="task-title"
        @click="lyricsListOpened = !lyricsListOpened"
      >
        <h4>Lyrics toevoegen ({{ todos.add_lyrics.length }})</h4>
        <a class="icon">
          <i
            v-if="lyricsListOpened"
            aria-hidden="true"
            class="arrow up"
          ></i>
          <i
            v-else
            aria-hidden="true"
            class="arrow down"
          ></i>
        </a>
      </div>
      <div v-if="lyricsListOpened">
        <div
          v-for="song in todos.add_lyrics"
          :key="song.id"
          style="
          border: 1px solid gray;
          border-radius: 10px;
          margin-bottom: 0.5em;
          padding: 0.5em;
        "
        >
          {{ song.title }}<br />
          <a :href="`${adminUrl}/tehila/song/${song.id}`">Open Django admin</a>
        </div>
      </div>
    </template>
    <template v-if="todos.add_release_year.length > 0">
      <hr />
      <div
        class="task-title"
        @click="releaseYearListOpened = !releaseYearListOpened"
      >
        <h4>Jaar toevoegen ({{ todos.add_release_year.length }})</h4>
        <a class="icon">
          <i
            v-if="releaseYearListOpened"
            aria-hidden="true"
            class="arrow up"
          ></i>
          <i
            v-else
            aria-hidden="true"
            class="arrow down"
          ></i>
        </a>
      </div>
      <div v-if="releaseYearListOpened">
        <SongCard
          v-for="song in todos.add_release_year"
          :key="song.id"
          :song-id="song.id"
          :title="song.title"
          submit-text="Klaar"
          @submit-song="submitReleaseYearTask"
        />
      </div>
    </template>
    <template v-if="todos.add_collection.length > 0">
      <hr />
      <div
        class="task-title"
        @click="collectionListOpened = !collectionListOpened"
      >
        <h4>Bundel toevoegen ({{ todos.add_collection.length }})</h4>
        <a class="icon">
          <i
            v-if="collectionListOpened"
            aria-hidden="true"
            class="arrow up"
          ></i>
          <i
            v-else
            aria-hidden="true"
            class="arrow down"
          ></i>
        </a>
      </div>
      <div v-if="collectionListOpened">
        <SongCard
          v-for="song in todos.add_collection"
          :key="song.id"
          :song-id="song.id"
          :title="song.title"
          submit-text="Klaar"
          @submit-song="submitCollectionTask"
        />
      </div>
    </template>
  </div>
</template>

<script>
import SongCard from './SongCard/SongCard'
import { mapState } from 'vuex'

export default {
  components: {
    SongCard
  },
  data() {
    return {
      todos: null,
      tagsListOpened: false,
      lyricsListOpened: false,
      releaseYearListOpened: false,
      collectionListOpened: false,
    }
  },
  created() {
    this.getData()
  },
  watch: {
    band() {
      this.getData()
    }
  },
  computed: {
    ...mapState({
      band: state => state.tehila.selectedBand,
    }),
    adminUrl() {
      if (window.location.hostname === 'localhost') {
        return "http://localhost:8000/admin/"
      }
      return "/admin/"
    },
    hasOpenTasks() {
      if (!this.todos) {
        return false
      }
      return (this.todos.add_collection.length > 0
        || this.todos.add_tags.length > 0
        || this.todos.add_lyrics.length > 0
        || this.todos.add_release_year.length > 0)
    }
  },
  methods: {
    getData() {
      if (this.band === null) {
        return
      }
      this.$api.get('api/todos/', response => {
        this.todos = response
      })
    },
    submitTagTask(song) {
      if (song.tags.length === 0) {
        this.$notify({
          style: 'error',
          text: `Je hebt nog geen tags toegevoegd aan "${song.title}"`
        })
      } else {
        this.todos.add_tags = this.todos.add_tags.filter(s => s.id !== song.id)
      }
    },
    submitLyricsTask(song) {
      if (!song.lyrics) {
        this.$notify({
          style: 'error',
          text: `Je hebt nog geen lyrics toegevoegd aan "${song.title}"`
        })
      } else {
        this.$api.get(`api/lyrics/${song.lyrics}/`, response => {
          if (response.verses.length > 0) {
            this.todos.add_lyrics = this.todos.add_lyrics.filter(s => s.id !== song.id)
          } else {
            this.$notify({
              style: 'error',
              text: `Je hebt nog geen lyrics toegevoegd aan "${song.title}"`
            })
          }
        })
      }
    },
    submitReleaseYearTask(song) {
      if (!song.release_year) {
        this.$notify({
          style: 'error',
          text: `Je hebt nog geen jaar toegevoegd aan "${song.title}"`
        })
      } else {
        this.todos.add_release_year = this.todos.add_release_year.filter(s => s.id !== song.id)
      }
    },
    submitCollectionTask(song) {
      if (!song.collections.length) {
        this.$notify({
          style: 'error',
          text: `Je hebt nog geen bundel toegevoegd aan "${song.title}"`
        })
      } else {
        this.todos.add_collection = this.todos.add_collection.filter(s => s.id !== song.id)
      }
    },
  }
}
</script>

<style scoped>
.task-title {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.task-title>h4 {
  font-size: 1.1em;
  margin-bottom: 0.8em;
}
</style>