<template>
  <div v-if="lyrics">
    <div style="display: flex; justify-content: space-between">
      <h4
        ref="title"
        style="font-size: 1.1rem; margin-right: 0.5em"
      >
        Lyrics
        <edit-toggle
          html-id="toggle-edit-lyrics"
          style="margin-left: 1em"
          v-if="(!collapsed || !hasSavedLyrics) && editable"
          v-model="editing"
        />
      </h4>
      <div class="buttons">
        <button
          type="button"
          class="button is-small"
          @click="save"
          v-if="editing && (!collapsed || !hasSavedLyrics)"
          aria-label="save"
          id="save-lyrics"
        >
          <img
            src="@/assets/icons/icons8-save-16.png"
            alt="Save"
          />
        </button>
        <button
          type="button"
          v-if="hasSavedLyrics"
          class="button is-small"
          @click="collapsed = !collapsed"
          aria-label="toggle expand"
          id="toggle-expand-lyrics"
        >
          <span class="icon">
            <i
              v-if="!collapsed"
              aria-hidden="true"
              class="arrow up"
            ></i>
            <i
              v-else
              aria-hidden="true"
              class="arrow down"
            ></i>
          </span>
        </button>
        <button
          type="button"
          v-if="hasSavedLyrics"
          class="button is-small"
          @click="easyWorshipCopy"
          id="easy-worship-copy"
        >
          Copy for Easyworship
        </button>
      </div>
    </div>
    <div v-if="editing && (!collapsed || !hasSavedLyrics)">
      <text-input
        v-model="lyrics.verse_order"
        label="Normale vers volgorde"
        :is-small="true"
        help="Bijvoorbeeld: v1 r1 v2 r1"
        :error="missingVersesError"
      ></text-input>
      <hr />
      <div
        v-for="(verse, index) in lyrics.verses"
        :key="verse.id"
      >
        <div class="columns">
          <div class="column is-narrow">
            <text-input
              :html-id="`verse-name-${index}`"
              v-model="verse.verse_name"
              label="Vers naam"
              :is-small="true"
              :help="index === 0 ? 'Bijvoorbeeld: v1' : null"
            ></text-input>
            <button
              type="button"
              class="button is-small"
              @click="lyrics.verses.splice(index, 1)"
            >
              Verwijder {{ verse.verse_name }}
            </button>
          </div>
          <text-area-input
            class="column"
            :html-id="`verse-text-${index}`"
            label="Tekst"
            v-model="verse.text"
          ></text-area-input>
        </div>
        <hr style="margin: 0.5rem 0" />
      </div>
      <div class="buttons">
        <button
          type="button"
          class="button is-small"
          @click="addVerse"
        >Nog een vers</button>
      </div>
    </div>
    <div v-else-if="!hasSavedLyrics">Geen lyrics</div>
    <div v-else-if="!collapsed">
      <div
        class="field"
        v-if="eventSongId"
      >
        <label
          class="label"
          for="eventSongOrder"
        >Volgorde in deze dienst</label>
        <div class="field has-addons">
          <div class="control is-expanded">
            <input
              id="eventSongOrder"
              class="input is-small"
              type="text"
              v-model="localEventVerseOrder"
            />
          </div>
          <div class="control">
            <button
              type="button"
              class="button is-small"
              @click="updateEventVerseOrder"
              id="saveEventVerseOrder"
            >
              <img
                src="@/assets/icons/icons8-save-16.png"
                alt="Save"
              />
            </button>
          </div>
        </div>
      </div>
      <div class="lyrics">
        {{ fullLyrics }}
      </div>
    </div>
  </div>
</template>

<script>
import EditToggle from '@/components/EditToggle'
import { TextAreaInput, TextInput } from '@/shared-vue'

export default {
  components: {
    TextInput,
    TextAreaInput,
    EditToggle
  },
  props: ['song', 'editable', 'eventSongVerseOrder', 'eventSongId'],
  data() {
    return {
      lyrics: null,
      editing: false,
      collapsed: true,
      savedLyrics: null,
      missingVersesError: null,
      localEventVerseOrder: null,
    }
  },
  watch: {
    eventSongVerseOrder(newValue) {
      this.localEventVerseOrder = newValue
    }
  },
  created() {
    this.localEventVerseOrder = this.eventSongVerseOrder
    if (this.song.lyrics === null) {
      this.createLyricsObject()
    } else if (this.song.lyrics === undefined) {
      this.$api.get(`api/lyrics/?song=${this.song.id}`, response => {
        if (response.count === 1) {
          this.savedLyrics = JSON.parse(JSON.stringify(response.results[0]))
          this.lyrics = response.results[0]
          this.sortVerses()
          if (this.lyrics.verses.length === 0) {
            this.addVerse()
          }
        } else {
          this.createLyricsObject()
        }
      })
    } else {
      this.$api.get(`api/lyrics/${this.song.lyrics}/`, response => {
        this.lyrics = response
        this.savedLyrics = JSON.parse(JSON.stringify(response))
        this.sortVerses()
        if (this.lyrics.verses.length === 0) {
          this.addVerse()
        }
      })
    }
  },
  computed: {
    fullLyricsVerseOrder() {
      if (this.eventSongVerseOrder != null) {
        return this.eventSongVerseOrder.split(' ')
      } else {
        return this.savedLyrics.verse_order.split(' ')
      }
    },
    hasSavedLyrics() {
      return this.savedLyrics.verses.length > 0
    },
    fullLyrics() {
      if (this.savedLyrics === null) {
        return ''
      }
      let fullLyrics = ''
      for (const verseName of this.fullLyricsVerseOrder) {
        for (const verse of this.savedLyrics.verses) {
          if (verseName === verse.verse_name) {
            fullLyrics = fullLyrics + verseName + '\n' + verse.text + '\n\n'
            break
          }
        }
      }
      return fullLyrics
    }
  },
  methods: {
    sortVerses() {
      const verses = []
      const order = this.lyrics.verse_order.split(' ').filter((value, index, self) => self.indexOf(value) === index)
      const missingVerses = this.lyrics.verses.map(verse => verse.verse_name).filter(verse => !order.includes(verse))
      for (const verseName of order) {
        for (const verse of this.lyrics.verses) {
          if (verse.verse_name === verseName) {
            verses.push(verse)
            break
          }
        }
      }
      for (const verse of this.lyrics.verses) {
        if (missingVerses.includes(verse.verse_name)) {
          verses.push(verse)
          break
        }
      }
      this.lyrics.verses = verses
    },
    createLyricsObject() {
      if (!this.editable) {
        this.lyrics = {}
      }
      this.$api.post('api/lyrics/', { song: this.song.id, verse_order: '' }, response => {
        this.savedLyrics = JSON.parse(JSON.stringify(response))
        this.lyrics = response
        this.$emit('lyrics-added', response.id)
        this.addVerse()
      })
    },
    missingVerses() {
      const referencedVerses = this.lyrics.verse_order.split(' ')
      const actualVerses = this.lyrics.verses.map(v => v.verse_name)
      return referencedVerses.filter(v => !actualVerses.includes(v))
    },
    addVerse() {
      this.lyrics.verses.push({
        verse_name: '',
        text: ''
      })
    },
    updateEventVerseOrder() {
      this.$api.patch(
        `api/eventsong/${this.eventSongId}/`,
        {
          verse_order: this.localEventVerseOrder !== "" ? this.localEventVerseOrder : null
        },
        response => {
          this.$store.dispatch('tehila/events/getSingle', response.event)
        }
      )
    },
    save() {
      this.missingVersesError = null
      const missingVerses = this.missingVerses()
      if (missingVerses.length > 0) {
        this.missingVersesError = [`Missende verzen: ${missingVerses}`]
        this.$refs['title'].scrollIntoView({ behavior: 'smooth', block: 'center' })
        return
      }
      this.$api.put(`api/lyrics/${this.lyrics.id}/`, this.lyrics, response => {
        this.lyrics = response
        this.savedLyrics = JSON.parse(JSON.stringify(response))
        this.editing = false
        this.collapsed = false
        this.$refs['title'].scrollIntoView({ behavior: 'smooth', block: 'center' })
      })
    },
    easyWorshipCopy() {
      let plainText = ''
      for (const verseName of this.fullLyricsVerseOrder) {
        for (const verse of this.savedLyrics.verses) {
          if (verseName === verse.verse_name) {
            plainText = plainText + '\n\n' + verseName
            let lines = verse.text.split('\n')
            for (let i = 0; i < lines.length; i += 2) {
              plainText = plainText + '\n' + lines[i]
              if (i + 1 < lines.length) {
                plainText = plainText + '\n' + lines[i + 1]
              }
              plainText = plainText + '\n'
            }
            break
          }
        }
      }
      navigator.clipboard.writeText(plainText.substring(2))
      this.$notify({
        text: 'Lyrics gekopieerd',
        style: 'success',
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.lyrics {
  white-space: pre-line;
  orphans: 5;
}

@media only screen and (min-width: 770px) {
  .lyrics {
    column-count: 2;
  }
}

@media only screen and (min-width: 1216px) {
  .lyrics {
    column-count: 3;
  }
}
</style>