<template>
  <div>
    <div class="folder-header">
      <img
        :src="folderImage"
        alt=""
      />
      <h4 style="font-size: 1.1rem; margin-bottom: 0.3em">Bladmuziek</h4>
    </div>
    <div v-if="hasConnectedSheet">
      Voor dit event: {{ this.connectedSheets[0].name }}
      <RouterLink
        v-if="this.connectedSheets[0].type === 'openlyrics'"
        class="button is-small"
        :to="{
          name: 'tehila:open-lyrics-editor',
          params: {
            songId: songId,
            existingOpenLyricsId: eventsong.openlyrics,
          },
        }"
      >Open</RouterLink>
      <RouterLink
        v-else
        class="button is-small"
        :to="{
          name: 'tehila:pdf-viewer',
          params: {
            pdfMusicId: this.connectedSheets[0].id
          },
        }"
      >Open</RouterLink>
      <br />
      <button
        type="button"
        @click="showTable = !showTable"
        class="button is-small"
        style="margin-top: 0.5em"
      >
        {{ showTable ? "Verberg varianten" : "Toon alle varianten" }}
      </button>
    </div>
    <template v-if="!eventsong || !hasConnectedSheet || showTable">
      <table
        class="table"
        aria-label="Tabel met bladmuziek varianten"
        v-if="orderedSheets.length > 0"
      >
        <thead>
          <tr>
            <th>Variant</th>
            <th>Band</th>
            <th v-if="eventsong" />
            <th />
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="sheet in orderedSheets"
            :key="`${sheet.type}-${sheet.id}`"
          >
            <td>{{ sheet.name }}</td>
            <td>{{ sheet.band }}</td>
            <td v-if="eventsong">
              <button
                type="button"
                v-if="eventsong[sheet.type] === sheet.id"
                class="button is-small"
                @click="connect(null)"
              >
                Ontkoppel
              </button>
              <button
                type="button"
                v-else
                class="button is-small"
                @click="connect(sheet.type, sheet.id)"
              >
                Koppel aan dit event
              </button>
            </td>
            <td>
              <RouterLink
                v-if="sheet.type === 'openlyrics'"
                class="button is-small"
                :to="{
                  name: 'tehila:open-lyrics-editor',
                  params: { songId: songId, existingOpenLyricsId: sheet.id },
                }"
              >
                Open
              </RouterLink>
              <RouterLink
                v-else
                class="button is-small"
                :to="{
                  name: 'tehila:pdf-viewer',
                  params: {
                    pdfMusicId: sheet.id
                  },
                }"
              >Open</RouterLink>
            </td>
          </tr>
        </tbody>
      </table>
      <button
        type="button"
        v-if="!showAll && otherBandSheets.length > 0"
        @click="showAll = true"
        class="button is-small"
      >
        Bladmuziek van andere bands ({{ otherBandSheets.length }})
      </button>
      <button
        class="button is-small"
        type="button"
        @click="modalActive = true"
      >Bladmuziek toevoegen</button>
      <Modal
        :active="modalActive"
        @close="modalActive = false"
      >
        <div class="box">
          <h5 class="subtitle">Nieuwe bladmuziek</h5>
          <p class="mb-4">Maak bladmuziek met de Tehila editor, of upload een PDF.</p>
          <RouterLink
            class="button is-primary"
            :to="{
              name: 'tehila:open-lyrics-editor-new',
              params: { songId: songId },
            }"
          >Open Tehila editor</RouterLink>
          <hr />
          <form
            class="mt-4"
            @submit.prevent="uploadPdf"
          >
            <h6 class="subtitle">PDF uploaden</h6>
            <TextInput
              v-model="pdfTitle"
              label="Variant"
              required="true"
            />
            <FileInput
              v-model="pdfUpload"
              html-id="pdf-file"
              label="PDF bestand"
            />
            <button
              class="button"
              type="submit"
              id="upload-pdf"
            >Upload</button>
          </form>
          <hr v-if="user.superuser" />
          <form
            class="mt-4"
            v-if="user.superuser"
            @submit.prevent="uploadMusicXml"
          >
            <p>Als superuser mag je ook musicXML uploaden.</p>
            <FileInput
              v-model="musicXmlFile"
              html-id="musicxml-file"
              label="Upload MusicXML file"
            />
            <button
              class="button is-small"
              type="submit"
              id="upload-musicxml"
            >Upload</button>
          </form>
        </div>
      </Modal>
    </template>
  </div>
</template>

<script>
import { mapState } from "vuex"
import folderImage from "@/assets/icons/icons8-music-folder-96.png"
import { FileInput, Modal, TextInput } from '@/shared-vue'

export default {
  props: ['openlyrics', 'pdfMusic', 'songId', 'eventsong'],
  components: {
    FileInput,
    Modal,
    TextInput,
  },
  computed: {
    hasConnectedSheet() {
      return this.connectedSheets.length > 0
    },
    orderedSheets() {
      if (this.showAll) {
        return [...this.connectedSheets, ...this.currentBandSheets, ...this.otherBandSheets]
      }
      return [...this.connectedSheets, ...this.currentBandSheets]
    },
    connectedSheets() {
      return this.sheets.filter(sheet => this.eventsong?.[sheet.type] === sheet.id)
    },
    currentBandSheets() {
      return this.sheets.filter(sheet => sheet.band === this.band.name && sheet.id !== this.eventsong?.[sheet.type])
    },
    otherBandSheets() {
      return this.sheets.filter(sheet => sheet.band !== this.band.name && sheet.id !== this.eventsong?.[sheet.type])
    },
    sheets() {
      return this.openlyrics.map(ol => {
        ol.type = 'openlyrics'
        return ol
      }).concat(this.pdfMusic.map(pdf => {
        pdf.type = 'pdfmusic'
        return pdf
      }))
    },
    ...mapState({
      band: state => state.tehila.selectedBand,
      user: state => state.auth.user
    }),
  },
  data() {
    return {
      showAll: false,
      showTable: false,
      folderImage,
      musicXmlFile: null,
      pdfUpload: null,
      modalActive: false,
      pdfTitle: null,
    }
  },
  methods: {
    connect(sheetType, sheetId) {
      const patch = {}
      if (sheetType === 'openlyrics') {
        patch.openlyrics = sheetId
        patch.pdfmusic = null
      } else {
        patch.openlyrics = null
        patch.pdfmusic = sheetId
      }
      this.$api.patch(`api/eventsong/${this.eventsong.id}/`, patch, response => {
        this.$emit('connected', response)
      })
    },
    uploadMusicXml() {
      if (this.musicXmlFile === null) {
        return
      }
      this.$api.post(`api/parse-musicxml/?band=${this.band.id}&song=${this.songId}`,
        this.musicXmlFile,
        response => {
          this.$router.push({
            name: 'tehila:open-lyrics-editor',
            params: { songId: this.songId, existingOpenLyricsId: response.id },
          })
        },
        true
      )
    },
    uploadPdf() {
      if (this.pdfUpload === null) {
        return
      }
      this.$api.post(`api/pdf-music/upload/?song=${this.songId}&name=${this.pdfTitle}`,
        this.pdfUpload,
        response => {
          this.$router.push({
            name: 'tehila:pdf-viewer',
            params: { pdfMusicId: response.id },
          })
        },
        true
      )
    },
  }
}
</script>

<style scoped>
.folder-header {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.folder-header>img {
  height: 2em
}
</style>