<template>
  <div v-if="verses">
    <hr />
    <div class="lyr-header">
      <img
        :src="wordsImage"
        alt=""
      />
      <h4 style="font-size: 1.1rem; margin-bottom: 0.3em; flex-grow: 1;">Lyrics</h4>
      <button
        class="button is-small"
        @click="show = !show"
      >{{ show ? 'Hide' : 'Show' }}</button>
    </div>
    <div
      class="lyrics"
      v-if="show"
    >
      <p
        style="white-space: pre;"
        class="mb-5"
        v-for="verseName in verseOrder"
      ><span class="is-size-7">{{ mapVerseName(verseName) }}</span><br />{{ verseText(verses[verseName]) }}</p>
    </div>
  </div>
</template>

<script>
import parsing from '../OpenLyrics/parsing'
import wordsImage from '@/assets/icons/icons8-long-words-48.png'

export default {
  props: ['songId'],
  data() {
    return {
      show: false,
      wordsImage,
      verseOrder: null,
      verses: null,
      verseNameMapping: {
        'i': 'intro',
        'v': 'vers',
        'p': 'prechorus',
        'c': 'refrein',
        's': 'solo',
        'b': 'bridge',
        'o': 'overig',
        'm': 'instrumentaal',
        'e': 'einde'
      }
    }
  },
  created() {
    this.$api.get(`api/lyrics/?song=${this.songId}`, response => {
      if (response.count === 0) {
        return
      }
      const content = response.results[0].xml
      const openlyrics = new DOMParser().parseFromString(content, 'application/xml')
      if (openlyrics.querySelector('parsererror')) {
        console.error(`Parsing OpenLyrics failed: ${openlyrics.querySelector('parsererror').textContent}`)
      } else {
        this.verseOrder = parsing.getVerseOrder(openlyrics)
        this.verses = parsing.createVerses(openlyrics)
      }
    })
  },
  methods: {
    verseText(verse) {
      if (verse === null) {
        return null
      }
      let text = ''
      verse.forEach(line => {
        line.forEach(element => {
          text = text + element.text
        })
        text = text + '\n'
      })
      return text
    },
    mapVerseName(verseName) {
      const letter = verseName.substring(0, 1)
      const longform = this.verseNameMapping[letter]
      if (verseName.length === 1) {
        return longform
      } else {
        return `${longform} ${verseName.substring(1)}`
      }
    }
  }
}
</script>

<style scoped>
.lyr-header {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.lyr-header>img {
  height: 2em
}

@media only screen and (max-width: 300px) {
  .lyrics {
    column-count: 1;
  }
}

@media only screen and (min-width: 840px) {
  .lyrics {
    column-count: 2;
    column-gap: 2em;
  }
}
</style>