<template>
  <div class="card">
    <header
      @click="open = !open"
      style="cursor: pointer"
      class="card-header"
    >
      <div
        class="card-header-title"
        style="font-weight: normal;
          font-size: 1rem;
          flex-direction: row;
          align-items: center;
          flex-wrap: wrap;
          padding: 0.5rem 1rem;"
      >
        <h3
          :class="{ 'has-text-weight-medium': open }"
          style="margin-right: 0.4rem; flex-grow: 1"
        >
          {{ songTitle }}
        </h3>
        <div
          v-if="extraText"
          style="font-size: 0.9rem; margin-right: 0.4rem"
        >
          {{ extraText }}
        </div>
        <SongTags :tags="currentTags" />
        <span
          v-if="hasPublicAudio"
          class="tag is-primary is-light"
          style="margin-left: 0.5rem"
        >Heeft publieke opname</span>
        <button
          type="button"
          v-if="open && song"
          class="button is-small ml-4"
          @click.stop="editSong"
          aria-label="toggle edit"
          id="toggle-edit-song"
          style="justify-self: flex-end;"
        >
          <img
            src="@/assets/icons/icons8-edit.svg"
            alt="Edit"
          />
        </button>
      </div>
      <button
        class="card-header-icon"
        :data-testid="`open-song-${songId}`"
      >
        <span class="icon">
          <i
            v-if="open"
            aria-hidden="true"
            class="arrow up"
          ></i>
          <i
            v-else
            aria-hidden="true"
            class="arrow down"
          ></i>
        </span>
      </button>
    </header>
    <div
      v-if="open && !song"
      class="card-content"
    >
      <p class="loading-data">
        <span>Data aan het ophalen</span>
        <span class="bulma-loader-mixin"></span>
      </p>
    </div>
    <div
      v-else-if="open && song"
      class="card-content"
    >
      <div
        class="content is-size-7"
        style="margin-bottom: 0"
      >
        <p v-if="count">Aantal keer gespeeld: {{ count }}</p>
        <p v-if="lastPlayed">Laatste keer: {{ lastPlayed }}</p>
        <p>Liedbundels: {{ collectionsText }}</p>
      </div>
      <hr style="margin: 1rem 0" />
      <SongRecordings
        v-if="showRecordings"
        :bandsong="bandsong"
        :default-date="defaultDate"
        :default-description="defaultDescription"
        :song-id="songId"
        @play-recording="
          $store.dispatch('tehila/playRecording', { recording: $event, song: song })
          "
      />
      <hr v-if="showRecordings" />
      <SheetMusicManager
        :openlyrics="openlyrics"
        :pdf-music="pdfMusic"
        :song-id="songId"
        :eventsong="eventsong"
        @connected="$emit('connected', $event)"
      />
      <SongLyrics :song-id="songId" />
      <Modal
        :active="formActive"
        @close="formActive = false"
      >
        <ModelForm
          :close-button="true"
          @close="formActive = false"
          @submit-form="submitForm"
          modelName="Song"
          :config="songConfig"
          :can-delete="superuser"
          v-model="formModel"
          api-store="tehila/songs"
        >
          <template v-slot:through-model-summary="item">
            <template v-if="item.item.number">
              {{ item.item.collection.title }} - {{ item.item.number }}
            </template>
            <template v-else>
              {{ item.item.collection.title }}
            </template>
          </template>

          <template v-slot:extra-form-inputs>
            <label class="label">Tags</label>
            <SongTags
              :tags="formModel.tags"
              :editable="true"
              @add-tag="formModel.tags.push($event)"
              @delete-tag="formModel.tags = formModel.tags.filter(t => t.id !== $event.id)"
              class="mb-4"
            />
          </template>
        </ModelForm>
      </Modal>
    </div>
    <footer
      v-if="open && song"
      class="card-footer"
    >
      <a
        target="_blank"
        v-if="psalmboek"
        :href="psalmboek"
        class="card-footer-item"
      >Psalmboek.nl</a>
      <a
        target="_blank"
        :href="spotifySearch"
        class="card-footer-item"
      ><img
          class="footer-logo"
          src="@/assets/spotify.jpg"
          alt="Spotify icon"
        />Zoek op Spotify</a>
      <a
        target="_blank"
        :href="youtubeSearch"
        class="card-footer-item"
      ><img
          class="footer-logo"
          src="@/assets/youtube.jpg"
          alt="YouTube icon"
        />Zoek op YouTube</a>
      <a
        v-if="submitText"
        class="card-footer-item"
        style="background-color: hsl(141, 71%, 48%)"
      >
        <button
          type="button"
          class="button"
          @click="$emit('submit-song', song)"
        >
          {{ submitText }}
        </button>
      </a>
    </footer>
  </div>
</template>

<script>
import SongRecordings from "@/components/SongCard/SongRecordings"
import { Modal, ModelForm, SelectInput } from "@/shared-vue"
import { mapState } from "vuex"
import SheetMusicManager from "./SheetMusicManager"
import SongTags from "./SongTags"
import SongLyrics from "./SongLyrics.vue"

export default {
  components: {
    Modal,
    SongRecordings,
    SelectInput,
    SongTags,
    ModelForm,
    SheetMusicManager,
    SongLyrics
  },
  props: {
    title: {
      type: String,
      required: true,
    },
    songId: {
      type: Number,
      required: true
    },
    eventsong: {
      type: Object,
      required: false
    },
    // To display count of times played
    count: Number,
    // To display date of last played
    lastPlayed: String,
    // Extra text in the title bar
    extraText: String,
    // To show tags before opening the song
    songTags: Array,
    // Show delete button, only emits 'remove' event
    deleteButton: {
      type: Boolean,
      default: true
    },
    showRecordings: {
      type: Boolean,
      default: true
    },
    // Show submit button, only emits 'submit' event
    submitText: String,
    // Defaults for the recordings
    defaultDate: String,
    defaultDescription: String,
    hasPublicAudio: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      open: false,
      manageTags: false,
      tagId: null,
      tagsUpdated: false,
      formActive: false,
      formModel: {
        title: null,
        release_year: null,
        collections: [],
        tags: []
      },
      openlyrics: [],
      pdfMusic: [],
      updatedTitle: null,
    }
  },
  methods: {
    editSong() {
      this.formModel = JSON.parse(JSON.stringify(this.song))
      this.formActive = true
    },
    submitForm(event) {
      this.formActive = false
      this.updatedTitle = event.data.title
    }
  },
  watch: {
    open(isOpen) {
      if (isOpen) {
        this.$store.dispatch('tehila/songs/getSingle', this.songId)
        this.$store.dispatch('tehila/bandSongs/getSingle', { song: this.songId })
        this.$store.dispatch('tehila/tags/get')
        this.$store.dispatch('tehila/collections/get')
        this.$api.get(`api/open-lyrics/?song=${this.songId}`,
          response => {
            this.openlyrics = response
          })
        this.$api.get(`api/pdf-music/?song=${this.songId}`,
          response => {
            this.pdfMusic = response
          })
      }
    }
  },
  computed: {
    songTitle() {
      if (this.updatedTitle === null) {
        return this.title
      }
      return this.updatedTitle
    },
    songConfig() {
      if (this.formModel?.source === null) {
        return {
          url: "api/songs/",
          fields: {
            title: { label: "Titel", type: "text", default: "", disabled: true },
            release_year: { label: "Release jaar", type: "number", default: null },
          }
        }
      }
      return {
        url: "api/songs/",
        fields: {
          title: { label: "Titel", type: "text", default: "" },
          release_year: { label: "Release jaar", type: "number", default: null },
          source: { label: "Artiest, bundel, collectie", type: 'text', default: null }
        }
      }
    },
    currentTags() {
      if (this.song) {
        return this.song.tags
      } else if (this.songTags) {
        return this.songTags
      } else {
        return []
      }
    },
    availableTags() {
      if (!this?.song?.tags) {
        return this.tags.data
      }
      return this.tags.data.filter(t => {
        for (let tag of this.song.tags) {
          if (tag.name === t.name) {
            return false
          }
        }
        return true
      })
    },
    ...mapState({
      tags: state => state.tehila.tags,
      collections: state => state.tehila.collections,
      superuser: state => state.auth.user.superuser
    }),
    song() {
      return this.$store.getters['tehila/songs/getItem'](this.songId)
    },
    bandsong() {
      return this.$store.getters['tehila/bandSongs/getItem']({ song: this.songId })
    },
    collectionsText() {
      if (this.song === null || this.song.collections.length === 0) {
        return "staat niet in een bundel"
      }
      return this.song.collections
        .map(songInCollection =>
          songInCollection.number === 0 || songInCollection.number === '' || songInCollection.number === null
            ? `${songInCollection.collection.title}`
            : `${songInCollection.collection.title} ${songInCollection.number}`
        )
        .join(", ")
    },
    searchQuery() {
      if (this.song) {
        for (let collection of this.song.collections) {
          if (collection.collection.title === 'Opwekking') {
            return `Opwekking ${collection.number}`
          }
        }
      }
      return this.title
    },
    spotifySearch() {
      return `https://open.spotify.com/search/${encodeURIComponent(this.searchQuery)}`
    },
    youtubeSearch() {
      return `https://www.youtube.com/results?search_query=${encodeURIComponent(this.searchQuery)}`
    },
    psalmboek() {
      if (this.song) {
        for (let collection of this.song.collections) {
          if (collection.collection.title === 'Psalmen (1967)') {
            return `https://psalmboek.nl/zingen.php?ber=3&psID=${collection.number}&s=rit5`
          }
        }
      }
      return null
    }
  }
}
</script>

<style scoped>
.footer-logo {
  height: 1em;
  margin-right: 0.5em;
}

.loading-data {
  display: flex;
  align-items: center;
  gap: 1em;
}

.bulma-loader-mixin {
  height: 1.3em;
  width: 1.3em;
  border-width: 3px;
}
</style>