<template>
  <div v-if="tags">
    <div class="tags">
      <span
        v-for="tag in tags"
        :key="tag.name"
        class="tag"
        :style="{
          'background-color': tag.background_color,
          color: tag.text_color,
        }"
      >{{ tag.name }}
        <button
          :data-testid="`delete-tag-${tag.id}`"
          type="button"
          v-if="editable"
          class="delete is-small"
          @click="$emit('delete-tag', tag)"
        ></button>
      </span>
    </div>
    <hr v-if="editable" />
    <div
      class="field is-grouped is-grouped-multiline"
      v-if="editable"
    >
      <div
        class="control"
        v-for="tag in availableTags"
        :key="tag.id"
      >
        <div class="tags has-addons">
          <span
            class="tag"
            :style="{
              'background-color': tag.background_color,
              color: tag.text_color,
            }"
          >{{ tag.name }}</span>
          <a
            class="tag"
            @click="$emit('add-tag', tag)"
          >Add</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex"

export default {
  props: {
    tags: Array,
    editable: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      editing: false,
    }
  },
  created() {
    if (this.editable) {
      this.$store.dispatch('tehila/tags/get')
    }
  },
  computed: {
    ...mapState({
      allTags: state => state.tehila.tags
    }),
    availableTags() {
      return this.allTags.data.filter(t => {
        for (let tag of this.tags) {
          if (tag.name === t.name) {
            return false
          }
        }
        return true
      })
    },
  }
}
</script>