<template>
  <div>
    <div class="rec-header">
      <img
        :src="audioImage"
        alt=""
      />
      <h4 style="font-size: 1.1rem; margin-bottom: 0.3em">Opnames</h4>
    </div>
    <div v-if="bandsong">
      <recording
        style="margin-right: 1em"
        v-for="recording in recordings"
        :key="recording.id"
        :recording="recording"
        :bandSongId="bandsong.id"
        :is-public="recording.id === bandsong.public_recording"
        @updated="formSubmitted"
        @deleted="formSubmitted"
        @play-recording="$emit('play-recording', recording)"
      ></recording>
      <div class="buttons mt-4">
        <button
          class="button is-small"
          v-if="bandsong.recordings.length !== recordings.length"
          @click="showAll = true"
        >
          Meer opnames ({{ bandsong.recordings.length - recordings.length }})
        </button>
        <button
          type="button"
          v-if="!formActive"
          @click="formActive = true"
          class="button is-small"
        >
          Upload opname
        </button>
      </div>
      <model-form
        @close="formActive = false"
        :close-button="true"
        v-if="formActive"
        modelName="Opname"
        v-model="model"
        :config="formConfig"
        @submit-form="formSubmitted"
        :loading-screen-on-save="true"
      ></model-form>
    </div>
    <button
      type="button"
      v-else
      class="button is-small"
      @click="createBandsong"
    >
      Upload opname
    </button>
  </div>
</template>

<script>
import { ModelForm } from "@/shared-vue"
import Recording from "@/components/Recording"
import audioImage from "@/assets/icons/icons8-audio-wave-96.png"

export default {
  components: {
    ModelForm,
    Recording,
  },
  props: ['bandsong', 'songId', 'defaultDate', 'defaultDescription'],
  data() {
    return {
      audioImage,
      showAll: false,
      model: {
        date: this.defaultDate,
        bandsong: null,
        description: this.defaultDescription,
        audio: null,
      },
      formActive: false
    }
  },
  watch: {
    formActive() {
      this.model.bandsong = this.bandsong.id
    }
  },
  computed: {
    recordings() {
      if (!this.bandsong || this.bandsong.recordings.length === 0) {
        return []
      }
      this.bandsong.recordings.sort((a, b) => {
        if (a.date > b.date) {
          return -1
        }
        if (a.date < b.date) {
          return 1
        }
        return 0
      })
      if (this.showAll) {
        return this.bandsong.recordings
      }
      const show = [this.bandsong.recordings[0]]
      if (this.bandsong.public_recording !== null) {
        for (const recording of this.bandsong.recordings) {
          if (recording.id === this.bandsong.public_recording && recording.id !== show[0].id) {
            show.push(recording)
            break
          }
        }
      }
      return show
    },
    formConfig() {
      if (this.bandsong === null) {
        return {}
      }
      return {
        url: "api/recordings/",
        fields: {
          date: { label: "Datum", type: "date", default: this.defaultDate },
          bandsong: { label: "bandsong", type: "hidden", default: this.bandsong.id },
          description: { label: "Omschrijving", type: "text", default: this.defaultDescription },
          audio: { label: "Audio", type: "file", default: "" }
        }
      }
    }
  },
  methods: {
    formSubmitted() {
      this.$store.dispatch('tehila/bandSongs/getSingle', this.bandsong.id)
      this.formActive = false
    },
    createBandsong() {
      this.$api.post("api/bandsongs/",
        {
          song: this.songId,
        },
        response => {
          this.$store.commit('tehila/bandSongs/add', response)
          this.$store.dispatch('tehila/songs/getSingle', this.songId)
          this.formActive = true
        })
    }
  }
}
</script>


<style scoped>
.rec-header {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.rec-header>img {
  height: 2em
}
</style>