<template>
  <span class="chord-lyrics">
    <template v-if="editing">
      <input
        :id="`${id}-chord`"
        ref="chordinput"
        class="chord"
        :class="{ newbar: element.newbar, 'unknown-chord': !chordIsValid }"
        :value="element.chord"
        :style="`width: ${chordWidth}px`"
        @focusout="checkDelete"
        @input="
          $emit('change-item', {
            chord: $event.target.value,
            text: element.text,
            newbar: element.newbar,
          })
          "
        spellcheck="false"
        autocomplete="off"
      />
      <input
        :id="id"
        ref="textinput"
        class="text"
        :value="element.text"
        :style="`width: ${lyricsWidth}px`"
        @paste="checkPaste"
        @focusout="checkDelete"
        @input="
          $emit('change-item', {
            text: $event.target.value,
            chord: element.chord,
            newbar: element.newbar,
          })
          "
        autocomplete="off"
      />
    </template>
    <template v-else>
      <span
        v-if="showChordNotes"
        class="chord chordnotes"
        :class="{ newbar: element.newbar }"
      >
        {{ chordNotes }}
      </span>
      <span
        v-else
        class="chord"
        :class="{ newbar: element.newbar, hidden: !showChords }"
      >{{ transposedChord }}</span>
      <span
        class="text"
        :class="{ dash: needDash }"
      >{{ lyrics }}</span>
    </template>
    <div class="out-of-screen">
      <span
        ref="chord"
        class="chord"
      >{{ element.chord }}</span>
      <span
        ref="lyrics"
        class="text"
      >{{ text }}</span>
    </div>
  </span>
</template>

<script>
import chords from './chords'

export default {
  props: ['element', 'elementIndex', 'lineIndex', 'editing', 'sectionIndex', 'showChords', 'transpose', 'isLastElement', 'useFlats', 'showChordNotes'],
  data() {
    return {
      chordWidth: 0,
      lyricsWidth: 0,
    }
  },
  computed: {
    text() {
      if (!this.editing && !this.showChords) {
        return this.element.text.trim()
      }
      return this.element.text
    },
    id() {
      return `${this.sectionIndex}-${this.lineIndex}-${this.elementIndex}`
    },
    transposedChord() {
      if (this.transpose !== 0 && this.chordIsValid) {
        return chords.transpose(this.element.chord, this.transpose, this.useFlats)
      } else if (!this.element.chord && this.element.newbar) {
        // Return zero width space, otherwide the newbar line isn't visible
        return "​"
      } else {
        return this.element.chord
      }
    },
    chordIsValid() {
      if (!this.element.chord) {
        return false
      }
      return this.element.chord.match(chords.chordRegex) !== null
    },
    lyrics() {
      if (!this.element.text) {
        return " "
      } else {
        return this.text
      }
    },
    needDash() {
      if (!this.element.text) {
        return false
      }
      const lastCharacter = this.element.text.substring(this.element.text.length - 1)
      return !this.isLastElement && lastCharacter.match(/[A-Za-z]/)
    },
    chordNotes() {
      if (this.chordIsValid) {
        return chords.getNotes(this.transposedChord, this.useFlats).join("\n")
      }
      return "​"
    }
  },
  mounted() {
    this.chordWidth = this.$refs.chord.offsetWidth + 2
    this.lyricsWidth = this.$refs.lyrics.offsetWidth + 2
  },
  watch: {
    'element.text'() {
      this.$nextTick().then(() => {
        this.lyricsWidth = this.$refs.lyrics.offsetWidth + 2
        this.chordWidth = this.$refs.chord.offsetWidth + 2
      })
    },
    'element.chord'() {
      this.$nextTick().then(() => {
        this.lyricsWidth = this.$refs.lyrics.offsetWidth + 2
        this.chordWidth = this.$refs.chord.offsetWidth + 2
      })
    }
  },
  methods: {
    checkPaste(event) {
      const pasteData = event.clipboardData.getData('text/plain')
      if (pasteData.includes("\n")) {
        event.preventDefault()
        this.$emit('paste-multiple-lines', { text: pasteData, target: event.target })
      }
    },
    checkDelete(event) {
      if (this.lineIndex === 0 && this.elementIndex === 0) {
        return
      } else if (
        event.relatedTarget === this.$refs.textinput
        || event.relatedTarget === this.$refs.chordinput
        || event.relatedTarget?.id === 'add-chord'
        || event.relatedTarget?.id === 'add-barline') {
        this.$emit('save-state')
      } else if (!this.element.chord && !this.element.newbar && !this.element.text) {
        this.$emit('delete', this.id)
      } else if (this.elementIndex !== 0 && !this.element.chord && !this.element.newbar) {
        this.$emit('merge', { id: this.id, nextFocusId: event.relatedTarget?.id })
      } else {
        if (this.element.text.startsWith(" ") && this.elementIndex !== 0) {
          this.$emit('move-spaces', this.id)
        }
        this.$emit('save-state')
      }
    }
  }
}
</script>

<style scoped>
.unknown-chord {
  text-decoration: underline;
  text-decoration-color: red;
}

.out-of-screen {
  position: absolute;
  right: -5000px;
  display: flex;
  flex-direction: column;
}

.text {
  border: none;
  background-color: inherit;
  font-size: 1em;
  padding: 0 2px 0 0;
  margin-bottom: 1px;
  white-space: pre;
  color: inherit;
  line-height: normal;
}

.text:focus {
  outline-width: 0;
}

.chord-lyrics {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.dash {
  position: relative;
}

.dash::after {
  content: "-";
}

.chord {
  position: relative;
  right: 3px;
  color: dodgerblue;
  margin-right: 0.3em;
  padding: 0 2px 0 2px;
  border: none;
  background-color: inherit;
  font-size: inherit;
  caret-color: black;
  line-height: normal;
}

.chord:focus {
  outline-width: 0;
}

.newbar {
  border-left: 1px solid dodgerblue;
  padding-left: 2px;
}

.chordnotes {
  white-space: pre-line;
}
</style>