<template>
  <div class="line">
    <!-- eslint-disable -->
    <ChordLyrics
      v-for="(element, elementIndex) in modelValue"
      @change-item="updateLine($event, elementIndex)"
      @delete="$emit('delete', $event)"
      @merge="$emit('merge', $event)"
      :element="element"
      :elementIndex="elementIndex"
      :lineIndex="lineIndex"
      :editing="editing"
      :sectionIndex="sectionIndex"
      :showChords="showChords"
      :showChordNotes="showChordNotes"
      :transpose="transpose"
      :useFlats="useFlats"
      :isLastElement="elementIndex === modelValue.length - 1"
      @save-state="$emit('save-state')"
      @paste-multiple-lines="$emit('paste-multiple-lines', $event)"
      @move-spaces="$emit('move-spaces', $event)"
    />
  </div>
</template>

<script>
import ChordLyrics from '@/components/OpenLyrics/ChordLyrics.vue'
export default {
  props: ['modelValue', 'lineIndex', 'editing', 'sectionIndex', 'showChords', 'transpose', 'useFlats', 'showChordNotes'],
  components: { ChordLyrics },
  methods: {
    updateLine(newElement, elementIndex) {
      this.$emit('update:modelValue', this.modelValue.map((element, index) => {
        if (index === elementIndex) {
          return newElement
        }
        return element
      }))
    }
  }
}
</script>

<style scoped>
.line {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}
</style>