<template>
  <div
    class="container"
    style="margin-bottom: 4em"
  >
    <div
      class="toolbar clearfix no-print"
      v-if="toolbar"
    >
      <template v-if="!editing">
        <h2>Viewer</h2>
        <div class="toolbar-end-buttons">
          <ViewSettings
            @set-settings="view = $event"
            :open-lyrics-id="openLyricsId"
          >
            <hr class="dropdown-divider" />
            <div class="dropdown-item">
              <button
                type="button"
                class="button is-small"
                @click="print"
              >
                Print/opslaan als pdf
              </button>
            </div>
            <div class="dropdown-item">
              <a
                v-if="!local"
                id="chordpro-download"
                class="button is-small"
                :href="`${backendUrl}api/open-lyrics/${openLyricsId}/chordpro`"
              >
                Opslaan als ChordPro
              </a>
            </div>
          </ViewSettings>
          <button
            v-if="!local"
            type="button"
            class="ms-icon"
            title="Kopie opslaan"
            @click="$emit('make-copy', openlyrics.metadata.variant)"
          >
            &#xF398;
          </button>
          <button
            type="button"
            v-if="editable"
            @click="editing = true"
            class="ms-icon"
            title="Bewerken"
          >
            &#xEF63;
          </button>
        </div>
      </template>
      <template v-else>
        <h2>Editor</h2>
        <button
          type="button"
          @mousedown="saveActiveElement"
          @click="addChord(previousActiveElement)"
          id="add-chord"
          class="ms-icon"
          title="Akkoord toevoegen (Ctrl+/)"
        >
          &#xF352;
        </button>
        <button
          type="button"
          @mousedown="saveActiveElement"
          @click="toggleBarLine(previousActiveElement)"
          id="add-barline"
          class="ms-icon"
          title="Maatstreep toevoegen (Ctrl+\)"
        >
          &#xF432;
        </button>
        <button
          type="button"
          @mousedown="saveActiveElement"
          @click="addSection(previousActiveElement)"
          class="ms-icon"
          title="Sectie toevoegen (Ctrl+Enter)"
          id="add-section"
        >
          &#xF356;
        </button>
        <button
          type="button"
          @click="undoState"
          class="ms-icon"
          title="Undo"
          id="undo"
        >
          &#xEF19;
        </button>
        <button
          type="button"
          @click="redoState"
          class="ms-icon"
          title="Redo"
          id="redo"
        >
          &#xEF1A;
        </button>
        <label><input
            type="checkbox"
            v-model="autosave"
          />autosave</label>
        <div class="toolbar-end-buttons">
          <a
            href="/sheet-music-docs/"
            target="_blank"
          >Help</a>
          <ButtonWithConfirm
            id="delete-open-lyrics"
            @confirm="del"
            button-class="ms-icon"
            button-text=""
            confirm-text="Weet je zeker dat je deze bladmuziek wil verwijderen?"
            confirm-button-text="Verwijderen"
            cancel-button-text="Annuleren"
          />
          <button
            type="button"
            @click="save"
            class="ms-icon"
            title="Opslaan"
            id="save"
          >
            &#xEF29;
          </button>
          <button
            type="button"
            @click="stopEditingCheck"
            id="stop-editing"
            class="ms-icon"
            title="Stop bewerken"
            style="float: right"
          >
            &#xEF14;
          </button>
        </div>
      </template>
    </div>
    <ViewSettings
      v-if="floatingViewSettings"
      class="floating-view-settings"
      @set-settings="view = $event"
      :open-lyrics-id="openLyricsId"
    />
    <TitleBpm
      :editing="editing"
      v-model="openlyrics.metadata"
      :transpose="view.transpose"
      :show-chords="view.showChords"
      @save-state="saveState"
    />

    <div
      v-show="relevantDropZone(-1)"
      @drop="drop($event, -1)"
      @dragover="dragOver"
      class="drop-location"
      v-if="editable"
    >
      Insert here
    </div>
    <!-- eslint-disable -->
    <div
      v-for="(section, sectionIndex) in openlyrics.sections"
      @click="focusClosest"
      style="break-inside: avoid"
    >
      <div
        :id="`section-${sectionIndex}`"
        class="ol-section"
        :class="{ 'top-border': relevantDropZone(sectionIndex - 1) }"
        @keydown="keydown"
      >
        <SectionDirections
          v-model="openlyrics.sections[sectionIndex]"
          :editing="editing"
          :verse-names="verseNames"
          :section-index="sectionIndex"
          @add-verse="addVerse($event, sectionIndex)"
          @rename-verse="renameVerse($event, section.name)"
          @change-verse="changeVerse($event, sectionIndex)"
          @start-reorder="dragStart($event, section.name, sectionIndex)"
          @end-reorder="dragEnd"
          @delete="removeSection(sectionIndex)"
          @save-state="saveState"
        />
        <div class="music">
          <template v-if="editing || !(view.hideRepeats && isRepeatVerse(sectionIndex))">
            <LyricsLine
              v-for="(line, lineIndex) in openlyrics.verses[section.name]"
              :key="`${section.name}_${lineIndex}`"
              v-model="openlyrics.verses[section.name][lineIndex]"
              :lineIndex="lineIndex"
              :editing="editing"
              :sectionIndex="sectionIndex"
              @delete="deleteElement"
              @merge="mergeElement"
              :showChords="view.showChords"
              :showChordNotes="view.showChordNotes"
              :transpose="view.transpose"
              :useFlats="view.useFlats"
              @save-state="saveState"
              @paste-multiple-lines="pasteMultipleLines"
              @move-spaces="moveSpaces"
            />
          </template>
        </div>
      </div>
      <div
        v-if="editable"
        v-show="relevantDropZone(sectionIndex)"
        @drop="drop($event, sectionIndex)"
        @dragover="dragOver"
        class="drop-location"
      >
        Insert here
      </div>
    </div>
    <button
      type="button"
      v-if="editing"
      @click="addSection()"
      class="ms-icon"
      title="Sectie toevoegen (Ctrl+Enter)"
      style="font-size: 1.3em; margin: 0.5em; padding: 0.2em"
      id="add-section-inline"
    >
      &#xF356;
    </button>
    <canvas
      v-if="editable"
      id="dragimage"
      height="50"
      width="300"
      style="position: absolute; left: -100%"
    />
    <Modal
      :active="confirmCancelActive"
      @close="confirmCancelActive = false"
      v-if="editable"
    >
      <div class="box content">
        <p>Wil je je wijzigingen opslaan?</p>
        <div class="buttons">
          <button
            type="button"
            class="button"
            @click="stopEditing(true)"
          >Ja</button>
          <button
            type="button"
            class="button"
            @click="stopEditing(false)"
          >Nee</button>
          <button
            type="button"
            class="button"
            @click="confirmCancelActive = false"
          >
            Annuleren
          </button>
        </div>
      </div>
    </Modal>
  </div>
</template>

<script>
import LyricsLine from './LyricsLine.vue'
import SectionDirections from '@/components/OpenLyrics/SectionDirections.vue'
import TitleBpm from '@/components/OpenLyrics/TitleBpm.vue'
import Editing from '@/components/OpenLyrics/editing.js'
import parsing from '@/components/OpenLyrics/parsing.js'
import Modal from '@/shared-vue/components/Modal.vue'
import ButtonWithConfirm from "@/shared-vue/components/ButtonWithConfirm"
import ViewSettings from './ViewSettings.vue'

let editing

export default {
  components: { LyricsLine, SectionDirections, TitleBpm, Modal, ButtonWithConfirm, ViewSettings },
  props: ['content', 'currentSavedState', 'songTitle', 'editable', 'toolbar', 'viewSettings', 'openLyricsId', 'floatingViewSettings', 'local'],
  data() {
    return {
      autosave: true,
      autosaveInterval: null,
      showViewSettings: false,
      openlyrics: {
        metadata: {
          title: this.songTitle,
          bpm: null,
          timeSignature: null,
          variant: null,
        },
        sections: [],
        verses: {},
      },
      currentHistoryIndex: -1,
      history: [],
      editing: false,
      previousActiveElement: null,
      dragimage: null,
      draggingId: null,
      previousCaretIndex: null,
      view: {
        showChords: true,
        transpose: 0,
        hideRepeats: false,
        useFlats: false,
        showChordNotes: false,
      },
      confirmCancelActive: false,
    }
  },
  watch: {
    autosave(activate) {
      if (activate) {
        this.autosaveInterval = setInterval(this.save, 30000)
      } else {
        clearInterval(this.autosaveInterval)
      }
    },
    songTitle(newTitle) {
      this.openlyrics.metadata.title = newTitle
    },
    editable(newValue) {
      if (newValue) {
        this.$nextTick(() => {
          this.dragimage = document.getElementById("dragimage").getContext("2d")
        })
      }
    },
    transpose(newValue) {
      if (newValue || newValue === 0) {
        this.view.transpose = newValue
      }
    },
    view: {
      deep: true,
      handler(newValue) {
        this.$emit('set-settings', newValue)
      }
    }
  },
  created() {
    if (this.content !== "") {
      this.parseOpenLyrics(this.content)
    } else {
      this.editing = true
    }
    editing = new Editing(this.openlyrics.sections, this.openlyrics.verses)
    if (this.autosave) {
      this.autosaveInterval = setInterval(this.save, 30000)
    }
  },
  mounted() {
    if (this.editable) {
      this.dragimage = document.getElementById("dragimage").getContext("2d")
    }
    if (this.viewSettings) {
      if (this.viewSettings.transpose !== null && this.viewSettings.transpose !== undefined) {
        this.view.transpose = this.transpose
      }
      if (this.viewSettings.use_flats !== null && this.viewSettings.use_flats !== undefined) {
        this.view.useFlats = this.viewSettings.use_flats
      }
      if (this.viewSettings.hide_repeats !== null && this.viewSettings.hide_repeats !== undefined) {
        this.view.hideRepeats = this.viewSettings.hide_repeats
      }
      if (this.viewSettings.show_chords !== null && this.viewSettings.show_chords !== undefined) {
        this.view.showChords = this.viewSettings.show_chords
      }
    }
  },
  computed: {
    isDragging() {
      return this.draggingId !== null
    },
    verseNames() {
      return Object.keys(this.openlyrics.verses)
    },
    backendUrl() {
      return import.meta.env.VITE_APP_API_URL
    },
  },
  methods: {
    moveSpaces(id) {
      editing.moveSpaces(id)
    },
    parseOpenLyrics(content) {
      const openlyrics = new DOMParser().parseFromString(content, 'application/xml')
      if (openlyrics.querySelector('parsererror')) {
        console.error(`Parsing OpenLyrics failed: ${openlyrics.querySelector('parsererror').textContent}`)
      } else {
        this.openlyrics.sections = parsing.createSections(openlyrics)
        this.openlyrics.verses = parsing.createVerses(openlyrics)
        // this.openlyrics.metadata.title = parsing.getTitle(openlyrics)
        this.openlyrics.metadata.bpm = parsing.getBpm(openlyrics)
        this.openlyrics.metadata.timeSignature = parsing.getTimeSignature(openlyrics)
        this.openlyrics.metadata.variant = parsing.getVariant(openlyrics)
        this.saveState()
      }
    },
    stopEditingCheck() {
      const newState = parsing.save(this.openlyrics.metadata, this.openlyrics.sections, this.openlyrics.verses)
      if (newState !== this.currentSavedState) {
        this.confirmCancelActive = true
      } else {
        this.editing = false
      }
    },
    stopEditing(save) {
      if (save) {
        this.save()
      } else {
        this.parseOpenLyrics(this.currentSavedState)
      }
      this.confirmCancelActive = false
      this.editing = false
    },
    setState(newState) {
      this.openlyrics = JSON.parse(newState)
      editing = new Editing(this.openlyrics.sections, this.openlyrics.verses)
    },
    saveState() {
      const newSavedState = JSON.stringify(this.openlyrics)
      if (this.history.length === 0) {
        this.history.push(newSavedState)
        this.currentHistoryIndex = -1
      } else {
        const currentStateIndex = this.currentHistoryIndex === -1 ? this.history.length - 1 : this.currentHistoryIndex
        if (newSavedState !== this.history[currentStateIndex]) {
          if (this.currentHistoryIndex !== -1) {
            this.history.splice(this.currentHistoryIndex + 1)
          }
          this.history.push(newSavedState)
          this.currentHistoryIndex = -1
        }
      }
      if (this.history.length > 10) {
        this.history.shift()
      }
    },
    undoState() {
      if (this.history.length === 1) {
        return
      } else if (this.currentHistoryIndex === -1) {
        this.saveState()
        this.currentHistoryIndex = this.history.length - 2
        this.setState(this.history[this.currentHistoryIndex])
      } else if (this.currentHistoryIndex !== 0) {
        this.currentHistoryIndex = this.currentHistoryIndex - 1
        this.setState(this.history[this.currentHistoryIndex])
      }
    },
    redoState() {
      if (this.currentHistoryIndex === -1) {
        return
      } else {
        const newHistoryIndex = this.currentHistoryIndex + 1
        this.setState(this.history[newHistoryIndex])
        if (newHistoryIndex === this.history.length - 1) {
          this.currentHistoryIndex = -1
        } else {
          this.currentHistoryIndex = newHistoryIndex
        }
      }
    },
    print() {
      window.print()
    },
    focusClosest(event) {
      if (!this.editing) return
      if (event.target.classList.contains("line")) {
        const result = event.target.querySelectorAll("input.text")
        result.item(result.length - 1).focus()
        event.preventDefault()
      } else if (event.target.classList.contains("chord-lyrics")) {
        event.target.querySelector("input.chord").focus()
        event.preventDefault()
      } else if (event.target.classList.contains("directions")) {
        event.preventDefault()
        const textarea = event.target.querySelector("textarea.directions-textarea")
        if (textarea === null) {
          // no section name added, thus no directions to focus on
          return
        }
        textarea.focus()
      } else if (event.target.classList.contains("ol-section") || event.target.classList.contains("music")) {
        const lyricInput = event.target.querySelector("input.text")
        if (lyricInput === null) {
          // I dunno
          return
        }
        lyricInput.focus()
        event.preventDefault()
      }

      else {
        // Is a cat messing with your mouse? No idea what you mean
      }
    },
    isRepeatVerse(sectionIndex) {
      const sectionName = this.openlyrics.sections[sectionIndex].name
      for (let i = 0; i < sectionIndex; i++) {
        if (this.openlyrics.sections[i].name === sectionName) {
          return true
        }
      }
      return false
    },
    relevantDropZone(sectionIndex) {
      if (this.draggingId === null) {
        return false
      }
      const dropId = this.draggingId - sectionIndex
      return !(dropId === 0 || dropId === 1)
    },
    drop(event, afterSection) {
      event.preventDefault()
      const sectionId = parseInt(event.dataTransfer.getData('application/x-section-id').replace('section-', ''))
      editing.moveSection(sectionId, afterSection)
    },
    dragOver(event) {
      event.preventDefault()
      event.dataTransfer.dropEffect = 'move'
    },
    dragStart(event, sectionName, sectionIndex) {
      this.dragimage.clearRect(0, 0, 300, 50)
      this.dragimage.fillStyle = '#000'
      this.dragimage.font = "bold 20px sans-serif"
      this.dragimage.fillText(sectionName, 5, 25)
      event.dataTransfer.setDragImage(document.getElementById("dragimage"), 0, 0)
      event.dataTransfer.setData("application/x-section-id", sectionIndex)
      event.dataTransfer.effectAllowed = 'move'
      // Manipulating the DOM in the dragstart event causes
      // dragend to immediately fire, so put the trigger
      // for the DOM update on the task queue to be handled
      // later.
      setTimeout(() => {
        this.draggingId = sectionIndex
      }, 0)
    },
    dragEnd(event) {
      this.draggingId = null
    },
    removeSection(sectionIndex) {
      editing.removeSection(sectionIndex)
      this.saveState()
    },
    addVerse(verseName, sectionIndex) {
      const firstElementId = editing.addVerse(verseName, sectionIndex)
      this.focusAfterTick(firstElementId)
      this.saveState()
    },
    renameVerse(newVerseName, oldVerseName) {
      editing.renameVerse(newVerseName, oldVerseName)
      this.saveState()
    },
    changeVerse(newVerseName, sectionIndex) {
      editing.changeVerse(newVerseName, sectionIndex)
      this.saveState()
    },
    deleteElement(elementId) {
      editing.deleteElement(elementId)
      this.saveState()
    },
    mergeElement({ id, nextFocusId }) {
      editing.mergeElement(id)
      if (nextFocusId) {
        const idToRemove = editing.parseId(id)
        const idToFocus = editing.parseId(nextFocusId)
        const onlyElementDiffers = Object.entries(idToRemove).every(([key, value]) => key === 'element' || key === 'isChord' || value === idToFocus[key])
        if (onlyElementDiffers && idToRemove.element < idToFocus.element) {
          const newId = editing.formatId({ ...idToFocus, element: idToFocus.element - 1 })
          this.focusAfterTick(newId)
        }
      }
      this.saveState()
    },
    pasteMultipleLines(event) {
      const focusData = editing.pasteMultipleLines(event.text, event.target.id, event.target.selectionStart)
      this.focusAfterTick(focusData.id, focusData.focusStart)
      this.saveState()
    },
    saveActiveElement() {
      this.previousActiveElement = document.activeElement
    },
    toggleBarLine(activeElement) {
      if (!this.htmlElementIsInMusic(activeElement)) {
        return
      }
      const elementToFocus = editing.toggleBarLine(activeElement.id, activeElement.selectionStart)
      if (elementToFocus.usePreviousIndex) {
        this.focusAfterTick(elementToFocus.id, activeElement.selectionStart)
      } else {
        this.focusAfterTick(elementToFocus.id, 0)
      }
      this.saveState()
    },
    addSection(activeElement) {
      if (!this.htmlElementIsInMusic(activeElement)) {
        if (this.openlyrics.sections.length === 0) {
          const newSectionId = editing.addSection(null)
          this.focusAfterTick(newSectionId)
        } else {
          const newSectionId = editing.addSection(`${this.openlyrics.sections.length - 1}-0-0`)
          this.focusAfterTick(newSectionId)
        }
      } else {
        const newSectionId = editing.addSection(activeElement.id)
        this.focusAfterTick(newSectionId)
      }
      this.saveState()
    },
    addChord(activeElement) {
      if (!this.htmlElementIsInMusic(activeElement)) {
        return
      }
      const newChordId = editing.addChord(activeElement.id, activeElement.selectionStart)
      if (newChordId === null) {
        return
      }
      this.focusAfterTick(newChordId)
      this.saveState()
    },
    htmlElementIsInMusic(element) {
      if (!element) {
        return false
      }
      return element.classList.contains("text") || element.classList.contains("chord")
    },
    keydown(e) {
      if (!this.editing || !this.htmlElementIsInMusic(e.target)) return
      const id = editing.parseId(e.target.id)
      if (e.key === 'ArrowDown') {
        e.preventDefault()
        if (id.isChord) {
          this.focus(`${id.section}-${id.line}-${id.element}`, 0)
        } else {
          const verse = editing.findVerse(id)
          if (id.line + 1 < verse.length) {
            this.focus(`${id.section}-${id.line + 1}-${Math.min(id.element, verse[id.line + 1].length - 1)}-chord`)
          } else if (id.section < this.openlyrics.sections.length - 1) {
            const nextLine = editing.findLine(editing.parseId(`${id.section + 1}-0-0`))
            this.focus(`${id.section + 1}-0-${Math.min(id.element, nextLine.length - 1)}-chord`)
          } else {
            // Last line in last section, no down to go to
          }
        }
      } else if (e.key === 'ArrowUp') {
        e.preventDefault()
        if (id.isChord) {
          if (id.line !== 0) {
            const previousLine = editing.findLine(editing.parseId(`${id.section}-${id.line - 1}-0`))
            this.focus(`${id.section}-${id.line - 1}-${Math.min(id.element, previousLine.length - 1)}`)
          } else if (id.section !== 0) {
            const previousVerse = editing.findVerse(editing.parseId(`${id.section - 1}-0-0`))
            const lastLineId = previousVerse.length - 1
            this.focus(`${id.section - 1}-${lastLineId}-${Math.min(id.element, previousVerse[lastLineId].length - 1)}`)
          } else {
            // First line in first section, no up to go to
          }
        } else {
          this.focus(`${e.target.id}-chord`, -1)
        }
      } else if (e.key === 'ArrowRight' && e.target.value.length === e.target.selectionStart) {
        e.preventDefault()
        const verse = editing.findVerse(id)
        if (id.element < verse[id.line].length - 1) {
          const base = `${id.section}-${id.line}-${id.element + 1}`
          if (id.isChord) {
            this.focus(`${base}-chord`, 0)
          } else {
            this.focus(base, 0)
          }
        } else if (id.line < verse.length - 1) {
          const base = `${id.section}-${id.line + 1}-0`
          if (id.isChord) {
            this.focus(`${base}-chord`, 0)
          } else {
            this.focus(base, 0)
          }
        } else {
          // end of section, move to next section maybe?
        }
      } else if (e.key === 'ArrowLeft' && e.target.selectionStart === 0) {
        e.preventDefault()
        if (id.element !== 0) {
          const base = `${id.section}-${id.line}-${id.element - 1}`
          if (id.isChord) {
            this.focus(`${base}-chord`, -1)
          } else {
            this.focus(base, -1)
          }
        } else if (id.line !== 0) {
          const verse = editing.findVerse(id)
          const base = `${id.section}-${id.line - 1}-${verse[id.line - 1].length - 1}`
          if (id.isChord) {
            this.focus(`${base}-chord`, -1)
          } else {
            this.focus(base, -1)
          }
        } else {
          // beginning of section, move to previous section maybe?
        }
      } else if (e.key === 'Enter' && e.ctrlKey === false) {
        if (id.isChord) {
          const newLineId = editing.addLine(e.target.id, 0)
          this.focusAfterTick(newLineId, 0)
        } else {
          const newLineId = editing.addLine(e.target.id, e.target.selectionStart)
          this.focusAfterTick(newLineId, 0)
        }
        this.saveState()
      } else if (e.key === 'Enter' && e.ctrlKey === true) {
        this.addSection(document.activeElement)
      } else if (e.key === '|' || (e.key === '\\' && e.ctrlKey === true)) {
        this.toggleBarLine(document.activeElement)
        e.preventDefault()
      } else if (e.key === '/' && e.ctrlKey === true) {
        this.addChord(document.activeElement)
      } else if (e.key === 'Backspace' && e.target.selectionStart === 0) {
        if (id.isChord) {
          // Backspace on a chord first removes the bar line, if that is not present
          // then it merges with the previous element, removing the active chord.
          const hasRemovedBarLine = editing.removeBarLine(e.target.id)
          if (hasRemovedBarLine) {
            this.saveState()
            return
          } else if (id.element !== 0) {
            e.preventDefault()
            const resultId = editing.mergeElement(e.target.id)
            this.focusAfterTick(`${resultId}-chord`)
            this.saveState()
          } else {
            // first chord of line
            if (id.line === 0) {
              // don't merge sections
              return
            }
            e.preventDefault()
            const lastElementPreviousLine = editing.mergeLine(e.target.id)
            this.focusAfterTick(lastElementPreviousLine, 0)
            this.saveState()
          }
        } else if (id.element === 0) {
          // In the first element of the line, merge with the previous line
          if (id.line === 0) {
            // don't merge sections
            return
          }
          e.preventDefault()
          const lastElementPreviousLine = editing.mergeLine(e.target.id)
          this.focusAfterTick(lastElementPreviousLine, 0)
          this.saveState()
        } else {
          // In the middle of a line, merge with the previous element
          e.preventDefault()
          const previousElementLength = editing.findLine(id)[id.element - 1].text.length
          const resultId = editing.mergeElement(e.target.id)
          this.focusAfterTick(resultId, previousElementLength)
          this.saveState()
        }
      } else if (e.key === 'Delete' && e.target.selectionStart === e.target.value.length) {
        if (id.isChord) {
          // Merging chords might not make sense
          // Though users might want to delete the chord entirely and merge the stuff
          return
        } else {
          const line = editing.findLine(id)
          if (id.element === line.length - 1) {
            // Last element in line
            const verse = editing.findVerse(id)
            if (id.line === verse.length - 1) {
              // Last line, nothing to merge
              return
            }
            const line = editing.findLine(id)
            if (id.element === line.length - 1) {
              e.preventDefault()
              const lastElementInLine = editing.mergeLine(e.target.id, true)
              this.focusAfterTick(lastElementInLine, 0)
              this.saveState()
            }
          } else {
            // Element in middle of line, existence implies there is a chord
            // Logic of what to do is ambiguous
            return
          }
        }
      } else if (e.key === ' ' && id.isChord) {
        e.preventDefault()
        if (e.shiftKey) {
          editing.addChordAtPreviousWord(e.target.id)
          this.saveState()
        } else {
          editing.addChordAtNextWord(e.target.id)
          this.saveState()
        }
      } else if (e.key === 'End' && !id.isChord) {
        e.preventDefault()
        const line = editing.findLine(id)
        this.focus(`${id.section}-${id.line}-${line.length - 1}`, -1)
      } else if (e.key === 'Home' && !id.isChord) {
        e.preventDefault()
        this.focus(`${id.section}-${id.line}-0`, 0)
      }
    },
    focus(id, caretLocation = null) {
      document.getElementById(id).focus()
      if (caretLocation !== null) {
        document.getElementById(id).setSelectionRange(caretLocation, caretLocation)
      } else if (caretLocation === -1) {
        const endOfValue = document.getElementById(id).value.length - 1
        document.getElementById(id).setSelectionRange(endOfValue, endOfValue)
      }
    },
    focusAfterTick(id, caretLocation = null) {
      this.$nextTick(() => {
        this.focus(id, caretLocation)
      })
    },
    tryFocussing(id, caretLocation = null) {
      const newFocusedElement = document.getElementById(id)
      if (newFocusedElement != null) {
        this.focus(id, caretLocation)
        return true
      } else {
        return false
      }
    },
    save() {
      if (!this.editing) return
      const newContent = parsing.save(this.openlyrics.metadata, this.openlyrics.sections, this.openlyrics.verses)
      this.$emit('save', { content: newContent, variant: this.openlyrics.metadata.variant })
    },
    del() {
      this.$emit('delete')
    },
  }
}
</script>

<style scoped>
.drop-location {
  padding: 0.5em;
  margin: 0.5em;
  border: 1px dashed blue;
  color: blue;
  text-align: center;
}

.toolbar {
  padding: 0.2em;
  border-bottom: 1px solid black;
  position: sticky;
  top: -1px;
  background-color: white;
  z-index: 1;
}

.toolbar>* {
  margin-right: 0.2em;
}

.toolbar>h2 {
  display: inline-block;
  font-size: 1.2em;
  margin-left: 0.3em;
  margin-right: 1em;
}

.toolbar .ms-icon {
  font-size: 1.3em;
  padding: 0.2em;
  background-color: rgb(240, 240, 240);
  border: 1px outset black;
  border-radius: 0.2rem;
}

.text {
  border: 1px solid gray;
  border-radius: 5px;
  background-color: inherit;
  font-size: 1em;
  padding: 2px;
  margin-bottom: 1px;
}

.text:focus {
  outline-width: 0;
}

.ol-section {
  display: flex;
  border-bottom: 1px solid grey;
}

.top-border {
  border-top: 1px solid grey;
}

.music {
  padding: 0.5em;
}

.toolbar-end-buttons {
  float: right;
}

.toolbar-end-buttons>* {
  margin-right: 0.2em;
}

.floating-view-settings {
  position: absolute;
  top: 0;
  right: 0;
}
</style>
