<template>
  <div class="directions">
    <div
      v-if="editing"
      class="header"
    >
      <button
        type="button"
        @click="$emit('delete')"
        class="ms-icon section-delete"
        title="Verwijder sectie"
      >
        
      </button>
      <span
        class="ms-icon reorder"
        draggable="true"
        @dragstart="$emit('start-reorder', $event)"
        @dragend="$emit('end-reorder', $event)"
        title="Sleep om te verschuiven"
      >
        &#xEF33;
      </span>
      <select
        v-model="section.dynamic"
        class="dynamic-select dynamic"
        @blur="$emit('save-state')"
      >
        <option>ppp</option>
        <option>pp</option>
        <option>p</option>
        <option>mp</option>
        <option>mf</option>
        <option>f</option>
        <option>ff</option>
        <option>fff</option>
      </select>
      <input
        :id="`section-${sectionIndex}-name`"
        @blur="$emit('save-state')"
        class="name"
        :class="{ 'unknown-name': !isNameValid }"
        size="9"
        type="text"
        :title="nameTooltip"
        v-model="newVerseName"
        autocomplete="off"
      />
    </div>
    <div
      class="header"
      v-else
    >
      <span class="dynamic">{{ section.dynamic }}</span>
      <span class="name">{{ section.name }}</span>
    </div>
    <div v-if="editing && section.name !== ''">
      <textarea
        @blur="$emit('save-state')"
        class="directions-textarea"
        autocomplete="off"
        v-model="section.directions"
        @input="grow"
        ref="textarea"
      />
    </div>
    <div
      v-if="editing"
      class="verse-edit-buttons"
    >
      <button
        type="button"
        v-if="newVerseName !== '' && !isVerseKnown && isNameValid"
        @click="$emit('add-verse', newVerseName)"
      >
        Maak nieuw vers: <b>{{ newVerseName }}</b>
      </button>
      <button
        type="button"
        v-if="newVerseName !== '' &&
          section.name !== '' &&
          !isOriginalVerseName &&
          !isVerseKnown &&
          isNameValid
        "
        @click="$emit('rename-verse', newVerseName)"
      >
        Hernoem <b>{{ section.name }}</b> naar <b>{{ newVerseName }}</b>
      </button>
      <button
        type="button"
        v-if="isVerseKnown && !isOriginalVerseName && isNameValid"
        @click="$emit('change-verse', newVerseName)"
      >
        Verander in <b>{{ newVerseName }}</b>
      </button>
      <button
        type="button"
        v-if="section.name !== '' && !isOriginalVerseName"
        @click="newVerseName = section.name"
      >
        Reset
      </button>
    </div>
    <div
      v-if="!editing"
      style="white-space: pre-wrap"
    >
      {{ section.directions }}
    </div>
  </div>
</template>

<script>
export default {
  props: ['modelValue', 'editing', 'verseNames', 'sectionIndex'],
  data() {
    const verseNameTranslation = {
      intro: 'i',
      vers: 'v',
      'pre-chorus': 'p',
      refrein: 'c',
      solo: 's',
      bridge: 'b',
      tussenspel: 'm',
      overig: 'o',
      einde: 'e'
    }
    return {
      verseNameRegexp: new RegExp(`^(${Object.keys(verseNameTranslation).join('|')})( \\d+)?$`),
      verseNameTranslation,
      newVerseName: this.modelValue.name
    }
  },
  watch: {
    'section.name'(newValue) {
      this.newVerseName = newValue
    },
    editing(newValue) {
      if (newValue) {
        this.$nextTick(this.grow)
      }
    }
  },
  mounted() {
    if (this.editing) {
      this.$nextTick(this.grow)
    }
  },
  methods: {
    grow() {
      if (this.$refs.textarea) {
        this.$refs.textarea.style.height = (this.$refs.textarea.scrollHeight) + "px"
      }
    }
  },
  computed: {
    nameTooltip() {
      if (this.isNameValid) {
        return null
      } else {
        return `De naam van de sectie moet ${Object.keys(this.verseNameTranslation).join(', ')} zijn. Eventueel gevolgd door een getal.`
      }
    },
    isOriginalVerseName() {
      return this.newVerseName === this.section.name
    },
    isVerseKnown() {
      return this.verseNames.includes(this.newVerseName)
    },
    isNameValid() {
      if (!(this.newVerseName)) {
        return true
      }
      return this.newVerseName.match(this.verseNameRegexp) !== null
    },
    section: {
      get() {
        return this.modelValue
      },
      set(newValue) {
        this.$emit('update:modelValue', newValue)
      }
    }
  }
}
</script>

<style scoped>
.verse-edit-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.3em;
}

.unknown-name {
  text-decoration: underline;
  text-decoration-color: red;
}

.header {
  margin-bottom: 0.2em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.section-delete {
  font-size: 1em;
  margin-right: 0.5em;
  padding: 0;
}

.reorder {
  font-size: 1em;
  padding: 0;
  position: relative;
  cursor: grab;
  user-select: none;

}

.dynamic-select {
  background-color: inherit;
  border: none;
  text-indent: 3px;
}

.dynamic {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  font-style: italic;
  font-size: 0.8em;
}

.name {
  font-weight: bold;
  font-size: 1em;
  padding: 0;
  max-width: 100%;
  margin-left: 0.3em;
}

input.name {
  background-color: inherit;
  border: none;
  text-align: right;
}

input.name:focus {
  outline-width: 0;
}

.directions {
  padding: 0.5em;
  border-right: 1px solid grey;
  text-align: end;
  max-width: 15em;
  width: 25%;
}

.directions-textarea {
  resize: none;
  border: none;
  background-color: inherit;
  text-align: right;
  width: 100%;
  font-size: 1em;
  padding: 0;
}

.directions-textarea:focus {
  outline-width: 0;
}

.directions .line {
  min-height: 1em;
}
</style>