<template>
  <div class="ol-header">
    <div v-if="editing">
      <div class="ol-title">
        <span>{{ metadata.title }}</span>
      </div>
      <div class="ol-subheader">
        <input
          id="variant"
          class="header-input"
          type="text"
          v-model="metadata.variant"
          placeholder="variant"
          @blur="$emit('save-state')"
        />
        <span class="bpm">
          <input
            id="bpm"
            class="bpm header-input"
            type="number"
            v-model="metadata.bpm"
            @blur="$emit('save-state')"
            min="0"
          />
          bpm
        </span>
        <span class="timesignature">
          <select
            v-model="metadata.timeSignature"
            @blur="$emit('save-state')"
            id="time-signature"
          >
            <option>4/4</option>
            <option>3/4</option>
            <option>6/8</option>
            <option>12/8</option>
            <option>2/2</option>
            <option>5/4</option>
          </select>
        </span>
      </div>
    </div>
    <div v-else>
      <div class="ol-title">
        <span>{{ metadata.title }}</span>
      </div>
      <div class="ol-subheader">
        <span v-if="metadata.variant">{{ metadata.variant }}</span>
        <span
          v-if="metadata.bpm"
          class="bpm"
        >{{ metadata.bpm }} bpm</span>
        <span v-if="metadata.timeSignature">{{ metadata.timeSignature }}</span>
        <span
          v-if="transpose !== 0 && showChords"
          class="transpose-title"
        >(getransponeerd
          {{ transpose > 0 ? `+${transpose}` : transpose }})</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['editing', 'modelValue', 'transpose', 'showChords'],
  computed: {
    metadata: {
      get() {
        return this.modelValue
      },
      set(newValue) {
        this.$emit('update:modelValue', newValue)
      }
    }
  }
}
</script>

<style scoped>
.ol-header {
  margin-bottom: 1em;
  text-align: center;
}

.ol-title {
  font-size: 1.5em;
}

.header-input {
  border: none;
  border-bottom: 1px solid black;
  background-color: inherit;
  font-size: 1em;
}

.ol-subheader>* {
  margin-left: 1em;
}

input.bpm {
  width: 4em;
}

.variant>input {
  border: none;
  border-bottom: 1px solid black;
  background-color: inherit;
}

.ol-subheader select {
  background-color: inherit;
}

.transpose-title {
  font-size: 0.8em;
  margin-left: 0.5em;
}
</style>