<template>
  <div
    class="dropdown is-right"
    :class="{ 'is-active': showViewSettings }"
  >
    <div class="dropdown-trigger">
      <button
        id="viewer-settings"
        type="button"
        class="ms-icon no-print"
        :class="{ enabled: showViewSettings }"
        title="Viewer instellingen"
        style="float: right"
        @click="showViewSettings = !showViewSettings"
      >
        &#xEF55;
      </button>
    </div>
    <div class="dropdown-menu">
      <div class="dropdown-content">
        <div class="dropdown-item">
          <label class="checkbox">
            <input
              type="checkbox"
              v-model="settings.show_chords"
            />
            Akkoorden
          </label>
        </div>
        <div class="dropdown-item">
          <label class="checkbox">
            <input
              type="checkbox"
              v-model="settings.hide_repeats"
            />
            Verberg herhalingen
          </label>
        </div>
        <div class="dropdown-item">
          <div class="transpose">
            <input
              type="number"
              step="1"
              v-model.number="settings.transpose"
              min="-11"
              max="11"
            />
            <span>Transponeer</span>
          </div>
        </div>
        <div class="dropdown-item">
          <label class="checkbox">
            <input
              type="checkbox"
              v-model="settings.use_flats"
            />
            Gebruik mol
          </label>
        </div>
        <div class="dropdown-item">
          <label class="checkbox">
            <input
              type="checkbox"
              v-model="settings.show_chord_notes"
              id="chord-notes"
            />
            Akkoordnoten
          </label>
        </div>
        <slot />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['openLyricsId'],
  data() {
    return {
      settings: {
        show_chords: true,
        hide_repeats: false,
        transpose: 0,
        use_flats: false,
        show_chord_notes: false,
      },
      showViewSettings: false,
      settingsUpdateTimeout: null,
      settingId: null,
    }
  },
  mounted() {
    if (!this.openLyricsId) {
      return
    }
    this.$api.get(`api/open-lyrics-settings/?openlyrics=${this.openLyricsId}`, response => {
      if (response.length === 1) {
        this.settingId = response[0].id
        Object.keys(this.settings).forEach(settingName => {
          if (response[0][settingName] === null || response[0][settingName] === undefined) {
            return
          }
          this.settings[settingName] = response[0][settingName]
        })
      }
    })
  },
  watch: {
    settings: {
      deep: true,
      handler(newSettings) {
        this.$emit('set-settings', {
          showChords: newSettings.show_chords,
          transpose: newSettings.transpose,
          hideRepeats: newSettings.hide_repeats,
          useFlats: newSettings.use_flats,
          showChordNotes: newSettings.show_chord_notes
        })
        if (this.openLyricsId) {
          if (this.settingsUpdateTimeout !== null) {
            clearTimeout(this.settingsUpdateTimeout)
          }
          this.settingsUpdateTimeout = setTimeout(() => {
            const settings = {
              ...newSettings,
              openlyrics: this.openLyricsId
            }
            if (this.settingId !== null) {
              this.$api.put(`api/open-lyrics-settings/${this.settingId}/`, settings, response => {
                this.settingsUpdateTimeout = null
              })
            } else {
              this.$api.post(`api/open-lyrics-settings/`, settings, response => {
                this.settingId = response.id
                this.settingsUpdateTimeout = null
              })
            }
          }, 700)
        }
      }
    }
  }
}
</script>

<style scoped>
.transpose>input {
  width: 3em;
  margin-right: 0.5em;
}

.ms-icon {
  font-size: 1.3em;
  padding: 0.2em;
  background-color: rgb(240, 240, 240);
  border: 1px outset black;
  border-radius: 0.2rem;
}

.enabled {
  background-color: darkgrey;
}
</style>