@use 'bulma/sass/utilities/mixins';
@use 'bulma/bulma';

:root {
  --bulma-footer-background-color: #363636;
  --bulma-footer-color: #fff;
}

.bulma-loader-mixin {
  @include mixins.loader
}

@font-face {
  font-family: 'MusescoreIcon';
  src: url('MusescoreIcon.woff2') format('woff2')
}