{% extends "sites/base.html" %}
{% load static %}
{% block head %}
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
>
<script
  src="{% static 'sites/match-score/match_score.js' %}"
  type="module"
></script>
<style>
  .card-header-title {
    font-weight: normal
  }

  .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }

  .up {
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }

  .down {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .hidden {
    display: none
  }

  .filters {
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
  }

  .counter {
    margin-bottom: 1em;
    font-size: 0.8em;
  }
</style>
{% endblock %}

{% block body %}
<section class="hero is-dark">
  <div class="hero-head">
    <nav class="navbar">
      <div class="navbar-brand">
        <a
          class="navbar-item is-size-5"
          href="{% url 'home_page' %}"
        >Tehila</a>
        <div class="navbar-item">
          <button
            type="button"
            class="button is-small"
            onclick="openModal()"
          >Feedback</button>
        </div>
        <div class="navbar-item">
          <a
            class="button is-small"
            href="/app/"
          >Login</a>
        </div>
      </div>
    </nav>
  </div>
  <div class="hero-body">
    <h1 class="title">{{ band.name }}</h1>
    <p class="subtitle">Repertoire</p>
  </div>
</section>

<section class="section">
  <div class="container">
    <p>Dit is het repertoire van {{ band.name }}{% if band.church %} uit <a
        href="{% url 'church_page' band.church.name %}"
      >
        {{ band.church.name }}</a>{% endif %}. Klik op een lied om hem open te klappen
      voor meer informatie.</p>
    <div class="filters">
      <div class="field">
        <label
          class="label"
          for="search-title"
        >Zoek op titel</label>
        <div class="control">
          <input
            id="search-title"
            class="input"
            type="text"
          >
        </div>
      </div>
      <div class="field">
        <label
          class="label"
          for="search-collection"
        >Zoek op liedboek</label>
        <div class="control">
          <div class="select">
            <select id="search-collection">
              {% for collection in collections %}
              <option value="{{ collection }}">{{ collection }}</option>
              {% endfor %}
            </select>
          </div>
          <button
            type="button"
            id="collection-reset"
            class="delete"
            style="margin: 0.5rem 0 0 0.5rem"
            aria-label="Reset liedboek"
          ></button>
        </div>
      </div>
      <div class="field">
        <label
          class="label"
          for="search-tag"
        >Zoek op tag</label>
        <div class="control">
          <div class="select">
            <select id="search-tag">
              {% for tag in tags %}
              <option value="{{ tag }}">{{ tag }}</option>
              {% endfor %}
            </select>
          </div>
          <button
            type="button"
            id="tag-reset"
            class="delete"
            style="margin: 0.5rem 0 0 0.5rem"
            aria-label="Reset tag"
          ></button>
        </div>
      </div>
    </div>
    <hr>
    <p
      data-testid="filtered-info"
      class="counter"
    >Aantal nummers in repertoire: {{ repertoire|length }}<span id="filtered"></span></p>
    <div id="repertoire">
      {% for song in repertoire %}
      <div
        class="card"
        style="margin-bottom: 1em"
        id="song-id-{{ song.id }}"
        data-songid="{{ song.id }}"
        data-title="{{ song.title }}"
      >
        <header
          class="card-header"
          style="cursor: pointer"
        >
          <h2 class="card-header-title">
            <span>{{ song.title }}</span>
            {% if song.tags %}
            <div
              class="tags"
              style="margin-left: 1em"
            >
              {% for tag in song.tags %}
              <span
                class="tag"
                style="background-color: {{ tag.background_color }}; color: {{ tag.text_color }}"
              >{{ tag.name }}</span>
              {% endfor %}
            </div>
            {% endif %}
          </h2>
          <button
            type="button"
            class="card-header-icon"
            aria-label="Klap lied uit"
          >
            <span class="icon">
              <i
                aria-hidden="true"
                class="arrow down"
              ></i>
            </span>
          </button>
        </header>
        <div class="card-content hidden">
          <div class="content">
            <p>Liedbundels: {{ song.collection_text }}</p>
            <p>Laatste keer gespeeld op: {{ song.last_played_text }}</p>
          </div>
        </div>
        <footer class="card-footer hidden">
          <a
            target="_blank"
            href="{{ song.lyrics_search }}"
            class="card-footer-item"
            rel="noopener"
          >Zoek liedtekst</a>
          <a
            target="_blank"
            href="{{ song.spotify_search }}"
            class="card-footer-item"
            rel="noopener"
          >Zoek op Spotify</a>
          <a
            target="_blank"
            href="{{ song.youtube_search }}"
            class="card-footer-item"
            rel="noopener"
          >Zoek op YouTube</a>
        </footer>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% include "sites/footer.html" %}

{{ song_data|json_script:"song-data" }}

<script type="module">
  import wasm_doodad from "{% static 'sites/match-score/match_score.js' %}"

  wasm_doodad().then(wasm => {
    window.match_score = wasm.cwrap('match_score', 'number', ['string', 'string'])
  })

  function getMatchScore() {
    return new Promise(function (resolve) {
      if (window.match_score) {
        resolve(window.match_score)
      } else {
        function check() {
          if (window.match_score) {
            resolve(window.match_score)
          } else {
            setTimeout(check, 100)
          }
        }
        setTimeout(check, 100)
      }
    })
  }

  const songData = document.getElementById('song-data').textContent

  function setRepertoireDOM(shownSongs, hiddenSongs) {
    const repertoire = document.getElementById('repertoire')
    shownSongs.forEach(songId => {
      const songElement = document.getElementById(`song-id-${songId}`)
      songElement.classList.remove('hidden')
      repertoire.appendChild(songElement)
    })
    hiddenSongs.forEach(songId => {
      const songElement = document.getElementById(`song-id-${songId}`)
      songElement.classList.add('hidden')
      repertoire.appendChild(songElement)
    })
  }

  window.addEventListener('DOMContentLoaded', () => {
    // Initial state and necessary element references
    document.getElementById('search-collection').selectedIndex = -1
    document.getElementById('search-tag').selectedIndex = -1
    const songs = document.querySelectorAll('div.card')
    const filteredText = document.getElementById('filtered')
    const titleSearch = document.getElementById('search-title')
    const tagSelect = document.getElementById('search-tag')
    const collectionSelect = document.getElementById('search-collection')
    const songIds = JSON.parse(songData).data.map(song => song.id)

    function setFilteredText(hiddenSongsLength) {
      if (hiddenSongsLength === 0) {
        filteredText.classList.add('hidden')
      } else {
        filteredText.classList.remove('hidden')
        filteredText.innerText = ` (${hiddenSongsLength} verborgen)`
      }
    }

    // Open and close card event listener
    songs.forEach(song => {
      song.querySelector('header.card-header').addEventListener('click', () => {
        const content = song.querySelector('div.card-content')
        const footer = song.querySelector('footer.card-footer')
        const chevron = song.getElementsByTagName('i')[0]
        chevron.classList.toggle('down')
        chevron.classList.toggle('up')
        content.classList.toggle('hidden')
        footer.classList.toggle('hidden')
      })
    })

    function filterOnTag(songs) {
      if (!tagSelect.value) {
        return songs
      }
      return songs.filter(song => song.tags.includes(tagSelect.value))
    }

    function filterOnCollection(songs) {
      if (!collectionSelect.value) {
        return songs
      }
      return songs.filter(song => song.collections.find(col => col.collection === collectionSelect.value))
    }

    async function filterOnTitle(songs) {
      const matchScore = await getMatchScore()
      if (!titleSearch.value) {
        return songs
      }
      const newSongs = songs.map(song => {
        song.score = matchScore(titleSearch.value, song.title)
        return song
      }).filter(song => song.score >= 0)
      return newSongs.sort((a, b) => b.score - a.score)
    }

    async function filterRepertoire() {
      let songs = JSON.parse(songData).data
      songs = filterOnTag(songs)
      songs = filterOnCollection(songs)
      songs = await filterOnTitle(songs)
      const shownSongs = songs.map(song => song.id)
      const hiddenSongs = songIds.filter(songId => !shownSongs.includes(songId))
      setRepertoireDOM(shownSongs, hiddenSongs)
      setFilteredText(hiddenSongs.length)
    }


    // Trigger filters
    titleSearch.addEventListener('input', (event) => {
      filterRepertoire()
    })
    tagSelect.addEventListener('change', (event) => {
      filterRepertoire()
    })
    collectionSelect.addEventListener('change', (event) => {
      filterRepertoire()
    })
    document.getElementById('tag-reset').addEventListener('click', () => {
      tagSelect.selectedIndex = -1
      filterRepertoire()
    })
    document.getElementById('collection-reset').addEventListener('click', () => {
      collectionSelect.selectedIndex = -1
      filterRepertoire()
    })
  })
</script>

<script>
  function submitContactForm(event) {
    event.preventDefault()
    document.getElementById('error-notification').classList.add('hidden')
    document.getElementById('ok-notification').classList.add('hidden')
    const request = {
      name: document.getElementById('name').value,
      email: document.getElementById('email').value,
      message: document.getElementById('message').value
    }
    const headers = new Headers({
      'X-CSRFToken': document.getElementsByName('csrfmiddlewaretoken')[0].value,
      'content-type': 'application/json'
    })
    fetch('/contact/', {
      method: 'post',
      headers,
      body: JSON.stringify(request)
    }).then(response => {
      if (!response.ok) {
        document.getElementById('error-notification').classList.remove('hidden')
      } else {
        document.getElementById('contact-inputs').classList.add('hidden')
        document.getElementById('ok-notification').classList.remove('hidden')
        document.getElementById('ok-notification').scrollIntoView()
      }
    })
  }

  function openModal() {
    document.getElementById('contact-modal').classList.add('is-active')
  }

  window.addEventListener('DOMContentLoaded', () => {
    document.querySelectorAll('.modal-background, .modal-close').forEach((element) => {
      element.addEventListener('click', () => {
        document.getElementById('contact-modal').classList.remove('is-active')
      })
    })
    document.addEventListener('keydown', (event) => {
      if (event.keyCode === 27) {
        document.getElementById('contact-modal').classList.remove('is-active')
      }
    })
  })
</script>
<section
  class="modal"
  id="contact-modal"
>
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box">
      {% if contact_form_closed %}
      <h2 class="subtitle">Feedback voor Tehila</h2>
      <p>Helaas is de berichtenbak vol! Probeer het later opnieuw.</p>
      {% else %}
      <h2 class="subtitle">Feedback voor Tehila</h2>
      <p class="mb-4">Werkt er iets niet? Of zie je mogelijkheden tot verbeteringen? Laat het weten, dan kan ik ernaar
        kijken!</p>
      <form
        class="container"
        style="max-width: 40em"
        onsubmit="submitContactForm(event)"
      >
        {% csrf_token %}
        <div id="contact-inputs">
          <div class="field">
            <label
              class="label"
              for="message"
            >Bericht</label>
            <div class="control">
              <textarea
                id="message"
                required
                class="textarea"
                maxlength="500"
              ></textarea>
            </div>
          </div>
          <p class="mb-4">Als je wil mag je je gegevens meesturen, dan kan ik eventueel contact met je opnemen als ik
            nog vragen heb.
            Dit is optioneel.
          </p>
          <div class="field">
            <label
              class="label"
              for="name"
            >Naam</label>
            <div class="control">
              <input
                id="name"
                class="input"
                type="text"
                maxlength="100"
              >
            </div>
          </div>
          <div class="field">
            <label
              class="label"
              for="email"
            >Email</label>
            <div class="control">
              <input
                id="email"
                class="input"
                type="email"
                maxlength="100"
              >
            </div>
          </div>
          <div class="field">
            <div class="control">
              <button
                id="send"
                class="button is-link"
                type="submit"
              >Versturen</button>
            </div>
          </div>
        </div>
        <div
          id="error-notification"
          class="hidden notification is-danger mt-3"
        >Er is een fout gebeurd! Probeer het later opnieuw.</div>
        <div
          id="ok-notification"
          class="hidden notification is-success mt-3"
        >Je bericht is verstuurd!</div>
      </form>
      {% endif %}
    </div>
  </div>
  <button
    type="button"
    class="modal-close is-large"
    aria-label="close"
  ></button>
</section>

{% endblock %}