<!DOCTYPE html>
<html lang="nl">

<head>
  <meta charset="utf-8">
  <meta
    name="viewport"
    content="width=device-width,initial-scale=1.0"
  >
  <meta
    name="description"
    content="Band website for churches"
  >
  <title>{% block title %}Tehila{% endblock %}</title>
  {% block head %}{% endblock %}
</head>

<body>
  {% block body %}{% endblock %}
</body>

</html>