{% extends "sites/base.html" %}

{% block head %}
<style>
  body {
    margin: 0;
  }

  .background {
    font-family: sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  h1 {
    margin: 0;
    margin-right: 1em;
    font-weight: normal;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
  }

  nav>a {
    color: white
  }

  main {
    padding-top: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    margin: 1em 0 3em 0;
  }

  main>article {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 360px;
    max-height: 360px;
    width: 70vw;
    height: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 3px solid white;
    border-radius: 3px;
  }

  @media only screen and (min-width: 650px) {
    main>article {
      width: 35vw;
      height: 35vw;
    }
  }

  main>article>h2 {
    box-sizing: border-box;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 70%, rgba(0, 0, 0, 0) 100%);
    font-weight: normal;
    padding: 0.5em 0.3em;
    margin: 0;
    color: white;
    text-align: center;
    width: 100%;
  }

  main>article>a {
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 0.7em;
    margin-bottom: 2em;
    background-color: rgba(0, 0, 0, 0.7);
  }

  main>article>a:hover {
    border: 2px solid white;
  }

  footer {
    box-sizing: border-box;
    padding: 4em 0 2em 0;
    margin-top: -2em;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 70%, rgba(0, 0, 0, 0) 100%);
    color: white;
    width: 100vw;
    text-align: center;
  }

  footer>a {
    color: white
  }
</style>
{% endblock %}

{% block body %}
{% if church.background_picture %}
<div
  class="background"
  style="background-image: url({{church.background_picture.url}})"
>
  {% else %}
  <div
    class="background"
    style="background: linear-gradient(0deg, rgb(245, 16, 245) 0%, rgba(0,196,255,1) 100%);"
  >
    {% endif %}


    <header>
      <h1>{{ church.name }}</h1>
      <nav>
        <a href="/app/">Band login</a>
      </nav>
    </header>

    <main>
      {% for band in bands %}
      {% if band.background_picture %}
      <article style="background-image: url({{band.background_picture.url}})">
        {% else %}
        <article style="background-color: lightgrey">
          {% endif %}
          <h2>{{ band.name }}</h2>
          <a href="{% url 'band_page' band.name %}">Repertoire</a>
        </article>
        {% endfor %}
    </main>

    <footer>
      Onderdeel van <a href="/">Tehila</a>
    </footer>

  </div>
  {% endblock %}