{% extends "sites/base.html" %}
{% block head %}
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
>
<style>
  h2 {
    font-size: 1.3em !important;
  }

  nav {
    margin-bottom: 4em;
  }

  article {
    margin-bottom: 2em;
  }
</style>
{% endblock %}

{% block body %}
{% include 'sites/nav.html' %}
<section class="section">
  <div
    class="container content"
    style="max-width: 50em"
  >
    <h1 class="title">Tehila handleiding</h1>
    <nav>
      <h2>Inhoudsopgave</h2>
      <ul>
        <li><a href="#account">Account</a></li>
        <li><a href="#agenda">Agenda</a></li>
        <li><a href="#repertoire">Repertoire</a></li>
        <li><a href="#opnames">Opnames</a></li>
        <li><a href="#tehila-recorder">Tehila Recorder</a></li>
        <li><a href="#bandleden">Bandleden</a></li>
        <li><a href="#nummers">Nummers</a></li>
        <li><a href="#bladmuziek">Bladmuziek</a></li>
        <li><a href="#websites">Websites</a></li>
      </ul>
    </nav>
    <article>
      <h2 id="account">Account</h2>
      <p>Er zijn twee mogelijkheden om een account aan te maken, je kan met Google inloggen of je kan via WebAuthn
        een account aanmaken. Voor WebAuthn kan je gewoon een username kiezen en deze technologie koppelt dan jouw
        apparaat aan je account. Hierdoor heb je geen wachtwoord nodig.
      </p>
      <p>Onder het kopje "Instellingen" vindt je ook je account instellingen. Hier kan je je username, wachtwoord en
        email veranderen. Ook kan je hier Tehila loskoppelen van je Google account als je inloggen met Google hebt
        gebruikt. Ten slotte kan je hier meer devices linken zodat je ook voor die geen wachtwoord hoeft te hebben.
      </p>
      <p>En je kan natuurlijk je account verwijderen.</p>
    </article>
    <article>
      <h2 id="agenda">Agenda</h2>
      <p>In de agenda kan je de oefenavonden en diensten zetten. In elk event kan je de nummers zetten die jullie gaan
        spelen. Alle nummers die aan een dienst gekoppeld zijn komen op de repertoire lijst te staan. Op de agenda
        pagina vindt je een knop "abboneer", daar staat een iCal link op die je in je digitale agenda kan zetten zodat
        alle events automatisch in je agenda komen.</p>
      <p>Op de pagina van een event staan onderaan nog twee knoppen: "Copy recording links to share" en "OpenLyrics".
        Met copy knop wordt er een tekst gemaakt en op je clipboard gezet, in de tekst staan alle nummers en links
        naar de nieuwste opname van elk nummer. Deze tekst kan je dan bijvoorbeeld in WhatsApp plakken zodat de hele
        band ook via WhatsApp de opnames kan vinden. De OpenLyrics knop opent de pagina met alle gekoppelde bladmuziek
        van het event. Zie <a href="#bladmuziek">bladmuziek</a> voor meer informatie.
      </p>
    </article>
    <article>
      <h2 id="repertoire">Repertoire</h2>
      <p>Op de repertoire pagina zie je alle nummers die de band in een dienst gespeeld heeft. Je kan verschillende
        filters gebruiken om in het repertoire te zoeken. Daarnaast is er een knop om het repertoire te delen. Deze
        link is een aparte pagina die publiek is. De functionaliteit op die pagina is iets minder en ook de opnames
        zijn op de publieke pagina niet beschikbaar.
      </p>
    </article>
    <article>
      <h2 id="opnames">Opnames</h2>
      <p>Als je een lied openklapt op het repertoire of in een dienst dan zie je een knop om opnames te uploaden.
        Deze opnames zijn dan gekoppeld aan jouw band. Als je later een nummer nog een keer gaat spelen kan je
        terugluisteren hoe jullie hem de vorige keer gespeeld hebben. En je kan ook opnames van oefenavonden
        erin zetten zodat je daar thuis nog een keer mee kan oefenen bijvoorbeeld.
      </p>
      <p>Als je de Tehila Recorder hebt geïnstalleerd dan kan je muziek direct in Tehila opnemen. Op de "Recorder"
        pagina vindt je dan de Recorders die geïnstalleerd zijn in jouw kerk. Daar kan je er dan eentje openen.
        Je vindt dan een grote rode knop om een opname te starten. Als je de opname stopt dan blijft hij nog
        even draaien om het bestand om te zetten naar een MP3 en dan krijg je hem teruggestuurd. Je kan hem dan
        luisteren en je kan hem uploaden bij een nummer of hem downloaden om de opname via WhatsApp of iets anders
        te delen.
      </p>
    </article>
    <article>
      <h2 id="repertoire-opnames">Repertoire opnames</h2>
      <p>Aan elk nummer kan je één opname verbinden als band. Deze opname verschijnt dan openbaar op de repertoire lijst
        en ook in de export. Om dit te doen ga je naar de repertoire pagina, klap het nummer open en klik dan op de drie
        puntjes bij een opname. Daar kan je "Zet op repertoire" kiezen en dan is dat de opname die op de lijst komt te
        staan.
      </p>
    </article>
    <article>
      <h2 id="tehila-recorder">Tehila recorder</h2>
      <p>Je kan opnames via elke recorder app op je telefoon maken. Maar als je oefent met een mixer die ook een
        USB output heeft dan kan je het mooier maken. Voor Tehila heb ik een simpele applicatie gemaakt die je
        kan opstarten op een PC die verbonden is met de mixer en in hetzelfde netwerk zit als jouw telefoon.
        Tehila kan dan met die applicatie verbinden waardoor je heel makkelijk de output van de mixer in Tehila
        kan krijgen.
      </p>
      <p>
        Vul het contact formulier in op de homepage, dan stuur ik je de software op en stel ik Tehila in zodat de mixer
        herkent gaat worden.
      </p>
    </article>
    <article>
      <h2 id="bandleden">Bandleden</h2>
      <p>Op de home page zie je een blokje met "Bandleden". Dit zijn alle accounts op Tehila die aan jouw band
        gekoppeld zijn. Hier kunnen alle bandleden mensen toevoegen en verwijderen.
      </p>
      <p>Als je iemand wil toevoegen klik je op de knop "Nieuw lid uitnodigen", hier vul je dan de username in
        van het account die je wil toevoegen. Het nieuwe lid krijgt dan een "Uitnodigingen" item in zijn menubalk.
        Hier kan hij de uitnodiging accepteren of weigeren.
      </p>
      <p>Je kan iemand anders (of jezelf) verwijderen door op het vergrootglas te klikken. Behalve als er maar één
        bandlid is, want een band zonder leden kan niet. Vul het feedback formulier in als je de hele band wil laten
        verwijderen.
      </p>
    </article>
    <article>
      <h2 id="nummers">Nummers</h2>
      <p>Tehila is al gevuld met een heleboel nummers. Maar natuurlijk niet met alle nummers die bestaan. Dus je kan
        zelf ook nummers toevoegen aan de database. Een nummer heeft in ieder geval een titel. Daarnaast kan je ook
        tags toevoegen om nummers te categoriseren en je kan bundels eraan koppelen zodat je hem kan vinden door op
        een nummer te zoeken.
      </p>
    </article>
    <article>
      <h2 id="bladmuziek">Bladmuziek</h2>
      <p>Tehila heeft een functionaliteit om bladmuziek te kunnen maken. Als je een nummer openklapt dan vindt je
        een "Bladmuziek" kopje. Daarin staat alle gemaakte bladmuziek van de bands in jouw kerk. Je kan hier ook een
        nieuw bestand beginnen.
      </p>
      <p>Documentatie van de editor staat <a href="/sheet-music-docs/">hier</a></p>
    </article>
    <article>
      <h2 id="websites">Websites</h2>
      <p>Voor elke kerk en band is er een publieke website waar predikanten en anderen het repertoire kunnen vinden.
        Elke band kan zelf een foto uploaden die gebruikt wordt op de pagina van je kerk. Dit kan in het kopje
        "Band/kerk instellingen" onder "instellingen". De foto wordt automatisch vierkant gemaakt.
      </p>
    </article>
  </div>
</section>

{% include 'sites/footer.html' %}

{% endblock %}