<footer class="footer">
  <div class="columns">
    <div class="column">
      <div class="content has-text-centered">
        <p>Tehila is gemaakt door Bob Luursema</p>
        <p>Kijk op <a href="https://www.projectsunset.nl">Project Sunset</a> voor meer projecten van mij</p>
      </div>
    </div>
    <div class="column">
      <div class="content has-text-centered">
        <a href="https://gitlab.com/project-sunset/tehila">Source code op GitLab</a>
      </div>
      <div class="content has-text-centered">
        <a href="{% url 'disclaimer' %}">Privacy en disclaimer</a>
      </div>
    </div>
  </div>
</footer>