{% extends "sites/base.html" %}
{% load static %}

{% block head %}
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
>
<style>
  #dictionary {
    color: grey;
    font-style: italic;
    font-size: 2em;
    text-align: center;
    margin: 1em;
  }

  .feature {
    background-color: lightblue;
    padding: 1.5em;
    border-radius: 1em;
    height: 100%;
  }

  .feature>img {
    margin-bottom: 1em;
  }

  .feature>h2 {
    font-weight: 500;
    font-size: 1.2em;
    margin-bottom: 1em;
  }

  .churches {
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    justify-content: center;
  }

  .church {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hidden {
    display: none
  }
</style>
{% endblock %}

{% block body %}

{% include 'sites/nav.html' %}

<section class="hero is-link">
  <div class="hero-body">
    <h1 class="title">Tehila</h1>
    <p class="subtitle">Een webapp voor kerkbands</p>
  </div>
</section>

<section class="section">
  <div class="container">
    <h2 class="subtitle has-text-centered">Aangesloten kerken</h2>
    <div class="churches">
      {% for church in churches %}
      <a
        class="church"
        href="{% url 'church_page' church.name %}"
      >
        <figure class="image is-96x96">
          {% if church.logo %}
          <img
            src="{{ church.logo.url }}"
            alt=""
          />
          {% else %}
          <img
            src="{% static 'sites/icons8-church-96.png' %}"
            alt=""
          />
          {% endif %}
        </figure>
        <p>{{ church.name }}</p>
      </a>
      {% endfor %}
    </div>
  </div>
</section>

<p id="dictionary">
  'Tehila', een Hebreeuwse meisjesnaam die 'lofzang' betekent.
</p>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="feature">
          <h2>Repertoire bijhouden</h2>
          <img
            src="{% static 'sites/repertoire.jpg' %}"
            alt=""
          />
          <p>Jullie repertoire wordt automatisch bijgewerkt op basis van welke nummers jullie hebben gespeeld. Je kan
            het repertoire delen met iedereen.</p>
        </div>
      </div>
      <div class="column">
        <div class="feature">
          <h2>Opnames maken</h2>
          <img
            src="{% static 'sites/recorder.jpg' %}"
            alt=""
          />
          <p>Met een beetje technische kennis kan je Tehila aansluiten op een USB mixer zodat je goede opnames kan maken
            van je oefenavonden.</p>
        </div>
      </div>
      <div class="column">
        <div class="feature">
          <h2>Agenda</h2>
          <img
            src="{% static 'sites/agenda.jpg' %}"
            alt=""
          />
          <p>Zet alle diensten en oefenavonden in de agenda, je kan de agenda importeren in elke kalender app zodat
            iedereen altijd up to date is.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="buttons is-centered">
      <a
        class="button is-primary is-large"
        href="/app/"
      >Direct aanmelden</a>
      <a
        href="{% url 'docs' %}"
        class="button is-info is-large"
      >Lees de handleiding</a>
    </div>
  </div>
</section>

<section class="section">
  <div
    class="container content"
    style="max-width: 40em"
  >
    <h2>Over Tehila</h2>
    <p>Ik ben Tehila begonnen om het repertoire van mijn bands makkelijker te kunnen bijhouden en te delen. Excels
      updaten en elke keer opnieuw rondsturen vond ik niet efficiënt 🙃 en ik blijf regelmatig functies toevoegen die
      misschien handig kunnen zijn.</p>
    <p>Je mag het gratis gebruiken zolang het mij niet teveel extra kosten oplevert, of je kan het ook zelf hosten als
      je daarvan houdt. Ik ontwikkel Tehila als een open source project op <a
        href="https://gitlab.com/project-sunset/tehila"
      >GitLab</a>.</p>
    <p>Neem gerust contact op als je vragen hebt of het wil uitproberen!</p>
  </div>

  {% if contact_form_closed %}
  <div
    class="container"
    style="max-width: 40em"
  >
    <h3 class="subtitle">Verstuur bericht</h3>
    <p>Helaas is de berichtenbak vol! Probeer het later opnieuw.</p>
  </div>
  {% else %}
  <form
    class="container"
    style="max-width: 40em"
    onsubmit="submitContactForm(event)"
  >
    <h3 class="subtitle">Verstuur bericht</h3>
    {% csrf_token %}
    <div id="contact-inputs">
      <div class="field">
        <label
          class="label"
          for="name"
        >Naam</label>
        <div class="control">
          <input
            id="name"
            required
            class="input"
            type="text"
            maxlength="100"
          >
        </div>
      </div>
      <div class="field">
        <label
          class="label"
          for="email"
        >Email</label>
        <div class="control">
          <input
            id="email"
            required
            class="input"
            type="email"
            maxlength="100"
          >
        </div>
      </div>
      <div class="field">
        <label
          class="label"
          for="message"
        >Bericht</label>
        <div class="control">
          <textarea
            id="message"
            required
            class="textarea"
            maxlength="500"
          ></textarea>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <button
            id="send"
            class="button is-link"
            type="submit"
          >Versturen</button>
        </div>
      </div>
    </div>
    <div
      id="error-notification"
      class="hidden notification is-danger mt-3"
    >Er is een fout gebeurd! Probeer het later opnieuw.</div>
    <div
      id="ok-notification"
      class="hidden notification is-success mt-3"
    >Je bericht is verstuurd!</div>
  </form>
  {% endif %}
</section>

<script>
  function submitContactForm(event) {
    event.preventDefault()
    document.getElementById('error-notification').classList.add('hidden')
    document.getElementById('ok-notification').classList.add('hidden')
    const request = {
      name: document.getElementById('name').value,
      email: document.getElementById('email').value,
      message: document.getElementById('message').value
    }
    const headers = new Headers({
      'X-CSRFToken': document.getElementsByName('csrfmiddlewaretoken')[0].value,
      'content-type': 'application/json'
    })
    fetch('/contact/', {
      method: 'post',
      headers,
      body: JSON.stringify(request)
    }).then(response => {
      if (!response.ok) {
        document.getElementById('error-notification').classList.remove('hidden')
      } else {
        document.getElementById('contact-inputs').classList.add('hidden')
        document.getElementById('ok-notification').classList.remove('hidden')
        document.getElementById('ok-notification').scrollIntoView()
      }
    })
  }

  // Redirect to new location
  if (document.location.hash.includes('tehila')) {
    document.location = document.location.origin + '/app/' + document.location.hash
  }
</script>

{% include 'sites/footer.html' %}

{% endblock %}