{% load static %}
<nav
  class="navbar is-link"
  role="navigation"
  aria-label="main navigation"
>
  <div class="navbar-brand">
    <a
      class="navbar-item"
      href="/"
    >
      <img
        src="{% static 'sites/logo-192x192.png' %}"
        alt="Tehila logo"
      />
    </a>

    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item"><a
          href="{% url 'docs' %}"
          class="button is-success is-rounded"
        >Handleiding</a>
      </div>
      <div class="navbar-item">
        <div class="buttons">
          <a
            class="button"
            href="/app/"
          >Aanmelden</a>
          <a
            class="button is-dark"
            href="/app/"
          >Login</a>
        </div>
      </div>
    </div>
  </div>
</nav>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const burger = document.querySelector('.navbar-burger')
    burger.addEventListener('click', () => {
      burger.classList.toggle('is-active')
      document.querySelector('.navbar-menu').classList.toggle('is-active')
    })
  });
</script>