{% extends "sites/base.html" %}
{% load static %}

{% block head %}
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
>
<style>
  h2 {
    font-size: 1.3em !important;
  }

  nav {
    margin-bottom: 4em;
  }

  article {
    margin-bottom: 2em;
  }
</style>
{% endblock %}

{% block body %}
{% include 'sites/nav.html' %}
<section class="section">
  <div
    class="container content"
    style="max-width: 50em"
  >
    <h1 class="title">Sheet Music Editor</h1>
    <nav>
      <h2>Inhoudsopgave</h2>
      <ul>
        <li><a href="#algemeen">Algemeen</a></li>
        <li><a href="#lyrics">Lyrics</a></li>
        <li><a href="#chords">Akkoorden</a></li>
        <li><a href="#maatstrepen">Maatstrepen</a></li>
        <li><a href="#directions">Aanwijzingen</a></li>
        <li><a href="#viewer">Viewer</a></li>
      </ul>
    </nav>
    <article>
      <h2 id="algemeen">Algemeen</h2>
      <p>Tehila heeft een editor om bladmuziek te maken. Als je ingelogd bent kan je bladmuziek maken voor de band. Of
        je kan naar de <a href="https://tehila.projectsunset.nl/app/#/public/openlyrics">publieke editor</a> toegaan om
        los van een band bladmuziek te maken. Of om te experimenteren.</p>
      <img
        src="{% static 'sites/sheet-music-docs/song-1.png' %}"
        alt=""
      />
      <p>Dit is de interface van de editor. Er is een toolbar met knoppen bovenin. Daaronder is de titel van het nummer,
        de variant waar deze muziek voor is, het tempo en de maatsoort.</p>
      <p>De bladmuziek bestaat uit secties, bijvoorbeeld vers, refrein, bridge. In de linkerkolom staan de aanwijzingen
        over de dynamiek en hoe de band het kan spelen. In de rechterkolom staat de tekst en de akkoorden met
        maatstreepjes.</p>
      <p>Autosave staat standaard aan en slaat je werk elke 30 seconden op.</p>
    </article>
    <article>
      <h2 id="lyrics">Lyrics</h2>
      <p>Lyrics kan je schrijven door een sectie aan te maken en ergens in de rechterkolom te klikken. Je kan daar ook
        meerdere regels tekst in plakken.</p>
      <p>Secties kunnen deze namen gebruiken: intro, vers, pre-chorus, refrein, solo, bridge, tussenspel, overig, en
        einde.
        En na de naam kan je een getal zetten, zoals vers 1 of refrein 3.</p>
      <p>Secties kunnen zich herhalen, je hoeft dan alleen een sectie toe te voegen met dezelfde naam en dan krijg je
        gelijk de tekst en akkoorden. De aanwijzingen zijn wel uniek.</p>
      <p>Als je een sectie wil kopiëren dan maak je eerst een sectie aan met dezelfde naam als het origineel. En type
        daarna een nieuwe sectie naam en druk weer op "Maak nieuw vers". Dan worden de tekst en akkoorden gekopiëerd.
      </p>
    </article>
    <article>
      <h2 id="chords">Akkoorden</h2>
      <p>Klik boven een regel en dan kom je in het veld voor akkoorden. Type een akkoord, en als je op "spatie" drukt
        dan ga je naar het volgende woord toe.</p>
      <p>Wil je halverwege een woord een akkoord zetten, ga dan in de lyrics naar de juiste plek toe en druk op de
        akkoord knop in de toolbar of de hotkey <code>ctrl + /</code>.</p>
      <p>Als je op het laatste akkoord in een regel staat, en er is geen tekst meer verder dan kan je op "spatie"
        drukken om een nieuw akkoord na de laatste te plaatsen.</p>
      <p>Als je een akkoord wil hebben vóór het eerste woord, plaats dan spaties in de lyrics zodat de tekst opschuift.
      </p>
      <p>Als een akkoord een rode regel eronder heeft dan wordt hij niet herkent. Dat betekent dat de transpose knop
        niet gaat werken. Hij herkent alle noten en deze set extensies: m, min, dim, sus, maj, add, aug, dom. En daarna
        deze: 2, 4, 5, 6, 7, 7b5, 9, 11, 13. En dan nog een basnoot na een schuine streep. Geldige voorbeelden zijn: D,
        D7, Dmaj7, Dadd11, D7b5/Ab</p>
    </article>
    <article>
      <h2 id="maatstrepen">Maatstrepen</h2>
      <p>Elk akkoord kan ook een maatstreep hebben. Druk op de maatstreep knop of de hotkey <code>ctrl + \</code> om een
        maatstreep op de huidige plek toe te voegen. Je kan ook het akkoord zelf leeg laten en alleen een maatstreep
        neerzetten.</p>
    </article>
    <article>
      <h2 id="directions">Aanwijzingen</h2>
      <p>In de linkercolom staan de aanwijzingen voor de muzikanten om de muziek te spelen. Er is een dropdown om de
        dynamiek aan te geven. Die gaat van heel zacht "ppp" tot heel hard "fff".</p>
      <p>Onder de naam van de sectie is een vrij tekstveld om alles in te zetten wat je maar wil. Ik raad aan om emojis
        te gebruiken voor de instrumenten. Dat scheelt woorden en is sneller om te lezen vindt ik. Op Windows kan je op
        <code>Windows + .</code> drukken om een emoji toetsenbord te openen en dan kan je de naam van een emoji typen om
        hem te vinden. Of je kan hieronder wat kopiëren.
      </p>
      <p>🎹 - piano<br>
        🥁 - drum<br>
        🎸 - gitaar<br>
        Bas🎸 - bas gitaar<br>
        El🎸 - elektrische gitaar<br>
        Ak🎸 - akoestische gitaar<br>
        🎷 - sax<br>
        🎻 - viool<br>
        🎤 - zang<br>
        💻 - synth</p>
    </article>
    <article>
      <h2 id="viewer">Viewer</h2>
      <p>Als je klaar bent met de muziek maken kan je op het kruisje drukken om naar de viewer te gaan. Hier heb je dan
        een tandwiel menu met verschillende opties om aan te passen wat je ziet en om de muziek om te zetten naar PDF.
      </p>
    </article>
  </div>
</section>

{% include 'sites/footer.html' %}

{% endblock %}