{% extends "sites/base.html" %}

{% block head %}
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
>
{% endblock %}

{% block body %}
<section class="section">
  <form
    method="post"
    class="container"
    style="max-width: 20em;"
  >
    {% csrf_token %}
    <div class="field">
      <label
        class="label"
        for="password"
      >Wachtwoord</label>
      <div class="control">
        <input
          id="password"
          name="password"
          class="input"
          type="password"
        >
      </div>
    </div>
    <div class="field">
      <div class="control">
        <button class="button is-link">Inloggen</button>
      </div>
    </div>
  </form>
</section>
{% endblock %}