{% extends "sites/base.html" %}

{% block body %}
<form method="post">
  {% csrf_token %}
  <label>Nieuw wachtwoord</label>
  <input
    type="password"
    name="password1"
  />
  <hr>
  <label>Herhaal</label>
  <input
    type="password"
    name="password2"
  />
  <hr>
  <button>Set</button>
</form>
{% if wrong %}
<p>Passwords didn't match or is less than 8 long</p>
{% endif %}
{% if done %}
<p>Password set</p>
{% endif %}
{% endblock %}