{% extends "sites/base.html" %}


{% block head %}
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
>
{% endblock %}

{% block body %}
<section class="hero is-info">
  <div class="hero-body">
    <h1 class="title">
      Tehila beamer teksten
    </h1>
    <p class="subtitle">
      Zoek liedteksten
    </p>
  </div>
</section>

<section class="section">
  <div class="container">
    <div
      class="columns"
      style="align-items: end;"
    >

      <form class="column">

        <div class="field">
          <label
            class="label"
            for="{{ collection_search_form.collection.id_for_label }}"
          >Liedbundel</label>
          <div class="control">
            <div class="select">
              {{ collection_search_form.collection }}
            </div>
          </div>
        </div>

        <div class="field">
          <label
            class="label"
            for="{{ collection_search_form.number.id_for_label }}"
          >Nummer in bundel</label>
          <div class="control">
            {{ collection_search_form.number }}
          </div>
        </div>

        <div class="field">
          <div class="control">
            <button
              type="submit"
              name="collection-search"
              class="button is-link"
            >Zoeken</button>
          </div>
        </div>

      </form>

      <form class="column">

        <div class="field">
          <label
            class="label"
            for="{{ title_search_form.title.id_for_label }}"
          >Titel</label>
          <div class="control">
            {{ title_search_form.title }}
          </div>
        </div>

        <div class="field">
          <div class="control">
            <button
              type="submit"
              name="title-search"
              class="button is-link"
            >Zoeken</button>
          </div>
        </div>
      </form>

    </div>

    <hr>

    {% if no_match %}
    <p>Geen match gevonden</p>
    {% endif %}

    {% if matches %}
    <div class="content">
      <p>Aantal gevonden: {{ total_matches }}</p>
      <ul>
        {% for song in matches %}
        <li>
          <a href="?id={{song.id}}">{{ song.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    {% if song %}
    <h2 class="subtitle">{{ song.title }}</h2>
    {% if no_lyrics %}
    <p>Geen lyrics beschikbaar helaas.</p>
    {% else %}
    {% for verse in lyrics %}
    <p style="white-space: pre; margin-bottom: 1em"><span>{{ verse.0 }}</span><br />{{ verse.1 }}</p>
    {% endfor %}
    {% endif %}
    {% endif %}

  </div>
</section>

{% include 'sites/footer.html' %}

{% endblock %}