<template>
  <div>
    <RouterView style="background-color: #eee" />
    <Notifications />
    <LoadOverlay />
    <ReloadPrompt />
    <FixedPlayer />
  </div>
</template>

<script>
import Notifications from '@/shared-vue/components/Notifications.vue'
import LoadOverlay from '@/shared-vue/components/LoadOverlay.vue'
import ReloadPrompt from '@/shared-vue/components/ReloadPrompt.vue'
import FixedPlayer from '@/components/FixedPlayer.vue'
import api from '@/shared-vue/api'

export default {
  name: "App",
  components: {
    Notifications,
    LoadOverlay,
    ReloadPrompt,
    FixedPlayer
  },
  created() {
    this.$store.commit('initializeStore')
    let googleClientId = document.querySelector('meta[name=google-signin-client_id]').getAttribute('content')
    if (googleClientId !== '{{ google_client_id }}' && googleClientId !== 'c') {
      this.$store.commit('auth/add_google_client_id', googleClientId)
    }
    api.get(
      'accounts/login/',
      response => {
        if (response.authenticated) {
          this.$store.commit('auth/login_success', response.user)
        } else {
          this.$store.commit('auth/logout')
        }
      },
      true
    )
  }
}
</script>

<style>
@media print {
  .no-print {
    display: none !important;
  }
}

.hidden {
  display: none;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.ms-icon {
  font-family: "MusescoreIcon";
  padding: 2px;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.small-arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
}

.right {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.left {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.up {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.down {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
</style>