<template>
  <div class="section">
    <div class="container">
      <main class="box">
        <h1 class="title">Instellingen</h1>
        <ModelForm
          modelName="band"
          v-model="band"
          :config="bandConfig"
          :can-delete="false"
          :partial-update="true"
          @submit-form="bandUpdated"
          :keep-id="true"
        >
          <template v-slot:extra-form-inputs>
            <p>Huidige achtergrond foto</p>
            <figure class="image is-96x96 mb-3">
              <img
                :src="currentBand.background_picture"
                id="current-band-picture"
                alt=""
              />
            </figure>
          </template>
        </ModelForm>
        <ModelForm
          v-if="user.superuser"
          modelName="kerk"
          v-model="church"
          :config="churchConfig"
          :can-delete="false"
          :partial-update="true"
          @submit-form="churchUpdated"
          :keep-id="true"
        >
          <template v-slot:extra-form-inputs>
            <p>Huidig logo</p>
            <figure class="image is-96x96 mb-3">
              <img
                :src="currentChurch.logo"
                alt=""
              />
            </figure>
            <p>Huidige achtergrond foto</p>
            <figure class="image is-96x96 mb-3">
              <img
                :src="currentChurch.background_picture"
                alt=""
              />
            </figure>
          </template>
        </ModelForm>
        <div class="box content">
          <h2>Export</h2>
          <p>Export de data van de band. Dit bevat:</p>
          <ul>
            <li>Repertoire lijst</li>
            <li><a href="/docs/#repertoire-opnames">Opnames die verbonden zijn aan het repertoire</a></li>
          </ul>
          <a
            class="button is-primary"
            download
            :href="`/api/export/${this.currentBand.id}/`"
          >Download</a>
        </div>
      </main>
    </div>
  </div>
</template>

<script>
import { ModelForm } from '@/shared-vue'
import { mapState } from 'vuex'

export default {
  components: {
    ModelForm
  },
  data() {
    return {
      band: {
        id: null,
        name: null,
        background_picture: null
      },
      church: {
        id: null,
        name: null,
        background_picture: null,
        logo: null
      },
      currentChurch: {
        id: null,
        name: null,
        background_picture: null,
        logo: null
      }
    }
  },
  created() {
    this.band = {
      id: this.currentBand.id,
      name: this.currentBand.name,
      background_picture: null
    }
    this.$api.get(`api/church/${this.currentBand.church}/`, response => {
      this.currentChurch = response
      this.church = {
        id: response.id,
        name: response.name,
        background_picture: null,
        logo: null
      }
    })
  },
  methods: {
    bandUpdated(event) {
      this.$store.commit('tehila/selectBand', event.data)
      this.$notify({ style: 'success', text: 'Band is geüpdate' })
    },
    churchUpdated(event) {
      this.currentChurch = event.data
      this.$notify({ style: 'success', text: 'Kerk is geüpdate' })
    }
  },
  computed: {
    ...mapState({
      currentBand: state => state.tehila.selectedBand,
      user: state => state.auth.user
    }),
    churchConfig() {
      return {
        url: 'api/church/',
        fields: {
          name: { label: 'Naam', type: 'text' },
          logo: { label: 'Logo (vierkant)', type: 'file', remove_null: true },
          background_picture: { label: 'Achtergrond foto', type: 'file', remove_null: true },
        }
      }
    },
    bandConfig() {
      return {
        url: 'api/bands/',
        fields: {
          name: { label: 'Naam', type: 'text' },
          background_picture: { label: 'Achtergrond foto (vierkant)', type: 'file', remove_null: true },
        }
      }
    }
  }
}
</script>
