<template>
  <div class="section">
    <div
      v-if="stats"
      class="container content box"
    >
      <h1>Statistieken voor {{ band.name }}</h1>
      <p>Nummers op repertoire: <b>{{ stats.total_songs }}</b></p>
      <p>Gemiddeld aantal nummers per dients: <b>{{ stats.avg_song_count }}</b></p>
      <p>Totaal nummers gespeeld: <b>{{ stats.total_songs_played }}</b></p>
      <div class="columns">
        <div class="column">
          <table style="max-width: 20em">
            <caption>Nummers gespeeld per decennia. Als je een nummer twee keer in een dienst hebt gespeeld dan telt hij
              hier ook twee keer mee.</caption>
            <tbody>
              <tr v-for="decade in stats.songs_played_by_decade">
                <th
                  scope="row"
                  v-if="decade.decade === null"
                >Onbekend</th>
                <th
                  scope="row"
                  v-else
                >{{ decade.decade }}0's</th>
                <td>{{ decade.count }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="column">
          <table style="max-width: 20em">
            <caption>Welk percentage van de gespeelde nummers komt voor in welke bundel. Als een nummer in meerdere
              bundels staat telt hij voor elke bundel mee. Als je een nummer twee keer in een dienst hebt gespeeld dan
              telt hij hier ook twee keer mee.</caption>
            <tbody>
              <tr v-for="collection in stats.songs_played_by_collection">
                <th scope="row">{{ collection.collection }}</th>
                <td v-if="collection.percentage == 0">&lt;1%</td>
                <td v-else>{{ collection.percentage }}%</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="column">
          <table style="max-width: 20em">
            <caption>Hoe vaak hebben we nummers nog een keer gespeeld?</caption>
            <thead>
              <tr>
                <th>Hoe vaak gespeeld</th>
                <th>Aantal nummers</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="timesPlayed in stats.repetition_count">
                <td>{{ timesPlayed.times_played }} keer</td>
                <td>{{ timesPlayed.songs }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  data() {
    return {
      stats: null
    }
  },
  computed: {
    ...mapState({
      band: state => state.tehila.selectedBand
    })
  },
  created() {
    this.$api.get(`api/stats/${this.band.id}/`, response => {
      this.stats = response
    }, true)
  }
}
</script>
