<template>
  <OpenLyrics
    v-if="content !== null"
    @save="save"
    @delete="del"
    @make-copy="makeCopy"
    :content="content"
    :currentSavedState="currentSavedState"
    :song-title="songTitle"
    :editable="ownerBandId === band.id"
    :toolbar="true"
    :open-lyrics-id="openLyricsId"
    :floating-view-settings="false"
  />
</template>

<script>
import { mapState } from "vuex"
import OpenLyrics from '@/components/OpenLyrics/OpenLyrics.vue'

export default {
  components: { OpenLyrics },
  props: ['songId', 'existingOpenLyricsId'],
  data() {
    return {
      newOpenLyricsId: null,
      content: null,
      currentSavedState: null,
      saving: false,
      songTitle: null,
      ownerBandId: null,
    }
  },
  computed: {
    openLyricsId() {
      if (this.existingOpenLyricsId) {
        return this.existingOpenLyricsId
      } else if (this.newOpenLyricsId) {
        return this.newOpenLyricsId
      } else {
        return null
      }
    },
    ...mapState({
      band: state => state.tehila.selectedBand,
    }),
  },
  created() {
    this.$notify({ loading: true })
    this.$api.get(`api/songs/${this.songId}/`,
      response => {
        this.songTitle = response.title
      })
    if (this.existingOpenLyricsId) {
      this.$api.get(`api/open-lyrics/${this.existingOpenLyricsId}/`,
        response => {
          this.content = response.content
          this.currentSavedState = response.content
          this.ownerBandId = response.band
        }).fetch.finally(() => {
          this.$notify({ loading: false })
        })
    } else {
      this.content = ""
      this.$notify({ loading: false })
    }
  },
  methods: {
    makeCopy(variant) {
      if (this.saving) {
        return
      }
      this.saving = true
      this.$api.post(`api/open-lyrics/`, {
        band: this.band.id,
        song: this.songId,
        name: `Kopie van ${variant}`,
        content: this.content
      }, response => {
        this.$notify({
          text: 'Kopie gemaakt',
          style: 'success',
        })
        this.currentSavedState = this.content
        this.ownerBandId = this.band.id
        this.$router.replace({ name: 'tehila:open-lyrics-editor', params: { songId: this.songId, existingOpenLyricsId: response.id } })
      }).fetch.finally(() => {
        this.saving = false
      })
    },
    del() {
      this.$api.delete(`api/open-lyrics/${this.openLyricsId}/`,
        response => {
          this.$router.go(-1)
        },
        true)
    },
    save(event) {
      if (this.saving) {
        return
      }
      if (!event.variant) {
        this.$notify({
          text: 'Variant niet ingevuld',
          style: 'warn',
        })
        return
      }
      this.saving = true
      if (this.openLyricsId) {
        this.$api.patch(`api/open-lyrics/${this.openLyricsId}/`, {
          name: event.variant,
          content: event.content
        }, response => {
          this.$notify({
            text: 'Opgeslagen',
            style: 'success',
          })
          this.currentSavedState = event.content
        }).fetch.finally(() => {
          this.saving = false
        })
      } else {
        this.$api.post(`api/open-lyrics/`, {
          band: this.band.id,
          song: this.songId,
          name: event.variant,
          content: event.content
        }, response => {
          this.$notify({
            text: 'Opgeslagen',
            style: 'success',
          })
          this.newOpenLyricsId = response.id
          this.currentSavedState = event.content
          this.$router.replace({ name: 'tehila:open-lyrics-editor', params: { songId: this.songId, existingOpenLyricsId: this.newOpenLyricsId } })
        }).fetch.finally(() => {
          this.saving = false
        })
      }
    },
  }
}
</script>