<template>
  <div class="section">
    <div
      class="box"
      style="max-width: 960px; margin: auto"
    >
      <h3 class="subtitle">
        Agenda
        <div
          class="buttons"
          style="float: right"
        >
          <RouterLink
            class="button is-small"
            :to="{ name: 'tehila:ics' }"
          >Abonneer</RouterLink>
          <button
            class="button"
            type="button"
            @click="formActive = true"
          >+</button>
        </div>
      </h3>
      <hr />
      <p
        v-if="bandEvents.length === 0"
        style="margin-bottom: 1em"
      >
        Geen events gevonden
      </p>
      <div
        style="margin-top: 1em; height: 500px; overflow-y: scroll;"
        ref="calendar"
      >
        <div
          class="skeleton"
          v-if="previous !== null"
        ></div>
        <BandEvent
          v-for="event in bandEvents"
          :key="event.id"
          :event="event"
        />
        <div
          class="skeleton"
          v-if="next !== null"
        ></div>
      </div>
    </div>
    <Modal
      :active="formActive"
      @close="formActive = false"
    >
      <ModelForm
        modelName="Event"
        apiStore="tehila/events"
        v-model="eventModel"
        :config="eventConfig"
        @submit-form="addEvent"
      />
    </Modal>
  </div>
</template>

<script>
import BandEvent from "@/components/BandEvent"
import { Modal, ModelForm } from "@/shared-vue"

export default {
  components: {
    BandEvent,
    Modal,
    ModelForm
  },
  data() {
    return {
      formActive: false,
      eventModel: {
        date: '',
        description: '',
        link: '',
        event_type: 'SERVICE'
      },
      loading: false,
      events: [],
      next: null,
      previous: null,
      eventConfig: {
        url: 'api/events/',
        fields: {
          date: { label: 'Datum', type: 'datetime', default: '' },
          description: { label: 'Beschrijving', type: 'text', default: '' },
          link: { label: 'Link naar de stream', type: 'text', default: '' },
          event_type: {
            label: 'Type event',
            type: 'select',
            default: 'SERVICE',
            options: [
              { value: 'SERVICE', label: 'Dienst' },
              { value: 'PRACTICE', label: 'Oefensessie' }
            ],
            optionValue: 'value',
            optionName: 'label'
          }
        }
      }
    }
  },
  computed: {
    bandEvents() {
      return this.events.sort((a, b) => {
        if (a.date > b.date) {
          return 1
        } else if (a.date < b.date) {
          return -1
        }
        return 0
      })
    },

  },
  created() {
    this.$api.get('api/events/get-cursor/', response => {
      this.next = response.next
      this.previous = response.previous
      this.events.push(...response.results)
      // If there are not enough events to get a scrollbar
      // we just retrieve more, and if there aren't enough in total
      // the loading skeletons will be gone
      if (response.results.length < 8 && response.previous !== null) {
        this.loadEvents(false)
      } else {
        this.$nextTick(() => {
          this.$refs.calendar.scrollTop = 100
        })
      }
    })
  },
  watch: {
    events(newValue) {
      const dedupedEvents = newValue.reduce((accumulator, event) => {
        const eventExists = accumulator.find(obj => obj.id === event.id) !== undefined
        if (!eventExists) {
          accumulator.push(event)
        }
        return accumulator
      }, [])
      if (dedupedEvents.length < newValue.length) {
        this.events = dedupedEvents
      }
    },
  },
  mounted() {
    this.$refs.calendar.scrollTop = 9000
    this.$refs.calendar.addEventListener("scroll", this.handleScroll)
  },
  beforeUnmount() {
    this.$refs.calendar.removeEventListener("scroll", this.handleScroll)
  },
  methods: {
    handleScroll(event) {
      if (event.srcElement.scrollTop === 0 && this.previous !== null) {
        this.loadEvents(false)
      }
      if (Math.abs(event.srcElement.scrollHeight - event.srcElement.clientHeight - event.srcElement.scrollTop) < 1 && this.next !== null) {
        this.loadEvents(true)
      }
    },
    addEvent(event) {
      this.formActive = false
      this.events.push(event.data)
    },
    async loadEvents(loadFuture) {
      if (this.loading) {
        return
      }
      this.loading = true
      const currentHeight = this.$refs.calendar ? this.$refs.calendar.scrollHeight : 0
      try {
        await this.$api.get(loadFuture ? this.next : this.previous,
          response => {
            this.events.push(...response.results)
            if (loadFuture) {
              this.next = response.next
            } else {
              this.previous = response.previous
            }
            this.$nextTick(() => {
              if (this.$refs.calendar === null) {
                return
              }
              if (!loadFuture) {
                this.$refs.calendar.scrollTop = this.$refs.calendar.scrollHeight - currentHeight
              } else {
                this.$refs.calendar.scrollTop = this.$refs.calendar.scrollHeight - this.$refs.calendar.clientHeight - 80
              }
            })
          }
        )
      } finally {
        this.loading = false
      }
    },
    monthDelta(date, delta) {
      const newDate = new Date(date.getFullYear(), date.getMonth(), date.getDate())
      newDate.setMonth(newDate.getMonth() + delta)
      return newDate
    },
  }
}
</script>

<style scoped>
.skeleton {
  height: 5em;
  width: 49%;
  margin: 8px;
  border-radius: 3px;
  transition: all 200ms ease-in-out;
  position: relative;
  background-color: #eaeaea;
}

.skeleton::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0));
  animation: load 1s infinite;
}

@keyframes load {
  100% {
    transform: translateX(100%);
  }
}
</style>