<template>
  <div class="section print-remove-whitespace">
    <div
      class="container box print-remove-whitespace"
      v-if="event"
    >
      <h2 class="subtitle has-text-weight-medium event-header no-print">
        <EventIcon :event_type="event.event_type" />
        <span>{{ eventName }} {{ $filters.dutchDateTime(event.date) }}</span>
        <a
          class="button is-small has-text-weight-normal"
          :href="`/api/events/${event.id}/chordpro`"
        >Download als ChordPro</a>
        <router-link
          :to="{ name: 'tehila:event', params: { id: event.id } }"
          class="button is-small has-text-weight-normal"
        >
          Terug
        </router-link>
      </h2>
      <div
        v-for="song in songlist"
        :key="`${song.id}_${song.order}`"
      >
        <hr />
        <OpenLyrics
          v-if="song.openlyrics !== null && openlyricss[song.openlyrics] !== undefined
          "
          style="break-after: page"
          :content="openlyricss[song.openlyrics].content"
          :song-title="song.song.title"
          :editable="false"
          :toolbar="false"
          :floating-view-settings="true"
          :open-lyrics-id="song.openlyrics"
        />
        <PdfMusicViewer
          v-else-if="song.pdfmusic !== null"
          :pdf-music-id="song.pdfmusic"
          :editable="false"
        />
        <div
          v-else
          style="margin-bottom: 4em; break-after: page"
        >
          <TitleBpm
            :editing="false"
            :transpose="0"
            :showChords="false"
            :modelValue="{
              title: song.song.title,
            }"
          />
          <p style="text-align: center">
            Geen bladmuziek gekoppeld aan de dienst
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import OpenLyrics from '@/components/OpenLyrics/OpenLyrics.vue'
import EventIcon from "@/components/EventIcon"
import ViewSettings from "@/components/OpenLyrics/ViewSettings.vue"
import TitleBpm from '@/components/OpenLyrics/TitleBpm.vue'
import PdfMusicViewer from './PdfMusicViewer.vue'

export default {
  components: { OpenLyrics, EventIcon, ViewSettings, TitleBpm, PdfMusicViewer },
  props: ['id'],
  data() {
    return {
      event: null,
      settings: {},
      openlyricss: {}
    }
  },
  created() {
    this.$api.get(`api/events/${this.id}/`, event => {
      this.event = event
      for (let song of event.songlist) {
        if (song.openlyrics) {
          const ol_id = song.openlyrics
          this.$api.get(`api/open-lyrics/${ol_id}/`, ol => {
            this.openlyricss[ol_id] = ol
          })
          this.$api.get(`api/open-lyrics-settings/?openlyrics=${ol_id}`, response => {
            if (response.length > 0) {
              this.settings[ol_id] = response[0]
            }
          })
        }
      }
    })
  },
  computed: {
    eventName() {
      if (this.event.event_type === 'SERVICE') {
        return 'Dienst'
      } else {
        return 'Oefensessie'
      }
    },
    songlist() {
      if (!this.event.songlist) {
        return []
      }
      const orderedList = this.event.songlist.sort((a, b) => {
        if (a.order > b.order) {
          return 1
        }
        if (a.order < b.order) {
          return -1
        }
        return 0
      })
      return orderedList
    }
  }
}
</script>

<style scoped>
.event-header {
  display: flex;
  align-items: center;
}

.event-header>span {
  flex-grow: 1;
}

.event-header>* {
  margin-right: 0.6em;
}

@media print {
  .print-remove-whitespace {
    margin: 0 !important;
    padding: 0 !important;
  }
}
</style>