<template>
  <div
    class="section"
    v-if="event !== null"
  >
    <div class="container box">
      <h2 class="subtitle has-text-weight-medium event-header">
        <EventIcon :event_type="event.event_type" />
        <span>{{ eventName }} {{ $filters.dutchDateTime(event.date) }}</span>
        <EditToggle
          v-model="formActive"
          html-id="toggle-edit-event"
        />
      </h2>
      <div style="margin-bottom: 1em">
        <div class="content">
          {{ event.description }}
          <div v-if="event.preparation_start">
            Band aanwezig om: {{ event.preparation_start.slice(11) }}
          </div>
        </div>
        <a
          v-if="event.link"
          class="button is-small"
          :href="event.link"
        >Stream
          <img
            src="@/assets/icons/icons8-external-link.svg"
            alt="external-link"
          /></a>
      </div>
      <div v-if="formActive">
        <button
          class="button"
          @click="modalActive = true"
        >Edit event data</button>
        <Modal
          :active="modalActive"
          @close="modalActive = false"
        >
          <ModelForm
            v-if="formActive"
            modelName="Event"
            apiStore="tehila/events"
            v-model="formModel"
            :config="formConfig"
            @submit-form="modalActive = false"
          />
        </Modal>
      </div>
      <div
        class="buttons"
        v-if="!formActive"
      >
        <button
          v-if="event.songlist.length > 0"
          type="button"
          class="button is-small"
          @click="getRecordingsMessage"
        >
          Kopieer opname links om te delen
        </button>
        <RouterLink
          :to="{ name: 'tehila:event-sheet-music', params: { id: event.id } }"
          class="button is-small"
        >Open alle bladmuziek</RouterLink>
      </div>
      <hr />
      <div
        v-for="(eventsong, order) in songlist"
        :key="eventsong.song.id"
        style="display: flex; align-items: flex-start"
      >
        <div class="order">
          <div style="height: 1em">
            <button
              v-if="order !== 0 && formActive"
              class="reorder-chevron"
              @click="reorder(eventsong.song, order - 1)"
              :data-testid="`reorder-song-${order}-up`"
            >
              <span
                aria-hidden="true"
                class="small-arrow up"
              ></span>
            </button>
          </div>
          <span>{{ order + 1 }}</span>
          <button
            v-if="order !== songlist.length - 1 && formActive"
            class="reorder-chevron"
            @click="reorder(eventsong.song, order + 1)"
            :data-testid="`reorder-song-${order}-down`"
          >
            <span
              aria-hidden="true"
              class="small-arrow down"
            ></span>
          </button>
        </div>
        <SongCard
          style="margin: 0.5em 0; flex-grow: 1"
          :song-id="eventsong.song.id"
          :title="eventsong.song.title"
          :song-tags="eventsong.song.tags"
          :eventsong="eventsong"
          @play-recording="selectRecording"
          :default-date="event.date.substring(0, 10)"
          :default-description="event.description"
          @connected="eventSongConnected"
        />
        <div
          style="margin-left: 0.5em; margin-top: 1.3em"
          v-if="formActive"
        >
          <button
            :data-testid="`remove-song-${eventsong.song.id}`"
            class="delete"
            type="button"
            @click="removeSong(eventsong.id)"
          />
        </div>
      </div>
      <template v-if="formActive">
        <button
          v-if="!addingSong"
          type="button"
          class="button"
          @click="openAddSong"
          style="margin-left: 1.5em"
        >Voeg nummer toe</button>
        <SongSelect
          v-else
          class="box"
          :exclude="songIdsInEvent"
          title="Lied toevoegen"
          @select-song="addSong"
          button-text="Voeg toe"
          :close-button="true"
          @close="addingSong = false"
        />
      </template>
    </div>
  </div>
</template>

<script>
import EditToggle from "@/components/EditToggle"
import EventIcon from "@/components/EventIcon"
import SongCard from "@/components/SongCard/SongCard"
import SongSelect from '@/components/SongSelect'
import { ModelForm, Modal } from "@/shared-vue"

export default {
  components: {
    Modal,
    SongSelect,
    SongCard,
    ModelForm,
    EditToggle,
    EventIcon
  },
  props: ['id'],
  data() {
    return {
      addingSong: false,
      modalActive: false,
      formActive: false,
      selectedRecording: null,
      formModel: {
        date: '',
        description: '',
        link: '',
        preparation_start: null,
        event_type: "SERVICE"
      },
      showAll: false,
      formConfig: {
        url: 'api/events/',
        fields: {
          date: { label: 'Datum', type: 'datetime', default: null },
          preparation_start: { label: 'Band eerder aanwezig', type: 'datetime', default: null },
          description: { label: 'Beschrijving', type: 'text', default: null },
          link: { label: 'Link naar de stream', type: 'text', default: null },
          event_type: {
            label: 'Type event',
            type: 'select',
            default: 'SERVICE',
            options: [
              { value: 'SERVICE', label: 'Dienst' },
              { value: 'PRACTICE', label: 'Oefensessie' }
            ],
            optionValue: 'value',
            optionName: 'label'
          }
        }
      }
    }
  },
  watch: {
    event: {
      deep: true,
      handler() {
        this.formModel = JSON.parse(JSON.stringify(this.event))
        delete this.formModel.songlist
      }
    }
  },
  computed: {
    eventName() {
      if (this.event.event_type === 'SERVICE') {
        return 'Dienst'
      } else {
        return 'Oefensessie'
      }
    },
    songIdsInEvent() {
      return this.event.songlist.map(s => s.song.id)
    },
    event() {
      return this.$store.getters['tehila/events/getItem'](parseInt(this.id))
    },
    playerSrc() {
      if (this.selectedRecording) {
        return this.selectedRecording.recording.audio
      }
      return null
    },
    playerTitle() {
      if (this.selectedRecording) {
        return `${this.selectedRecording.song.title} (${this.selectedRecording.recording.date})`
      }
      return null
    },
    songlist() {
      if (!this.event.songlist) {
        return []
      }
      const orderedList = this.event.songlist.sort((a, b) => {
        if (a.order > b.order) {
          return 1
        }
        if (a.order < b.order) {
          return -1
        }
        return 0
      })
      for (let i = 0; i < orderedList.length; i++) {
        if (orderedList[i].order !== i) {
          this.$api.patch(`api/events/${this.id}/fix-order/`, {}, _ => {
            this.$store.dispatch('tehila/events/getSingle', parseInt(this.id))
          })
          break
        }
      }
      return orderedList
    }
  },
  created() {
    this.$store.dispatch('tehila/events/getSingle', parseInt(this.id))
  },
  methods: {
    openAddSong() {
      this.addingSong = true
      this.$nextTick(() => {
        document.getElementById('song-search-input').focus()
      })
    },
    eventSongConnected() {
      this.$store.dispatch('tehila/events/getSingle', parseInt(this.id))
    },
    getRecordingsMessage() {
      this.$api.get(`api/recordings/event/?id=${this.id}`, response => {
        let text = `${this.eventName} ${this.$filters.dutchDateTime(this.event.date)}\n${window.location.href}\n\n`
        for (const [song, recording] of Object.entries(response)) {
          text = text + song + "\n"
          text = text + recording.audio + " (" + recording.date + ")\n\n"
        }
        navigator.clipboard.writeText(text)
        this.$notify({
          text: 'Tekst en links gekopieerd',
          style: 'success',
        })
      })
    },
    selectRecording(selection) {
      if (this.selectedRecording === null) {
        this.selectedRecording = selection
      }
      else if (selection.recording.id === this.selectedRecording.recording.id) {
        this.$refs.player.$refs.audio.currentTime = 0
        this.$refs.player.$refs.audio.play()
      } else {
        this.selectedRecording = selection
      }
    },
    removeSong(eventsongid) {
      this.$api.delete(`api/eventsong/${eventsongid}/`, _ => {
        this.$api.patch(`api/events/${this.id}/fix-order/`, {}, _ => {
          this.$store.dispatch('tehila/events/getSingle', parseInt(this.id))
        })
      })
    },
    addSong(event) {
      const song = event.song
      const data = {
        event: this.event.id,
        song: song,
        order: this.event.songlist.length,
      }
      this.$api.post(`api/eventsong/`, data, response => {
        const event_copy = JSON.parse(JSON.stringify(this.event))
        event_copy.songlist.push(response)
        this.$store.commit('tehila/events/update', event_copy)
        this.addingSong = false
      })
    },
    reorder(song, new_position) {
      const eventsong1 = JSON.parse(JSON.stringify(this.event.songlist.find(s => s.song.id === song.id)))
      const eventsong2 = JSON.parse(JSON.stringify(this.event.songlist.find(s => s.order === new_position)))
      const old_position = eventsong1.order
      eventsong1.order = new_position
      eventsong2.order = old_position
      this.$api.put(`api/eventsong/${eventsong1.id}/`, eventsong1, _ => {
        this.$api.put(`api/eventsong/${eventsong2.id}/`, eventsong2, _ => {
          this.$store.dispatch('tehila/events/getSingle', parseInt(this.id))
        })
      })
    }
  }
}
</script>

<style scoped>
.event-header {
  display: flex;
  align-items: center;
}

.event-header>* {
  margin-right: 0.6em;
}

.order {
  position: relative;
  bottom: 0.4rem;
  display: flex;
  flex-direction: column;
  width: 1.5rem;
  margin-top: 0.4em;
  align-items: center;
  margin-right: 0.4em;
  min-width: 1.5rem;
}

.reorder-chevron {
  height: 1rem;
  background-color: initial;
  border-width: 0;
  cursor: pointer;
}

.down {
  position: relative;
  bottom: 0.5em;
}

.up {
  position: relative;
  bottom: 0.3em
}
</style>