<template>
  <div class="section">
    <h2 class="title">{{ band.name }}</h2>

    <div class="columns">
      <div class="column">
        <div class="box">
          <div v-if="latest_events[0]">
            <h4>Afgelopen event</h4>
            <band-event :event="latest_events[0]" />
          </div>
          <div v-if="latest_events[1]">
            <h4>Volgend event</h4>
            <band-event :event="latest_events[1]" />
          </div>
        </div>
        <todo-items />
        <BandMembers />
      </div>
      <div class="column">
        <div class="box content">
          <h4>Welkom bij Tehila</h4>
          <p id="dictionary">
            'Tehila', een Hebreeuwse meisjesnaam die 'lofzang' betekent.
          </p>
          <p>
            In Tehila kan je alle diensten zetten waarin jullie als band
            gespeeld hebt en welke nummers jullie gespeeld hebben. Op basis
            daarvan wordt een repertoire lijst gemaakt.
          </p>
          <p>
            De repertoire lijst kan je delen, hij is publiek beschikbaar. Een
            voorganger kan dan filteren op titel, liedboek en tags.
          </p>
          <p>
            Voor de band zelf kan je ook opnames toevoegen aan een nummer. De
            opnames zijn alleen te zien voor leden van de band.
          </p>
          <p>
            Laat het vooral weten als je suggesties hebt voor verbeteringen!
          </p>
          <p>~ Bob</p>
          <strong>Updates</strong>
          <div v-if="updates !== null">
            <div v-for="update in updates.results">
              <p class="mt-3 mb-0">{{ $filters.dutchDate(update.date) }}</p>
              <ul class="mt-2">
                <li v-for="item in JSON.parse(update.text)">{{ item }}</li>
              </ul>
            </div>
            <button
              v-if="updates.next"
              type="button"
              class="button is-small mt-3"
              @click="moreUpdates"
            >Meer updates</button>
          </div>
          <div
            v-else
            style="margin: 1em"
          >
            <span class="bulma-loader-mixin"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex"
import TodoItems from '@/components/TodoItems'
import BandEvent from '@/components/BandEvent'
import BandMembers from '@/components/BandMembers'

export default {
  components: {
    TodoItems,
    BandEvent,
    BandMembers
  },
  data() {
    return {
      latest_events: [null, null],
      viewAllChanges: false,
      updates: null
    }
  },
  computed: {
    ...mapState({
      band: state => state.tehila.selectedBand,
    }),
  },
  watch: {
    band() {
      this.getData()
    }
  },
  created() {
    this.getData()
    this.getUpdates()
  },
  methods: {
    getUpdates() {
      this.$api.get('api/updates/', response => {
        this.updates = response
      })
    },
    moreUpdates() {
      this.$api.get(this.updates.next, response => {
        this.updates.next = response.next
        this.updates.results.push(...response.results)
      })
    },
    getData() {
      if (this.band === null) {
        return
      }
      this.$store.dispatch('tehila/collections/get')
      this.$api.get('api/events/latest/', response => {
        this.latest_events = response
      })
    }
  }
}
</script>

<style scoped>
#dictionary {
  color: grey;
  font-style: italic;
  font-size: 1.1em;
  text-align: center;
}
</style>
