<template>
  <div class="section">
    <div
      class="box content"
      style="max-width: 960px; margin: auto"
    >
      <h2>Agenda abonneren</h2>
      <p>
        Met de onderstaande link kan je alle events (van 30 dagen geleden, en
        alles in de toekomst) in je eigen agenda zetten. In de meeste agenda
        applicaties (Outlook, Gmail, Apple Calendar) kan je deze link ergens
        inplakken en dan komen alle events er automatisch in, en hij update ze
        ook automatisch als er iets gewijzigd wordt in Tehila (waarschijnlijk
        wel met een paar uur vertraging).
      </p>
      <p>
        Zoek in je agenda naar een "subscribe" of "abonneer" optie. Let op dat
        je niet het ICS bestand zelf upload, dan zal hij niet automatisch
        updaten.
      </p>
      <ul>
        <li>
          <a
            href="https://support.microsoft.com/nl-nl/office/een-agenda-importeren-of-u-abonneren-op-een-agenda-in-outlook-com-cff1429c-5af6-41ec-a5b4-74f2c278e98c">
            Uitleg voor Outlook
          </a>
        </li>
        <li>
          <a href="https://support.google.com/calendar/answer/37100">
            Uitleg voor Google (zie "openbare agenda toevoegen")
          </a>
        </li>
        <li>
          <a href="https://support.apple.com/nl-nl/HT202361">
            Uitleg voor Apple
          </a>
        </li>
      </ul>
      <div class="field">
        <label
          class="label"
          for="icslink"
        >ICS link met diensten en oefenavonden</label>
        <div class="field has-addons">
          <div class="control is-expanded">
            <input
              id="icslink"
              :value="icsLink"
              readonly
              class="input"
            />
          </div>
          <div class="control">
            <button
              @click="copyIcsLink"
              type="button"
              class="button is-info"
            >Kopieer</button>
          </div>
        </div>
      </div>
      <div class="field">
        <label
          class="label"
          for="servicesicslink"
        >ICS link met alleen de diensten</label>
        <div class="field has-addons">
          <div class="control is-expanded">
            <input
              id="servicesicslink"
              :value="servicesIcsLink"
              readonly
              class="input"
            />
          </div>
          <div class="control">
            <button
              @click="copyServicesIcsLink"
              type="button"
              class="button is-info"
            >Kopieer</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  computed: {
    icsLink() {
      return `${window.location.origin}/calendar/${this.band.uuid}.ics`
    },
    servicesIcsLink() {
      return `${window.location.origin}/calendar/${this.band.uuid}-services.ics`
    },
    ...mapState({
      band: state => state.tehila.selectedBand,
    })
  },
  methods: {
    copyIcsLink() {
      navigator.clipboard.writeText(this.icsLink)
      this.$notify({
        text: 'Link gekopieerd',
        style: 'success',
      })
    },
    copyServicesIcsLink() {
      navigator.clipboard.writeText(this.servicesIcsLink)
      this.$notify({
        text: 'Link gekopieerd',
        style: 'success',
      })
    },
  }
}
</script>