<template>
  <div class="section">
    <div class="container box">
      <h2 class="subtitle">Repertoire van {{ band.name }}</h2>
      <div class="field">
        <label class="label">Deel het repertoire</label>
        <div class="field has-addons">
          <div class="control is-expanded">
            <input
              id="externalurl"
              :value="externalUrl"
              readonly
              class="input"
            />
          </div>
          <div class="control">
            <a
              class="button"
              :href="externalUrl"
            >View</a>
          </div>
          <div class="control">
            <button
              @click="share"
              type="button"
              class="button is-info"
            >Delen</button>
          </div>
        </div>
      </div>
      <repertoire
        :data="data"
        :external="false"
      ></repertoire>
    </div>
  </div>
</template>

<script>
import Repertoire from "@/components/Repertoire"
import { mapState } from 'vuex'

export default {
  components: {
    Repertoire
  },
  data() {
    return {
      data: []
    }
  },
  created() {
    this.$api.get(`api/repertoire/`, response => {
      this.data = response.data
    }, true)
  },
  computed: {
    externalUrl() {
      if (window.location.hostname === 'localhost') {
        return `http://localhost:8000/bands/${encodeURIComponent(this.band.name)}/`
      }
      return `${window.location.origin}/bands/${encodeURIComponent(this.band.name)}/`
    },
    ...mapState({
      band: state => state.tehila.selectedBand
    })
  },
  methods: {
    share() {
      navigator.share({
        title: `Repertoire van ${this.band.name}`,
        text: `Bekijke op deze pagina het repertoire van ${this.band.name}`,
        url: this.externalUrl
      })
    }
  }
}
</script>