<template>
  <div class="section">
    <div class="box container">
      <h2 class="subtitle">Uitnodigingen</h2>
      <p v-if="invites.length === 0">Geen uitnodigingen</p>
      <div v-else>
        <div v-for="invite in invites">
          <hr />
          <div>
            <p class="is-size-7">{{ $filters.dutchDate(invite.created_time) }}</p>
            <p class="mb-2">{{ invite.sender.name }} nodigt je uit voor {{ invite.band.name }}.</p>
            <div class="buttons">
              <button
                class="button"
                type="button"
                @click="acceptInvite(invite)"
              >Accepteer uitnodiging</button>
              <button
                class="button is-danger is-outlined"
                type="button"
                @click="deleteInvite(invite.id)"
              >Verwijder uitnodiging</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  created() {
    this.$store.dispatch('tehila/invites/get')
  },
  computed: {
    ...mapState({
      invites: state => state.tehila.invites.data
    })
  },
  methods: {
    deleteInvite(invite_id) {
      this.$api.delete(`api/invites/${invite_id}/`, _ => {
        this.$store.commit('tehila/invites/remove', invite_id)
      })
    },
    acceptInvite(invite) {
      this.$api.post(`api/invites/${invite.id}/accept/`, {}, _ => {
        this.$store.commit('tehila/invites/remove', invite.id)
        const bandUpdate = this.$store.dispatch('tehila/setBand', invite.band)
        const userUpdate = this.$store.dispatch('auth/refreshUserData')
        Promise.all([bandUpdate, userUpdate]).then(() => {
          this.$router.push({ name: 'tehila:home' })
        })
      })
    }
  }
}
</script>