<template>
  <div
    class="section"
    v-if="pdfMusic !== null"
  >
    <div class="container">
      <div
        v-if="editable"
        class="toolbar"
      >
        <ButtonWithConfirm
          @confirm="del"
          button-class="ms-icon button pdf-delete"
          button-text=""
          confirm-text="Weet je zeker dat je deze bladmuziek wil verwijderen?"
          confirm-button-text="Verwijderen"
          cancel-button-text="Annuleren"
        />
      </div>
      <div class="pages">
        <img
          v-for="(page, index) in pdfMusic.pages"
          :src="page.image"
          :alt="`Sheet music page ${index}`"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { ButtonWithConfirm } from '@/shared-vue'
export default {
  components: {
    ButtonWithConfirm
  },
  props: ['pdfMusicId', 'editable'],
  data() {
    return {
      pdfMusic: null
    }
  },
  created() {
    this.$api.get(`api/pdf-music/${this.pdfMusicId}/`, pdfMusic => {
      pdfMusic.pages.sort((a, b) => a.page_number - b.page_number)
      this.pdfMusic = pdfMusic
    })
  },
  methods: {
    del() {
      this.$api.delete(`api/pdf-music/${this.pdfMusicId}/`, _ => {
        this.$router.go(-1)
      })
    }
  }
}
</script>

<style scoped>
.pages {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.pdf-delete {
  font-size: 1.2em;
  padding: 0.6em;
}

.toolbar {
  display: flex;
  justify-content: end;
  margin-bottom: 1em;
}
</style>