<template>
  <div>
    <div
      class="no-print"
      style="display: flex; justify-content: space-between;"
    >
      <h1 class="subtitle">Tehila</h1>
      <RouterLink :to="{ name: 'tehila:public:list' }">Terug</RouterLink>
    </div>
    <OpenLyrics
      v-if="content !== null"
      @save="save"
      @delete="del"
      :content="content"
      :currentSavedState="currentSavedState"
      :song-title="songTitle"
      :editable="true"
      :toolbar="true"
      :floating-view-settings="false"
      :local="true"
    />
  </div>
</template>

<script>
import OpenLyrics from '@/components/OpenLyrics/OpenLyrics.vue'

export default {
  components: { OpenLyrics },
  props: ['id'],
  data() {
    return {
      content: null,
      currentSavedState: null,
      saving: false,
      songTitle: null,
      database: null
    }
  },
  created() {
    this.createDb()
  },
  methods: {
    createDb() {
      const openRequest = indexedDB.open("tehila-public", 1)
      openRequest.addEventListener('error', (err) => console.log(err))
      openRequest.addEventListener('success', () => {
        this.database = openRequest.result
        this.loadSong()
      })
      openRequest.addEventListener('upgradeneeded', (init) => {
        this.database = init.target.result
        this.database.onerror = (err) => console.log(err)
        if (!this.database.objectStoreNames.contains('openlyrics')) {
          this.database.createObjectStore('openlyrics', { keyPath: 'id', autoIncrement: true })
        }
      })
    },
    loadSong() {
      const store = this.database.transaction('openlyrics').objectStore('openlyrics')
      store.get(parseInt(this.id)).addEventListener('success', e => {
        const obj = e.target.result
        if (obj === undefined) {
          // This happens sometimes with Testcafe?
          return
        }
        this.songTitle = obj.title
        this.content = obj.content ? obj.content : ''
        this.currentSavedState = this.content
      })
    },
    del() {
      const transaction = this.database.transaction('openlyrics', 'readwrite')
      transaction.onerror = (err) => console.log(err)
      const store = transaction.objectStore('openlyrics')
      store.delete(parseInt(this.id)).onsuccess = () => {
        this.$notify({
          text: 'Deze is nu verwijderd!',
          style: 'warn',
        })
      }
    },
    save(event) {
      if (this.saving) {
        return
      }
      if (!event.variant) {
        this.$notify({
          text: 'Variant niet ingevuld',
          style: 'warn',
        })
        return
      }
      this.saving = true
      const transaction = this.database.transaction('openlyrics', 'readwrite')
      transaction.onerror = (err) => console.log(err)
      const store = transaction.objectStore('openlyrics')
      store.put({
        id: parseInt(this.id),
        title: this.songTitle,
        content: event.content
      }).addEventListener('success', e => {
        this.$notify({
          text: 'Opgeslagen',
          style: 'success',
        })
        this.currentSavedState = event.content
        this.saving = false
      })
    },
  }
}
</script>