<template>
  <div>
    <div class="hero is-link">
      <div class="hero-body">
        <h1 class="title">OpenLyrics editor</h1>
      </div>
    </div>
    <section class="section">
      <div class="container">
        <h2 class="subtitle">Opgeslagen muziek</h2>
        <p style="margin-bottom: 1em">Deze muziek is opgeslagen in je browser, dus het verdwijnt als je data in de
          browser
          opruimt.</p>
        <div
          v-for="song in songs"
          class="song"
        >
          <RouterLink :to="{ name: 'tehila:public:editor', params: { id: song.id } }">{{ song.title }}</RouterLink>
          <div class="buttons">
            <RouterLink
              :to="{ name: 'tehila:public:editor', params: { id: song.id } }"
              class="button is-small"
            >Open</RouterLink>
            <button
              class="button is-danger is-small is-outlined"
              @click="delSong(song.id)"
              type="button"
            >Delete</button>
          </div>
        </div>
        <hr />
        <h2 class="subtitle">Nieuw nummer toevoegen</h2>
        <div class="columns">
          <form
            @submit.prevent="newSong"
            class="column"
          >
            <TextInput
              html-id="new-title"
              v-model="newTitle"
              label="Title"
            />
            <button
              id="new-song"
              type="submit"
              class="button"
            >Add</button>
          </form>
          <form
            @submit.prevent="uploadMusicxml"
            class="column"
          >
            <FileInput
              html-id="musicxml-file"
              v-model="musicXmlFile"
              label="MusicXML file"
            />
            <button
              id="new-musicxml"
              type="submit"
              class="button"
            >Upload</button>
          </form>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { FileInput, TextInput } from "@/shared-vue"
export default {
  components: {
    FileInput,
    TextInput
  },
  data() {
    return {
      newTitle: null,
      database: null,
      songs: [],
      musicXmlFile: null,
    }
  },
  created() {
    this.createDb()
  },
  methods: {
    uploadMusicxml() {
      this.$api.post('api/parse-musicxml/',
        this.musicXmlFile,
        response => {
          const title = response.data.match(/<title>(?<title>[^<]+)/).groups.title
          const dbObject = { title: title, content: response.data }
          const transaction = this.database.transaction(['openlyrics'], 'readwrite')
          transaction.addEventListener('complete', () => {
            this.loadSongs()
          })
          transaction.addEventListener('error', (err) => console.log(err))
          const store = transaction.objectStore('openlyrics')
          const query = store.add(dbObject)
          query.addEventListener('success', () => {
            this.musicXmlFile = null
          })
        },
        true
      )
    },
    createDb() {
      const openRequest = indexedDB.open("tehila-public", 1)
      openRequest.addEventListener('error', (err) => console.log(err))
      openRequest.addEventListener('success', () => {
        this.database = openRequest.result
        this.loadSongs()
      })
      openRequest.addEventListener('upgradeneeded', (init) => {
        this.database = init.target.result
        this.database.onerror = (err) => console.log(err)
        if (!this.database.objectStoreNames.contains('openlyrics')) {
          this.database.createObjectStore('openlyrics', { keyPath: 'id', autoIncrement: true })
        }
      })
    },
    loadSongs() {
      this.songs = []
      const store = this.database.transaction('openlyrics').objectStore('openlyrics')
      store.openCursor().addEventListener('success', e => {
        const pointer = e.target.result
        if (pointer) {
          this.songs.push(pointer.value)
          pointer.continue()
        }
      })
    },
    newSong() {
      const dbObject = { title: this.newTitle }
      const transaction = this.database.transaction(['openlyrics'], 'readwrite')
      transaction.addEventListener('complete', () => {
        this.loadSongs()
      })
      transaction.addEventListener('error', (err) => console.log(err))
      const store = transaction.objectStore('openlyrics')
      const query = store.add(dbObject)
      query.addEventListener('success', () => {
        this.newTitle = null
      })
    },
    delSong(id) {
      const transaction = this.database.transaction('openlyrics', 'readwrite')
      transaction.onerror = (err) => console.log(err)
      const store = transaction.objectStore('openlyrics')
      store.delete(parseInt(id)).addEventListener('success', e => {
        this.$notify({
          text: 'Deleted',
          style: 'success',
        })
        this.loadSongs()
      })
    }
  }
}
</script>

<style scoped>
.song {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  gap: 3em;
  border-bottom: 1px solid #aaa;
}
</style>