<template>
  <div class="container">
    <div class="section">
      <div class="box">
        <h2 class="subtitle">Recording servers</h2>
        <p v-if="recorders.length === 0">Er zijn geen recorder servers.</p>
        <div v-else>
          <div
            class="server"
            v-for="recorder in recorders"
            :key="recorder.id"
          >
            <div>
              {{ recorder.name }}
              <span
                v-if="isOnline(recorder) === true"
                class="tag is-success"
              >Online</span>
              <span
                v-else-if="isOnline(recorder) === false"
                class="tag"
              >Offline sinds {{ $filters.dutchDateTime(recorder.last_seen) }}</span>
              <span
                v-else
                class="tag is-warning"
              >Nooit online geweest</span>
            </div>
            <a
              v-if="isOnline(recorder)"
              class="button is-small"
              :href="`${baseUrl}recorder/open/${recorder.id}/`"
            >Open</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      recorders: [],
      interval: null,
      baseUrl: import.meta.env.VITE_APP_API_URL
    }
  },
  mounted() {
    this.refresh()
    this.interval = setInterval(this.refresh, 30 * 1000)
  },
  beforeUnmount() {
    clearInterval(this.interval)
  },
  methods: {
    isOnline(recorder) {
      if (recorder.last_seen === null) {
        return null
      }
      const now = Date.now()
      const lastSeen = Date.parse(recorder.last_seen)
      return now - lastSeen < 60 * 1000
    },
    refresh() {
      this.$api.get('api/recorder-server/', response => {
        this.recorders = response
      })
    }
  }
}
</script>

<style scoped>
.server {
  border-bottom: 1px solid gray;
  padding: 0.3em;
  display: flex;
  gap: 1em;
  justify-content: space-between;
}

.server:first-child {
  border-top: 1px solid gray;
  margin-top: 0.5em;
}
</style>