<template>
  <div class="section">
    <div class="container">
      <div
        v-if="stats"
        class="box"
      >
        <h2 class="subtitle">Stats</h2>
        <p>
          Total songs: {{ stats.total_songs }}<br />
          User created songs: {{ stats.non_collection_songs }}
        </p>
        <table
          class="table"
          aria-label="Data per collection"
        >
          <thead>
            <tr>
              <th>Collection</th>
              <th>Song count</th>
              <th>Missing release year</th>
              <th>No collection number</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="c in stats.collection_data">
              <td>{{ c.title }}</td>
              <td>{{ c.num_songs }}</td>
              <td>{{ c.no_release_year }}</td>
              <td>{{ c.no_number }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <Collection />
      <div class="columns">
        <div class="column">
          <SongSelect
            @select-song="selectSong"
            title="Songs"
            class="box"
            button-text="Edit"
          />
        </div>
        <div class="column">
          <ModelTable
            class="box"
            modelName="Collections"
            :config="collectionConfig"
            v-model="collectionModel"
            :data="collections"
            apiStore="tehila/collections"
          />
        </div>
      </div>
      <Modal
        :active="formActive"
        @close="formActive = false"
      >
        <ModelForm
          @close="formActive = false"
          :close-button="true"
          modelName="Song"
          :config="songConfig"
          api-store="tehila/songs"
          @submit-form="formSubmitted"
          v-model="songModel"
        />
      </Modal>
      <div class="columns">
        <div class="column">
          <div class="box">
            <h2 class="subtitle">Import OpenLyrics</h2>
            <FileInput
              v-model="openlyrics"
              :multiple="true"
              label="OpenLyrics files"
            />
            <p>{{ openlyricsResponse }}</p>
            <button
              @click="sendOpenlyrics"
              class="button"
              type="button"
            >Send</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Collection from '@/components/Collection.vue'
import SongSelect from "@/components/SongSelect"
import { FileInput, Modal, ModelForm, ModelTable, TextInput } from "@/shared-vue"
import { mapState } from "vuex"

export default {
  components: {
    ModelTable,
    Modal,
    TextInput,
    SongSelect,
    ModelForm,
    FileInput,
    Collection,
  },
  data() {
    return {
      openlyrics: null,
      openlyricsResponse: '',
      openLyricsOverride: false,
      collectionModel: {
        title: ''
      },
      songModel: {
        title: null,
        release_year: null,
        collections: null
      },
      formActive: false,
      stats: null,
    }
  },
  methods: {
    selectSong(event) {
      if (event.created) {
        this.$store.commit('tehila/songs/setSearchResults', [event.song])
        return
      }
      this.songModel = JSON.parse(JSON.stringify(event.song))
      this.formActive = true
    },
    formSubmitted() {
      this.formActive = false
    },
    sendOpenlyrics() {
      this.$api.post('api/import-openlyrics/',
        this.openlyrics,
        response => this.openlyricsResponse = response,
        true,
        errResponse => errResponse.text().then(text => this.openlyricsResponse = text))
    }
  },
  computed: {
    songConfig() {
      return {
        url: "api/songs/",
        fields: {
          title: { label: "Title", type: "text", default: "" },
          release_year: { label: "Release Year", type: "number", default: null },
          source: { label: "Artiest, bundel, collectie", type: 'text', default: null },
          collections: {
            label: "Collections",
            type: "throughModel",
            default: [],
            modelFields: {
              collection: {
                label: "Collection",
                type: "select",
                default: {
                  id: null
                },
                options: this.collections.data,
                optionValue: "object",
                optionName: "title"
              },
              number: { label: "Number", type: "text", default: "" }
            }
          }
        }
      }
    },
    collectionConfig() {
      return {
        url: "api/collections/",
        fields: { title: { label: "Title", type: "text", default: "" } }
      }
    },
    ...mapState({
      songs: state => state.tehila.songs,
      collections: state => state.tehila.collections,
      songInCollection: state => state.tehila.songInCollection
    })
  },
  created() {
    this.$store.dispatch("tehila/songs/get")
    this.$store.dispatch("tehila/collections/get")
    this.$api.get("api/songs-data/", (response) => {
      this.stats = response
    })
  }
}
</script>
