<template>
  <div class="section">
    <model-table
      class="box"
      modelName="Tag"
      :config="config"
      v-model="model"
      :data="tags"
      apiStore="tehila/tags"
    >
      <template v-slot:extra-table-column="slotProps">
        <td>
          <span
            class="tag"
            :style="{
              'background-color': slotProps.item.background_color,
              color: slotProps.item.text_color,
            }"
          >{{ slotProps.item.name }}</span>
        </td>
      </template>
      <template v-slot:extra-form-inputs>
        <div class="field">
          <label class="label">Preview</label>
          <div class="control">
            <span
              class="tag"
              :style="{
                'background-color': model.background_color,
                color: model.text_color,
              }"
            >{{ model.name }}</span>
          </div>
        </div>
      </template>
    </model-table>
  </div>
</template>

<script>
import { ModelTable } from "@/shared-vue"
import { mapState } from "vuex"

export default {
  components: {
    ModelTable
  },
  computed: {
    ...mapState({
      tags: state => state.tehila.tags
    })
  },
  created() {
    this.$store.dispatch("tehila/tags/get")
  },
  data() {
    return {
      model: {
        name: null,
        background_color: null,
        text_color: null
      },
      config: {
        url: "api/tags/",
        fields: {
          name: { label: "Naam", type: "text", default: "" },
          background_color: { label: "Achtergrondkleur", type: "text", default: "lightblue" },
          text_color: { label: "Tekstkleur", type: "text", default: "black" }
        }
      }
    }
  }
}
</script>